1.0 Glosario<br/>
Grimaces – emoticón personalizado y widget<br/>
Emoticon – videoemoción<br/>
Shot - un video corto hasta 7 segundos en un círculo<br/>
Flow - un flujo de videos<br/>
Vistoria - crónica personal de videos<br/>
Vlog - canal personal del usuario<br/>
Mon coin - sistema de pagos interno<br/>

Invitar al amigo  - una forma de invitación a su amigo cuando usted y él consigue 100 mon coines<br/>
         
&1.1 Búsqueda<br/>
Se trata de un nuevo tipo de búsqueda social de personas. El resultado de la búsqueda representa personas reales.<br/>
Selecciona una opción en cada categoría y haz clic en “Buscar”. Los resultados se muestran en una lista donde se puede desplazar hacia abajo fácilmente.<br/>
Puedes buscar una persona por perfil, es decir, por su nombre, apellido, lugar de residencia, idioma, trabajo o amigos. O por los intereses, preferencias y puntos de vista. Puedes buscar a una persona por qué, cuándo y dónde hizo.<br/>

&1.2. Llamada<br/>
Puedes contactar a otro usuario directamente.
Si compraste algo, lo alquilaste o te lo donaron, el dueño de ese objeto podrá llamarte directamente para facilitar la comunicación. Si deseas pedir algunos servicios a unos usuarios, ponte en contacto con ellos directamente.
Si invertiste en un proyecto, su autor puede llamarte. También puede conectarse contigo el autor de las tareas que has realizado. O el autor del flujo al cual estás suscrito.<br/>
 

&2. Perfil - cuestionario<br/>

Si llenas el perfil extendido vas a ganar 150 mon coines más.
Llenar el cuestionario ampliado es muy importante:  esto nos dará la posibilidad de seleccionar el contenido según tus intereses de forma automática.
“Las muecas” hacen tu cartera personal reflejando tus intereses y datos personales. “Estadísticas” muestran todo lo que has creado.<br/>
 

&2.1 Invita a tus amigos<br/>
Usando Invite Token puedes invitar a un amigo o una persona cercana a la aplicación, después de lo que tu y él obtendrán 100 mon coines cada uno. Tienes 3 invitaciones, por lo que hay que gastarlas sabiamente y enviarlas a los que realmente las necesiten. Para aquellos usuarios que gasten sus ahorros de mon coines rápidamente ofrecemos una oportunidad adicional de ganar y les damos un Invite Token más.<br/>
 
&3. Emoticonos<br/>
Aquí están los flujos recogidos de emoticonos, video-emociones cortas; que se dividen en corrientes a emociones específicas.<br/>
A la derecha hay un botón de disparo emoticonos - video-emociones personalizadas vinculadas a emociones específicas. Elija su emoción y quitarse los vídeos utilizando la cámara frontal.<br/>
La sección "Lo mejor" -   emoticonos, que obtuvieron el mayor número de puntos de vista y gustos.<br/>
"Mi elección" – los emoticonos  de la gente, a que has suscribido.<br/>
   "Todos" – todos emoticones.<br/>
 

&4. Grimaces<br/>
Con el widget puedes utilizar tus muecas, o emociones personales,  en cualquier aplicación de comunicación sin salir de esta. Serás capaz de compartir tus muecas con otros usuarios.<br/>
¡Inventa una mueca divertida que puede ser tu nuevo avatar único en otras aplicaciones!<br/>
Filma tu mueca presionando el botón "+" en la sección “Muecas” o haciendo clic en el signo "+" situado en el widget o filmando un emoticón. Te recomendamos grabar muecas a la vez con emoticones.<br/>
Haz un clic en el icono  para comprar una mueca por 25 mon coines. La acción no se cancela.<br/>
Haz clic en una mueca para venderla. Puedes retirarla de la venta con un clic más. Cada compra te traerá 25 mon coines.<br/>
 

&5. Vistoria<br/>
Aquí se puede elegir entre 3 categorías - Flows, donde  estan todo flujos de vídeo, Vlog - tu fuente de vídeo personal, Mi elección - las suscripciones.<br/>
 
&5.1 Flow<br/>
A la izquierda hay un botón para filmar emoticones - videoemociones personalizadas vinculadas a emociones específicas. Elige tu emoción y filma videos utilizando la cámara frontal.<br/>
A la derecha hay un botón para hacer shots, utiliza cualquier cámara, elige la categoría principal y agrega etiquetas correctas.<br/>
Para cada vídeo se puede añadir una banda sonora, filtros únicos y elegir la vista previa perfecta.<br/>
El flujo de vídeo se crea automáticamente en la base de tres criterios: lugar, tiempo y etiqueta, - que también serán traducidos automáticamente a cualquier idioma de la aplicación.<br/>
“Todo” es todos los videos.<br/>
"Favoritos" - lo que ha recibido tu like.<br/>
   "Hoy dia" - un videos creados en las últimas 24 horas.<br/>
"Emoticonos" - donde se puede utilizar la intuición y adivinar la emoción de otra persona.<br/>
 
&5.1a Vídeo<br/>

Para marcar un video con “like” y dar al autor 1 mon coin haz clic en el icono. Todo lo que vas a marcar con “like” aparecerá en “Mi elección”.<br/>
Puedes suscribirte a cualquier flujo por 25 mon coines y aparecerá de inmediato en “Mi elección” y su autor será recompensado. Ve al perfil del autor y selecciona “Suscribir”.<br/>

Puedes dejar un comentario a cada video o filmar una videorespuesta para compartir con tus amigos o quejarte de un video que infringe las reglas de la red social.<br/>
 
&5.2 Vlog<br/>
Filma tu primer video ahora para comenzar tu vlog y obtener 50 mon coines.<br/>
¡Conviértete en el protagonista de tu propio videocanal! Comienza tu propio vlog, graba videos todos los días,  haz una crónica de tu vida, compartela con tus amigos y el mundo entero. Cada usuario puede crear su propio canal personal para capturar los momentos más emocionales de su vida.<br/>
“Vlog” incluye todos tus videos. En las otras fichas se presentan sólo tus emoticones personales o shots.<br/>
 
&5.3 Mi elección<br/>
"Mi elección" - una secuencia de vídeo de la gente, que te registraste. Para inscribirse es necesario ir al perfil, y haz clic en el botón de suscribirse. El perfil se puede acceder haciendo clic en el nombre del autor del video.<br/>
 
&6. Felicitaciones<br/>
Usted puede felicitar a un ser querido, usando emoticonos, es decir videoemotsii o eliminar video especial - tiro. Con esta sección, que nunca olvidará que usted tiene que felicitar a tus amigos o familiares.<br/>
  Hay tres secciones: Religión - fiestas religiosas, la gente - Vacaciones asociados con tus amigos, Eventos - otras fiestas y eventos.<br/>
 
&7. Mercado<br/>
Aquí se puede elegir entre 3 categorías – Mon coin, donde se puede aprender más sobre el sistema de pago, Crowd, donde se pueden realizar actividades sociales, y Mirada ajena, donde puedes pedir grabar un video o hacer una tarea tú mismo.<br/>
 
&7.1 Mon coin<br/>
Mon coin es el sistema de pago interno.<br/>
Filma tu primeros 100 videos y gana 500 mon coines adicionales<br/>
Crea una colección completa de emoticones y muecas por 300 mon coines<br/>
Llena el formulario extendido por 150 mon coines<br/>
Invite a sus amigos - 100 mon coin por uno<br/>
Comienza a filmar un vlog personal por 50 mon coines<br/>
Vota - 25<br/>
Toma cualquier vídeo - 5, compártelo y obtén otros 10<br/>
Filma cualquier mueca - 10, compártela y obtén otros 15<br/>
Obtenga una suscripción - 5<br/>
Recibe un “Me gusta” - 1<br/>
 
&7.2 Mirada ajena<br/>

Puedes cumplir una tarea rodando una videorespuesta. O puedes crear tu propia tarea gastando 150 mon coines. Para cumplir una tarea hace falta filmar una videorespuesta, por eso obtendrás 25 mon coines.<br/>
 
&7.3  Crowd<br/>
Aquí, en el "crowdfunding" se puede dibujar recursos y pregunte por los demás usuarios.<br/>
Hay objetos o competencia presentados que se pueden compartir, o para donar o intercambiar. Delante de cada video hay un clic botón en el que el usuario se traduce la cantidad indicada de monedas comunes para el autor del vídeo. Después de que usted puede ponerse en contacto con el propietario del vídeo. La acción no se puede deshacer.<br/>

Para crear un video para una de estas categorías sólo hace falta hacer un clic en el botón "+" en la esquina inferior a la derecha y filmar.<br/>
 
&8. Info<br/>
Aquí se puede elegir entre 3 categorías - información, que contiene toda la información importante acerca de la aplicación de la retroalimentación, a través del cual usted puede ponerse en contacto con nosotros o escribir una crítica, y la votación - donde los usuarios a resolver colectivamente alguna pregunta.<br/>

&8.1 Info<br/>
Aquí esta toda la información que te ayudará a convertirte en uno de nosotros. Puedes familiarizarte con el acuerdo de usuario, las condiciones de uso y obligaciones de las partes, la política de seguridad, averiguar como aseguramos la seguridad de tus datos, el contenido y la información, o leer una guía detallada sobre esta aplicación.<br/>
 
&8.2 Comentarios<br/>
Escríbenos si tienes una idea o has encontrado un error, siempre estaremos encantados de responderte.<br/>
Puedes escribir, por ejemplo, como te gustaría mejorar la aplicación.<br/>
Si encuentras un error o algún problema, todo lo que no te permite usar la aplicación, por favor escribenos, nosotros lo arreglaremos!<br/>
Si encuentras contenido que infringe las reglas de la red social o alguna ley o si algún usuario está molestando a los demás, por favor ponte en contacto con nosotros.<br/>
Para cada uno de los pasos mencionados simplemente haz clic en el botón "+" en la esquina inferior a la derecha.<br/>

&8.3 Voto<br/>
Votad e influid en el futuro de esta aplicación. Aquí los usuarios son los que deciden todas las cuestiones importantes.<br/>
La ficha “Reciente” contiene todas las votaciones que están teniendo lugar en el momento y en las cuales se puede participar. En la “Historia” están todas las votaciones que terminaron. Si quieres empezar tu propia votación ve al “Iniciar”.
Por cada votación en la que tu participas te damos 25 mon coines, pero tu mismo puedes iniciar una votación sobre cualquier tema por 250 mon coines.<br/>

&9. Descargo de responsabilidad<br/>
Está prohibido la publicación de cualquier contenido, ya sean vídeos, fotos, texto o audio que contengan elementos de desnudez, la pornografía, la violencia, la crueldad, tanto en relación con las personas y animales, llamados a la violencia, racial, religioso, étnico o cualquier otra odio, racismo, cualquier manifestación de extremismo, el apoyo al terrorismo, la incitación a desobedecer la ley o las autoridades, o de cualquier otro delito, tanto en la legislación local e internacional. Nos reservamos el derecho a eliminar tal contenido sin explicación, evaluar la elegibilidad de las acciones no está permitido y no puede ser impugnada. La aplicación no asume ninguna responsabilidad por cualquier contenido publicado por los usuarios, ya que no está llevando a cabo antes de la moderación. Toda la responsabilidad en su totalidad lleva al usuario. Aplicación bajo qué condiciones no pueden ser un demandante en el caso, o en el caso de la corte, que se ocupa de dicho contenido. El uso de la aplicación y el registro, el usuario confirma por la presente que está familiarizado con estas reglas y las acepta.<br/>
