1.0 Глоссарий<br/>
Grimace, Гримаса – персонализированный смайл и виджет<br/>
Emoticon, Emoticons, Эмотикон, Эмотиконы – видео-эмоции<br/>
Shot, Шот   - короткое видео до 7 секунд в круглой рамке<br/>
Flow, Флоу – непрерывный видеопоток<br/>
Vistory – личная видеолетопись<br/>
Vlog, Влог – личный канал пользователя<br/>
Mon coin - внутренняя платежная система<br/>
Invite Token – форма приглашения твоего друга, когда ты и он получаете по 100 mon coins<br/>

&1.1  Поиск<br/>
Это новый вид социального поиска по людям.   Выбери параметр в каждой категории и нажми на поиск. Ты можешь искать по профилю пользователя, его имени, фамилии, месту жительству, языку, работе, компетенциям и друзьям. Или по его интересам, предпочтениям и мировоззрению.  Ты можешь искать человека по тому, когда, где и что он сделал, и найти первоисточник информации.<br/>
 
&1.2. Звонок<br/>
Ты можешь напрямую связаться с другим пользователем.<br/>
Если ты купил, получил в пользование или получил пожертвование, пользователь сможет позвонить тебе напрямую. Если ты хочешь использовать чьи-то услуги, также свяжись с этим человеком напрямую.<br/>
Если ты  инвестировал  в проект, его автор может связаться с тобой. С тобой так же может связаться автор задания, которое ты выполнил.  Или автор видеопотока, на который ты подписался.<br/>
 
&2. Профайл-анкета<br/>
Если заполнишь расширенную анкету, то получишь еще 150 mon coin.<br/>
Заполнить расширенную анкету очень важно: это даст возможность подбирать контент по твоим интересам автоматически.<br/>
«Гримасы» представляют собой твое личное портфолио.  «Анкета»  отражает твои интересы и данные. “Статистика” отображает весь созданный тобой контент.<br/>
 
&2.1 Пригласи друга<br/>
Используя Invite Token ты можешь пригласить друга или близкого в приложение, после чего и ты, и он получите каждый по 100 mon coins. У тебя есть 3 приглашения, поэтому расходуй их с умом, отправь их именно тому, кому это реально нужно. Для тех пользователей, кто быстро израсходует свои накопления mon coin, мы предоставляем дополнительную возможность заработать и даем еще один Invite Token.<br/>
 
&3. Эмотиконы<br/>
Тут собраны потоки эмотиконов, коротких видео-эмоций, они разбиты на потоки по конкретным эмоциям.<br/>
Справа находится кнопка съемки эмотиконов – персонализированных видеоэмоций, привязанных к конкретной эмоции. Выбери эмоцию и сними видео с помощью фронтальной камеры.<br/>
Раздел «Лучшее» – это те эмотиконы, которые набрали наибольшее количество просмотров и лайков.<br/>
«Мой выбор» - эмотиконы людей, на которых ты подписан.<br/>
 «Все» – абсолютно все эмотиконы.<br/>
 
&4. Гримасы<br/>
С помощью виджета гримас ты сможешь использовать свои гримасы и личные эмоции в любом приложении для коммуникации, не выходя из него. Ты сможешь обмениваться гримасами с другими пользователями.<br/>
Сделай прикольную гримасу, и она может стать твоим новым уникальным аватаром в других приложениях!<br/>
Сними гримасу, нажав на «+» в разделе «Гримасы» в приложении или же нажав на «+» прямо в виджете.<br/>
Кликая на иконку, ты приобретаешь гримасу за 25 mon coin. Действие нельзя отменить. Кликая на свою гримасу, ты выставляешь ее на продажу. Еще один клик снимает ее с продажи. Каждая покупка твоей гримасы принесет тебе 25 mon coin. <br/>
 
&5. Вистори<br/>
Тут ты можешь выбрать из 3 категорий – собственно Видеопотоков,  где собраны все видеопотоки, Влог – твой персональный видео-канал, Мой выбор – твои подписки.<br/>
 
&5.1    Видеопотоки<br/>
Справа находится кнопка съемки шотов, для них можно использовать любую камеру, главное добавить правильную категорию и теги.<br/>
К каждому видео можно добавить саундтрек, наложить уникальный фильтр и выбрать идеальное превью.<br/>
Видеопоток создается автоматически на основе трех критериев: места, времени и тега, которые также будут автоматически переведены на любой язык приложения.<br/>
«Все» – абсолютно все потоки.<br/>
«Избранное» – то, что ты лайкнул<br/>
«Сегодня» - видео, созданные в течение последних 24 часов.<br/>
«Эмотиконы» - где, ты можешь использовать интуицию и угадать чужую эмоцию.<br/>

&5.1.a Видео<br/>
Чтобы поставить лайк и отдать автору 1 mon coin, нажми на иконку. Все, что ты отметил лайком, попадет в «Твой выбор».   <br/>
Ты можешь подписаться на любой личный видеопоток за 25 mon coin, и он сразу попадет в «Избранное», а его автор получит вознаграждение. Зайди в профиль автора и выбери опцию «Подписаться».<br/>
Ты можешь оставить комментарий к каждому видео или снять видеоответ, поделиться с друзьями или пожаловаться, если видео нарушает правила сети.<br/>

&5.2  Влог<br/>
Сними свое первое видео прямо сейчас, чтобы начать свой влог, и получи 50 mon coin.<br/>
Стань звездой  собственного видеоканала! Начни свой влог, снимай видео ежедневно, пиши летопись своей жизни, делись ей с друзьями и всем миром. Каждый пользователь может вести свой персональный влог, запечатлевая самые эмоциональные моменты своей жизни.<br/>
В закладке влог находятся видео, которые ты снял специально. В других закладках представлены только твои личные эмотиконы или шоты.<br/>

&5.3 Мой выбор<br/>
«Мой выбор» - видеопотоки, людей, на которых ты подписан. Чтобы подписать нужно зайти на профиль пользователя и нажать на кнопку подписки. В профиль пользователя можно попасть, кликнув на имя автора видео.<br/>

&6.   Поздравления<br/>
Ты можешь поздравить близкого человека, используя эмотиконы, то есть видеоэмоции, или же снять специально видео – шот. С помощью этого раздела, ты никогда не забудешь о том, что тебе нужно поздравить своих друзей или близких.<br/>
Тут находятся три раздела: Религия – религиозные праздники, Люди – праздники, связанные с твоим друзьями, События – любые другие праздники и мероприятия.<br/>

&7. Маркетплейс<br/>

Тут ты можешь выбрать из 3 категорий – Mon coin, где можешь больше узнать о платежной системе, Крауд, где ты можешь вести социальную деятельность, и Чужой взгляд, где ты можешь попросить снять видео или сам выполнить задание.<br/>

&7.1 Mon coin<br/>

Mon coin – это внутренняя платежная система.<br/>

Сними  первые 100 видео и получи дополнительные 500 mon coin<br/>
Создай полную  коллекцию эмотиконов и гримас за 300 mon coin<br/>
Заполни расширенную анкету за 150 mon coin<br/>
Пригласи друга - 100 mon coin<br/>
Начни снимать персональный влог за 50 mon coin<br/>
Выполни задание - 15<br/>
Проголосуй - 25<br/>
Сними любое видео - 5, поделись им и получи еще 10<br/>
Сними любую гримасу - 10, поделись ей и получи еще 15<br/>
Получи подписчика  – 5<br/>
Получи лайк – 1<br/>
            
&7.2 Чужой взгляд<br/>
Ты можешь выполнить задание, сняв видеоответ на него. Или же ты можешь создать свое собственное задание, потратив 150 mon coin.<br/>
Чтобы выполнить задание достаточно снять видеответо на него, за выполнение задание ты получишь 25 mon coin.<br/>
            
&7. 3    Крауд<br/>

Здесь же в разделе «Краудфандинг» ты можешь привлечь ресурсы и попросить об этом у других пользователей.<br/>
Тут представлены объекты или компетенции, которыми можно поделиться, или пожертвовать, или обменяться. При клике на иконку действия с баланса пользователя на баланс автора видео переходит указанная сумма вирутальных mon coin. После этого можно связаться с хозяином видео. Покупка или продажа происходит по клику, действие не имеет обратной силы.<br/>
Чтобы создать видео для одной из этих категорий, достаточно нажать на кнопку «+»  в нижнем правом углу и снять его.<br/>
 
&8. Инфо<br/>
Тут ты можешь выбрать из 3 категорий – Инфо, где собраны вся важная информация о приложении, Обратной связи, через которую ты можешь связаться с нами или оставить свое мнение, и Голосование - где пользователи коллективно решают любые вопросы.<br/>
 
&8.1 Инфо<br/>
Тут собрана вся информация, которая поможет стать одним из нас. Ты можешь ознакомиться с пользовательским соглашением – правилами пользования приложением и обязанностями сторон, политикой безопасности. Узнай о том, как мы обеспечиваем безопасность твоих данных, контента и информации, или прочти подробный справочник о том, как пользоваться этим приложением.<br/>
 
&8.2 Обратная связь<br/>
Напиши нам, если у тебя есть идея, как сделать приложение лучше, или если ты нашел ошибку, мы всегда будем рады ответить на твое письмо.<br/>
В разделе предложений ты можешь написать, например, о том, как бы ты хотел улучшить приложение.<br/>
Если ты найдешь баг, ошибку, неполадку – все, что мешает тебе пользоваться приложением, напиши нам, и мы исправим это!<br/>
Если ты нашел контент, который нарушает правила сети или закон, или если какой-то пользователь мешает другим, тоже напиши нам об этом.<br/>
Для того чтобы сообщить об этом, нужно просто нажать на кнопку «+» в нижнем правом углу.<br/>
 
&8.3 Голосование<br/>
Голосуйте и влияйте на будущее этого приложения. Именно пользователи решают все важные вопросы, связанные с ним.<br/>
В закладке «Актуальное» находятся все голосования, которые происходят на настоящий момент, и в которых ты можешь принять участие. В «Истории» сохранены все голосования, которые уже прошли.  Если ты хочешь сам начать голосование перейди в раздел «Инициировать».
За каждое голосование, в которым ты принял участие, мы даем 25 коинов, но ты сам можешь создать голосование на любую тему за 250 коинов.<br/>
 
&9. Предупреждение<br/>
В приложении запрещена публикация любого контента, будто видео, фото, текст или аудиозапись, содержащие элементы наготы, порнографии, насилия, жестокости как по отношению к людям, так и животным, призывы к насилию, расовой, религиозной, этнической или любой другой розни, расизму, любым проявлениям экстремизма, поддержки терроризма, призывы к неповиновению закону или властям, или любые другие правонарушения, как местного, так и международного права. Мы оставляем за собой право удалить такой контент без объяснений причин, оценку правомочности действий не допускается и не может быть оспорена. Приложение не несет никакой ответственности за контент размещенный пользователем, так как не проводит премодерацию. Всю ответственность в полном объеме несет только пользователь. Приложение ни при какие условия не может быть истцом в случае суда или дела, где рассматривается подобный контент. Пользуясь приложением и регистрируясь в нем, пользователь тем самым подтверждает, что ознакомлен с данными правилами и акцептует их.пользователь тем самым подтверждает, что ознакомлен с данными правилами и акцептует их.<br/>
