&1.0 Las reglas del juego<br/>
Hay cuatro juegos: ASTRA, CREDO, CLASSIC y ELSE. En ellos se juega con otros usuarios o con el sistema. Se usan acontecimientos que han tenido lugar en el pasado, incluyendo deportes: fútbol, ​​baloncesto, boxeo y tenis, o extremos; juegos virtuales: los tiradores y las estrategias; así como cualesquier acontecimientos de la vida e historias filmados por otros usuarios. La mecánica del juego se utiliza para el desarrollo de las capacidades intelectuales.<br/>
Nuestro juego es un gran deporte. Todo el mundo quiere tener un lugar digno entre los demás jugadores y ganar la puntuación máxima.<br/>
ASTRA Módulo: juegas contra otros participantes. Un set consiste de 5  juegos. La respuesta correcta a cada pregunta se puntua según el grado de dificultad. Preguntas sin respuesta se consideran como respuestas equivocadas. El tiempo del juego no se limita. Cada 15 minutos se determina el tamaño del fondo de premios que será compartido entre los 10 mejores jugadores. Los jugadores más activos siempre serán recompensados. El usuario recibirá su recompensa inmediatamente. Siempre tienes la oportunidad de ganar: haz una elección.<br/>
CREDO Módulo: juegas contra el sistema. El jugador determina la cantidad de costos y contesta a las preguntas del sistema. En cada una de las preguntas debe seleccionar una de 2/4/6 vistas previas de donde ocurrió el evento. Probabilidad es ajustada por el usuario y afecta el tamaño del premio.<br/>
CLASSIC Módulo: juegas contra el sistema. Selecciona una de las vistas previas que ofrece la aplicación. Para cada juego se determina la cantidad de costos y el número de vistas previas - 2,4 o 6. Sólo una de las opciones no es correcta. Por menor que sea la probabilidad, mayor será la recompensa.<br/>
ELSE Módulo: juegas contra el sistema. El jugador ve unas vistas previas de los videos del usuario. Selecciona la opción que prefieras y luego el sistema hará su movimiento. Si vuestras elecciones no coinciden, ganaste. Para cada juego se determina la cantidad de costos y de vistas previas. Por menor que sea la probabilidad, mayor será la recompensa.<br/>
¿Cómo aprender a jugar y ganar el 1ClickGain&?<br/>
Hacer un seguimiento de los episodios, que se repiten.<br/>
Realizar un seguimiento de la puntuación, mayor será la puntuación del partido y menos tiempo para terminar el juego que es menos probable que se anotó otro gol.<br/>
Es posible conocer el resultado del partido, la información sobre la presentación puede reflejar el resultado final del partido, se llegará a ninguna meta.<br/>
En muchas situaciones, el resultado del juego está predefinido episodio, los participantes de forma única dinámicos experimentados con una alta probabilidad puede predecir si o no se alcanza una meta.<br/>
Pena o estándar peligrosa cerca del área de penalti en el desempeño de grandes jugadores es muy peligroso, aumenta la probabilidad de un objetivo múltiple.<br/>
Realizar un seguimiento de los equipos y los jugadores, que son más propensos a obstruir con las disposiciones habituales.<br/>
Tenga cuidado con los delanteros, si la pelota golpea un delantero con clase el aumento probable de la nueva meta.<br/>
Siga los pulgares primeros planos - que a menudo reflejan la alegría o decepción y ayudan a tomar la decisión correcta.<br/>
El resultado depende sólo de ti. A diferencia de los juegos de azar, aquí se puede aprender a tocar, para mejorar sus habilidades y ganar!<br/>
&1.1 Búsqueda<br/>
Esta aplicación es una parte de la plataforma que utiliza un nuevo tipo de búsqueda - por personas, o la búsqueda social. El resultado de la búsqueda son perfiles de unos individuos. Se muestran en una lista de acuerdo con los criterios del usuario.<br/>
Puedes buscar una persona por su perfil, nombre, apellido, lugar de residencia, idioma, trabajo o amigos. O por los intereses, competencias, preferencias, puntos de vista, lo que crearon en el marco de la plataforma. Así puedes encontrar verdaderos expertos, un verdadero creador del contenido y personas que tienen conocimiento verdadero.<br/>
&1.2. Llamada<br/>
Puedes comunicarte directamente con otros usuarios. Si compraste algún artefacto, el propietario de este puede llamarte directamente. Los participantes de un juego también pueden comunicarse directamente.<br/>
&2. Perfil-cuestionario<br/>
Cuando se registras obtienes 150 (15)* golden click (GC) y si completas el cuestionario ampliado vas a ganar otros 150 (15) GC.<br/>
¡Es muy importante completar el cuestionario ampliado! ¡Así vamos a ser capaces de elegir el mejor contenido para tus juegos para hacerlos aún más divertidos!<br/>
*saldo del juego<br/>
&2.1 Invita a tus amigos<br/>
Usando Invite Token puedes invitar a un amigo o un ser querido a la aplicación y cada uno de vosotros obtendrá 100 (10) GC. Tienes sólo 3 invitaciones por eso hay que gastarlas sabiamente y enviarlas sólo a los que realmente las necesiten. Para aquellos usuarios que gasten sus ahorros de golden cick rápidamente les ofrecemos una oportunidad adicional de ganarlos y les damos otro Invite Token.<br/>
&3. Vistoria<br/>
&3.1 Noticias<br/>
Aquí están las noticias - colecciones únicas de las cosas más brillantes y más interesantes que suceden alrededor de los usuarios. Estos son los eventos que te rodean, videos de los testigos y las noticias más calientes y más importantes. Es decir, los eventos que pueden ser realmente interesantes para ti.<br/>
Un usuario puede agregar una noticia a cualquiera de los flujos y otros usuarios pueden comentarla y grabar videorespuestas.<br/>
&3.2  Vlog<br/>
Filma tu primer video ahora para comenzar tu vlog y obtener 50 (10) GC.<br/>
¡Conviértete en el protagonista de tu propio videocanal! Comienza tu propio vlog, graba videos todos los días,  escribe una crónica de tu vida, compártela con tus amigos y el mundo entero. <br/>
¡Filma tus historias y conviértete en el dueño de un argumento para un nuevo juego, gana dinero gracias a contenido interesante! Es la única plataforma donde puedes ofrecer tu propio juego. Por más popular que sea tu trama, más dinero podrás ganar. También podrás aprender algo útil e interesante.<br/>
&3.3 Mi elección<br/>
“Mi elección” contiene videos de tus amigos y tus suscripciones. Puedes suscribirte a cualquier flujo por 25 (1) GC y aparecerá de inmediato en “Mi elección” y su autor será recompensado por 5 (1) GC. Ve al perfil del autor y selecciona “Suscribir”.<br/>
&3.4 La mecánica del video<br/>
A la derecha hay un botón para hacer shots, utiliza cualquier cámara, lo más importante es seleccionar la categoría correcta y agregar etiquetas correctas.<br/>
Para cada vídeo se puede añadir una banda sonora, filtros únicos y elegir la vista previa perfecta.<br/>
El flujo de vídeo se crea automáticamente a base de tres criterios: lugar, tiempo y etiqueta, que también serán traducidos automáticamente a cualquier idioma de la aplicación.<br/>
En cada sección vas a encontrar “Favoritos”, los videos marcados con tu “Me gusta”, y “Todos” - todos los videos.<br/>
“Hoy” contiene las noticias más importantes que se mantienen allí durante 24 horas y luego se trasladan a un archivo. “Lo mejor” son videos con el mayor número de vistas y “Me gusta”.  <br/>
Puedes dejar un comentario a cada video o filmar una videorespuesta para compartir con tus amigos o quejarte de un video que infringe las reglas de la red social.<br/>
&4. Mercado<br/>
&4.1 Golden click<br/>
1clickgain utiliza un sistema de pago interno. En la plataforma cada usuario puede jugar y pagar por otras cosas con este. Puedes agregar dinero a tu cuenta al instante a través de un agregador de pago externo.<br/>
Filma tu primeros 100 videos y gana 500 GC<br/>
Llena el formulario extendido por 150 (15) GC<br/>
Comienza a filmar un vlog personal por 50 (10) GC<br/>
Vota - 25  (1) GC<br/>
Toma cualquier vídeo - 5, compártelo y obtén otros 10 GC<br/>
Hacer una  video-respuesta– 15 GC<br/>
Recibe un “Me gusta” - 1 GC<br/>
Invita a tu  amigo - 100 (10) GC<br/>
&4.2 Mercado de artefactos <br/>
Si tienes "artefactos" interesantes y poco comunes, pueden ser reclamados en nuestro P2P Market Place y podrás intercambiarlos con otros jugadores sin interrumpir tu juego virtual, en el mundo real.<br/>
&4.3 Puntuación <br/>
Aquí puedes encontrar la puntuación de todos los jugadores y encontrar tu lugar en esta. También se puede ver los perfiles de los mejores o tus propias estadísticas del juego.<br/>
&5. Info<br/>
Aquí se puede elegir entre 3 categorías - Información, que contiene toda la información importante acerca de la aplicación; Comentarios, a través de los cuales se puede poner en contacto con nosotros o dejarnos tu opinión; y Votación, donde los usuarios resuelven colectivamente todos los problemas.<br/>
Aquí está toda la información que te ayudará a convertirte en uno de nosotros. Puedes familiarizarte con el acuerdo de usuario, las condiciones de uso y obligaciones de las partes, la política de seguridad, averiguar como aseguramos la seguridad de tus datos, el contenido y la información, o leer una guía detallada sobre esta aplicación.<br/>
&5.2 Comentarios<br/>
Escríbenos si tienes una idea o has encontrado un error, siempre estaremos encantados de responderte. <br/>
Puedes escribir, por ejemplo, como te gustaría mejorar la aplicación.<br/>
Si encuentras un error o algún problema, todo lo que no te permite usar la aplicación, por favor escribenos, ¡nosotros lo arreglaremos!<br/>
Si encuentras contenido que infringe las reglas de la red social o alguna ley o si algún usuario está molestando a los demás, por favor ponte en contacto con nosotros.<br/>
Para cada uno de los pasos mencionados simplemente haz clic en el botón "+" en la esquina inferior a la derecha.<br/>
&5.3 Votación<br/>
Votad e influid en el futuro de esta aplicación. Aquí los usuarios son los que toman todas las decisiones importantes.<br/>
La pestaña “Reciente” contiene todas las votaciones que están teniendo lugar en el momento y en las cuales se puede participar. En la “Historia” están todas las votaciones que ya terminaron. Si quieres empezar tu propia votación ve al “Iniciar”. La participación en la votación de cada edición da 25 (1) GC. Comience su voto vale 250 (15) GC.<br/>
&6. Aviso legal<br/>
Está prohibida la publicación de cualquier contenido, ya sean vídeos, fotos, texto o audio, que contenga elementos de desnudez, pornografía, violencia, crueldad, tanto en relación con las personas como los animales, llamados a la violencia, odio racial, religioso, étnico o cualquier otro, racismo, cualquier manifestación de extremismo, apoyo al terrorismo, la incitación a desobedecer la ley o las autoridades, o de cualquier otro delito, tanto en la legislación local como la internacional. Nos reservamos el derecho a eliminar tal contenido sin explicación, evaluar la elegibilidad de las acciones no está permitido y no puede ser impugnada. La aplicación no asume ninguna responsabilidad por cualquier contenido publicado por los usuarios, ya que no hay premoderación. Toda la responsabilidad en su totalidad pertenece al usuario. La aplicación bajo ningunas condiciones puede ser un demandante en un caso judicial que se ocupe del dicho contenido. Usando la aplicación y registrándose aquí el usuario confirma por la presente que está familiarizado con estas reglas y las acepta.