&1.0  Правила игры<br/>
Есть четыре игры ASTRA, CREDO, CLASSIC и ELSE. В них ты играешь с другими пользователями или с системой. Используются события, которые имели место в прошлом, включая спорт: футбол и баскетбол, бокс и теннис или экстрим; виртуальные игры: шутеры и стратегии; а так же любые жизненные события и сюжеты, снятые другими пользователями. Игровая механика используется и для развития интеллектуальных способностей.<br/>
Наша игра – это большой спорт. Каждый стремится занять достойное место среди других игроков и набрать максимальный рейтинг.<br/>
Модуль ASTRA: ты играешь против других участников. Сет – 5  игр. Правильный ответ на каждый вопрос оценивается в баллах с учетом коэффициента сложности. Не отвеченный вопрос считается неверным ответом. Время игры не лимитировано. Каждые 15 минут определяется фонд наград.  Выигрыш разделят топ-10 игроков. Самые активные всегда будут награждены. Свою награду пользователь получит немедленно. У тебя всегда есть шанс выиграть: сделай выбор.<br/>
Модуль CREDO: ты играешь против системы. Игрок определяет размер трат и отвечает на вопросы системы. В каждом из вопросов игроку предлагается выбрать одно из 2/4/6 превью, где случится событие. Вероятность регулируется самим пользователем, и от нее зависит размер вознаграждения.<br/>
Модуль CLASSIC: ты играешь против системы. Выбери один из вариантов превью, предложенных приложением. Для каждой игры определяется размер трат и количества превью - 2,4 или 6. Лишь один из вариантов не верный. Чем меньше вероятность - тем больше награда.<br/>
Модуль ELSE: ты играешь против системы. Игрок видит превью пользовательских видео.  Выбери понравившийся тебе вариант, система сделает свой ход. Если ваш выбор не совпал – ты выиграл. Для каждой игры определяется размер трат и вероятности, чем она меньше, тем больше награда. <br/>
Как  научиться играть и выигрывать в 1ClickGain<br/>
Запоминайте эпизоды, они повторяются.<br/>
Следите за счетом на табло, чем больше счет и меньше времени до конца игры, тем меньше вероятность, что будет забит еще один гол.<br/>
Вы можете знать исход матча, информация  на табло  может отражать финальный результат матча, голов больше не будет.<br/>
Во многих игровых ситуациях исход эпизода однозначно  предопределен динамикой,  опытные участники с большой долей вероятности могут предсказать будет ли забит гол.<br/>
Пенальти или опасный стандарт рядом со штрафной площадкой в исполнении классного футболиста  очень опасен, вероятность гола возрастает кратно.<br/>
Следите за командами и игроками, которые чаще других забивают со стандартных положений.<br/>
Следите за форвардами, если по мячу бьет классный нападающий – вероятность гола больше.<br/>
Следите за крупными планами превью – часто они отражают  радость или разочарование и помогают   сделать правильный выбор. <br/>
Результат зависит только от тебя.  В отличие азартных игр ты можешь научиться играть, совершенствовать свое мастерство и выигрывать!<br/>
&1.1 Поиск<br/>
Это приложение - часть платформы, которая использует новый вид поиска - по людям, или социальный поиск. Результатом поиска являются профили конкретных людей. Они отображаются списком согласно критериям пользователя.<br/>
Можно искать по данным профиля пользователя: его имени, фамилии, месту жительству, языку, работе и друзьям, - или по его интересам, компетенциям, предпочтениям, мировоззрению, тому, что он создает в рамках платформы и т.д.<br/>
Так можно найти настоящего эксперта, реального создателя контента и человека, действительно обладающего знаниями. <br/>
&1.2. Звонок<br/>
Ты можешь напрямую связаться с другим пользователем. Если ты купил артефакт, владелец этого объекта сможет позвонить тебе напрямую.  Участники игры также могут общаться напрямую.<br/>
&2. Профайл-анкета<br/>
При регистрации ты получаешь 150 (15)* golden click (GC), а если заполнишь расширенную анкету, то получишь еще 150 (15) GC.<br/>
Заполнить анкету - очень важно! Так мы сможем лучше подобрать контент для твоих игр, чтобы ты играл еще интереснее!<br/>
*игровой баланс<br/>
&2.1 Пригласи друга<br/>
Используя Invite Token, ты можешь пригласить друга или близкого в приложение. Если он установит приложение, вы оба получите каждый по 100 (10) GC. У тебя есть 3 приглашения, поэтому расходуй их с умом, отправь их именно тому, кому это реально нужно. Для тех пользователей, кто быстро израсходует свои накопления golden click мы предоставляем дополнительную возможность заработать и даем еще один Invite Token.<br/>
&3. Вистори<br/>
&3.1 Новости<br/>
Тут есть новости - уникальные подборки самых ярких и интересных моментов, происходящих вокруг пользователей.  Это события вокруг тебя, видео очевидцев и самые горячие и важные новости. То есть это видео-события, которые действительно могут быть тебе интересны.<br/>
Пользователь может добавить новость в любой из потоков, а другие пользователи могут комментировать это видео и снимать видео-ответы.<br/>
&3.2 Влог<br/>
Сними свое первое видео прямо сейчас, чтобы начать свой влог, и получи 50 (10) GC.<br/>
Заведи собственный видеоканал и прославься! Начни свой влог, снимай видео ежедневно, пиши летопись своей жизни, делись ей с друзьями и всем миром.<br/>
Снимай свои истории и стань владельцем нового сюжета для игры, зарабатывай на интересном контенте! Это единственная платформа, где ты можешь сам предложить свою игру. Чем популярнее будет твой сюжет, тем больше ты заработаешь на нем. И еще у нас ты сможешь научиться чему-то полезному и интересному.<br/>
&3.3 Мой выбор<br/>
«Мой выбор» - видеопотоки друзей, людей, на которых ты подписан.Ты можешь подписаться на любой личный видеопоток за 25 (1) GC, и он сразу попадет в «Твой выбор», а его автор получит вознаграждение 5 (1) GC. Зайди в профиль автора и выбери опцию «Подписаться».<br/>
&3.4 Механика видео<br/>
Справа находится кнопка съемки видео, для них можно использовать любую камеру, главное добавить правильную категорию и теги.<br/>
К каждому видео можно добавить саундтрек, наложить уникальный фильтр и выбрать идеальное превью.<br/>
Видеопоток создается автоматически на основе трех критериев: места, времени и тега, которые также будут автоматически переведены на любой язык приложения.<br/>
В каждом разделе ты найдешь «Избранное» – то, что ты лайкнул, и «Все» – все видео подряд.<br/>
«Сегодня» – это самые важные новости, они хранятся в этой вкладке 24 часа, а потом перемещаются в архив новостей.<br/>
«Лучшее» – это новости, набравшие больше всего просмотров и лайков.<br/>
Ты можешь оставить комментарий к каждому видео или снять видеоответ, поделиться с друзьями или пожаловаться, если видео нарушает правила сети.<br/>
&4. Marketplace<br/>
&4.1 Golden click<br/>
1clickgain использует внутреннюю платежную систему. На платформе каждый пользователь может играть  и оплачивать другие действия с ее помощью. Пополнить свой счет можно мгновенно через внешний платежный агрегатор.<br/>
Сними  первые 100 видео и получи дополнительные 500 GC<br/>
Заполни расширенную анкету за 150 (15) GC<br/>
Начни снимать персональный влог за 50 (10) GC<br/>
Проголосуй - 25 (1) GC<br/>
Сними любое видео - 5 GC, поделись им и получи еще 10<br/>
Сними видео-ответ - 15 GC<br/>
Получи лайк – 1 GC<br/>
Пригласи друга - 100 (10) GC<br/>
&4.2 Рынок артефактов<br/>
Если у тебя есть интересные и редкие «артефакты», на нашем Р2Р маркет-плейсе пользователей они могут быть востребованы и вы сможете обмениваться с другими игроками, не прерывая вашу виртуальную игру, и в реальном мире.<br/>
&4.3 Рейтинг<br/>
Здесь ты можешь найти рейтинг всех игроков и узнать свое место в нем. Так же ты можешь узнать и посмотреть профили лучших или свою собственную статистику игр.<br/>
&5. Инфо<br/>
Тут ты можешь выбрать из 3 категорий – Инфо, где собраны вся важная информация о приложении, Обратной связи, через которую ты можешь связаться с нами или оставить свое мнение, и Голосование - где пользователи коллективно решают любые вопросы.<br/>
&5.1 Инфо<br/>
Тут собрана вся информация, которая поможет стать одним из нас. Ты можешь ознакомиться с пользовательским соглашением – правилами пользования приложением и обязанностями сторон, политикой безопасности. Узнай о том, как мы обеспечиваем безопасность твоих данных, контента и информации, или прочти подробный справочник о том, как пользоваться этим приложением.<br/>
&5.2 Обратная связь<br/>
Напиши нам, если у тебя есть идея, как сделать приложение лучше, или если ты нашел ошибку, мы всегда будем рады ответить на твое письмо.<br/>
В разделе предложений ты можешь написать, например, о том, как бы ты хотел улучшить приложение.<br/>
Если ты найдешь баг, ошибку, неполадку – все, что мешает тебе пользоваться приложением, напиши нам, и мы исправим это!<br/>
Если ты нашел контент, который нарушает правила сети или закон, или если какой-то пользователь мешает другим, тоже напиши нам об этом.<br/>
Для того чтобы сообщить об этом, нужно просто нажать на кнопку «+» в нижнем правом углу.<br/>
&5.3. Голосование<br/>
Голосуйте и влияйте на будущее этого приложения. Именно пользователи решают все важные вопросы, связанные с ним. <br/>
В закладке «Актуальное» находятся все голосования, которые происходят на настоящий момент, и в которых ты можешь принять участие. В «Истории» сохранены все голосования, которые уже прошли.  Если ты хочешь сам начать голосование перейди в раздел «Инициировать». Участие в голосовании по каждому вопросу дает 25 (1) GC. Создать свое голосование стоит 250 (15) GC.<br/>
&6.  Предупреждение<br/>
В приложении запрещена публикация любого контента, будто видео, фото, текст или аудиозапись, содержащие элементы наготы, порнографии, насилия, жестокости как по отношению к людям, так и животным, призывы к насилию, расовой, религиозной, этнической или любой другой розни, расизму, любым проявлениям экстремизма, поддержки терроризма, призывы к неповиновению закону или властям, или любые другие правонарушения, как местного, так и международного права. Мы оставляем за собой право удалить такой контент без объяснений причин, оценку правомочности действий не допускается и не может быть оспорена. Приложение не несет никакой ответственности за контент размещенный пользователем, так как не проводит премодерацию. Всю ответственность в полном объеме несет только пользователь. Приложение ни при какие условия не может быть истцом в случае суда или дела, где рассматривается подобный контент. Пользуясь приложением и регистрируясь в нем, пользователь тем самым подтверждает, что ознакомлен с данными правилами и акцептует их.<br/>
