Condiciones de uso<br/>
Estos Términos de Uso son efectivos a partir del 11 de enero de 2016.<br/>
Al registrarse para la aplicación Bastogram ("la Aplicación"), usted plena e incondicionalmente de acuerdo en estar obligado por estos términos de uso (" Términos de Uso "), así como cualquier documento legalmente vinculante incorpora aquí a modo de referencia. La aplicación es propiedad y está controlado por HUMANET LTD. ("HUMANET").
Estos Términos de Uso (una vez acordaron) crear una relación contractual entre La Aplicación y afectar sus derechos y obligaciones legales. Si usted no acepta que quedará vinculado por todos estos Términos de Uso o si cualquiera de estos T erms de uso no son claras para usted, no se registre a la aplic ación hasta que se garantice plenamente de acuerdo y claridad.
Dado que el servicio prestado al usuario se basa sobre la funcionalidad de la aplicación, las limitaciones técnicas y demás condiciones de prestación del servicio (uso de la Aplicación), así como las condiciones de uso publicadas por La Aplicación en las páginas de aplicación serán vinculantes para las Partes.
Términos y definiciones<br/>
Cuenta medio medios técnicos y el sistema de identificación del usuario dentro de la aplicación que permite al usuario enviar a la aplicación (para el acceso público) y / o para La Aplicación cierta información y otro contenido, para controlarlos (añadir, modificar y borrar), así como a acceder a las respectivas funciones de la aplicación (disponible sólo para el usuario como una persona registrada en la aplicación).<br/>
Aplicación significa la aplicación de Internet propiedad y control de acceso La Aplicación al cual está concedida de conformidad con las condiciones de U se.
La Aplicación es el medio Sociedad de Responsabilidad Limitada "HUMANET" organizada y existente bajo las leyes del Chipre.<br/>
Contenido medio cualquier clip de datos, texto, archivos, información, nombres de usuario, imágenes, gráficos, fotos, perfiles, audio y vídeo, sonidos, obras musicales, obras de autoría, aplicaciones, enlaces y otros contenidos o materiales enviados, publique o muestre a través de la aplicación, independientemente de si o no los datos transmite un significado específico y si o no tal significado (si lo hay) es insignificante o valioso, etc.
Partes significa Aplicacióny cada uno de los usuarios.<br/>
Servicio medio prestación por Aplicacióna usuarios de el acceso a la funcionalidad de la aplicación a los efectos de la publicación de los Contenidos en la forma descrita en el párrafo. 1 del presente documento.
Condiciones de uso	significa este documento, que podrá ser modificado o complementado de vez en cuando, incluyendo disposiciones incorporadas en el presente documento por referencia.
Usuario medio una persona para acceder a la aplicación, en virtud de la inscripción.<br/>
Materia<br/>
En las actuales condiciones de uso Aplicaciónproporciona a los Usuarios el servicio de publicación el contenido en la solicitud y la prestación de acceso a dicho Contenido a terceros. La publicación de la Contenido por el usuario en la solicitud se realizará en virtud de la disposición del contenido a través de su cuenta Aplicación(a menos que se indique lo contrario por la Aplicación, publicar se produce automáticamente por el software de aplicación). El proceso de registro puede llevarse a cabo como sigue:<br/>
- en virtud de la carga directa por parte del Usuario del contenido de Aplicaciónservidores, o
- en virtud de la disposición Aplicaciónde los datos en cuanto a donde se almacena dicho Contenido y donde se puede cargar desde la aplicación con el uso de código de software especial (incluyendo, por regla general, el software de terceros) si dicha carga se apoya tanto por la aplicación y por el sistema de terceros (por ejemplo, este tipo de tecnología con el apoyo de vídeo-servicio de youtube.com).<br/>
La principal funcionalidad de la aplicación se proporciona de forma gratuita. Haga clic c regazo tiene derecho a ofrecer o introducir servicios adicionales o funcionalidades de la aplicación para la carga. Tales servicios se prestarán de acuerdo con y en el marco de las condiciones de uso. Aplicacióndetermine condiciones especiales para un servicio específico, y en caso de cualquier contradicción a las condiciones de uso, las condiciones establecidas por Aplicaciónpara el respectivo servicio específico prevalecerán.
Aplicacióninformará al usuario sobre todas las condiciones especiales de un servicio de pago, incluyendo el precio, antes de que se ordene el servicio.<br/>
Para utilizar un servicio de pago, el Usuario deberá pedirlo o de otra manera de expresar su acuerdo de su / la misma. A menos que de otro modo se establece por los términos de un servicio, para ello de pago se considerará como la aceptación por parte del Usuario de todos los términos y condiciones de el servicio correspondiente.
Todos los posibles medios de pago se especificarán por Aplicaciónen la Solicitud.<br/>
A menos que se establezca lo contrario por La Aplicación, la S ervicio se considerará dul y rendido y aceptado por el usuario si el usuario no envía ninguna reclamación por escrito a Aplicacióndentro de los 5 (cinco) días hábiles siguientes (I) la terminación real de la ervicio S como se determina o inferirse de la naturaleza del srvicio pertinente o (II) el descubrimiento de un defecto, lo que ocurra antes.
Aplicaciónpuede proporcionar al usuario cierta s Funciones adicionales / posibilidades a su entera discreción.<br/>
Registro y Terminación de la Cuenta<br/>
Cualquier individua l que tiene la capacidad legal necesaria para celebrar un contrato en virtud del acuerdo de thes correos Términos de Uso de acuerdo con la legislación del país de su residenсе puede ser el usuario.
Registro es realizada por el usuario de forma automática (sin participación de la Aplicación) según lo estipulado por Aplicaciónen la Solicitud. El registro puede ser m ade solamente rellenando el formulario de solicitud por parte del Usuario a sí mismo / a sí misma. El Usuario se compromete a la transferencia de todos los datos necesarios para la Aplicación, así como al hecho de que la aplicación tendrá acceso a todos sus / sus contactos.
El registro no está permitido sin el consentimiento pleno e incondicional del usuario a las condiciones de uso.<br/>
Tras el registro, se crea una cuenta de usuario. El acceso del `s de la Cuenta se otorga a través de la identificación personal con el número de teléfono móvil.
El Usuario no podrá dar acceso a su / su cuenta a terceros. El usuario puede tener sólo una cuenta. Si no se respeta esta restricción, Aplicacióntiene derecho a bloquear el acceso del `s de todas o ciertas cuentas, así como de suspender todas o ciertas dichas cuentas. Dicha violación puede ser motivo de denegación de repetir el registro del usuario en la aplicación (incluyendo los casos en que Aplicaciónha terminado todas las cuentas de usuario).
La terminación de los medios Cuenta eliminación por Aplicaciónde la aplicación de todo el contenido publicado por el usuario, incluyendo el formulario de solicitud (Aplicacióntiene derecho de no borrar el contenido relacionado con otros usuarios, por ejemplo, los comentarios de otros usuarios y / o de su contenido, mensajes y otros contenidos a la que otros U SERS tiene respuestas ed p ost o comentarios, responder-shots, vis tory o fragmentos lifehalo, etc.), una s así como la cancelación de la inscripción del `s del ing resultado en la pérdida de acceso a la aplicación y la terminación de las relaciones contractuales.
A la terminación, todos los derechos concedidos al usuario en estas Condiciones de Uso cesarán inmediatamente.<br/>
Derechos, Obligaciones y Responsabilidades del Usuario<br/>
El usuario debe familiarizarse / ella misma y cumplir con las condiciones de uso de la aplicación y otros términos y condiciones conectados al mismo publicado en la Solicitud y establecido por Aplicación(por ejemplo, ª Directrices correos sobre notificación y supresión Violaciónes).<br/>
El usuario puede elegir quién puede ver su / su contenido y actividades.<br/>
El usuario puede utilizar la aplicación sólo dentro de la funcionalidad prevista de ese modo.<br/>
El Usuario no podrá publicar violenta, fraudulento, desnudo, parcialmente desnuda, discriminatorio, ilegal, ilegal, odioso, pornográfico o sexualmente sugerentes fotos u otros ontenido C de la especie a través de la aplicación.<br/>
El Usuario es responsable de cualquier actividad que se produce a través de su / su UENTA y estoy de acuerdo s no para vender, transmisión, licencia o asignar el UENTA, nombre de usuario, o cualquier derecho UENTA. Se prohíbe el usuario y no podrá crear una y UENTA para cualquier persona que no sea a sí mismo / a sí misma. El Usuario representa s que toda la información proporcionada a Aplicaciónmomento de la inscripción y el resto del tiempo será verdadera, precisa, actualizada y completa y la SER T de acuerdo s para actualizar su / su información si es necesario para mantener su veracidad y exactitud.<br/>
El usuario no deberá solicitar, recoger o utilizar los credenciales de acceso de otros sers Aplicación U.<br/>
 El Usuario es responsable de mantener su / su contraseña en secreto Aplicación y seguro.<br/>
El usuario no debe difamar, acosar, intimidar, abusar, acosar, amenazar, personificar o int personas o entidades imidato y no debe publicar información privada o confidencial a través de la Aplicación, incluyendo, sin limitación, la información de la tarjeta de crédito de otra persona del usuario o, la seguridad social o números de identidad nacionales suplentes, números de teléfono no públicas o direcciones de correo electrónico no públicas.<br/>
El Usuario no podrá utilizar la Aplicación para ningún propósito ilegal o no autorizado. El Usuario deberá cumplir con todas las leyes, normas y regulaciones (federales, estatales, locales y provinciales) aplicables al uso de la aplicación, el Servicio y el Contenido, incluyendo, sin limitarse a, las leyes de copyright.<br/>
El Usuario es el único responsable por el contenido que él / ella presentara s, publicar o mostrar s s de Aplicación.<br/>
El Usuario deberá abstenerse de utilizar varios vulnerabilidad técnica de la aplicación (por ejemplo, "bichos", "agujeros", etc.) y en caso de que se revelan, el Usuario deberá notificar Aplicacióntan pronto como sea posible a través de e-mail oa través de la Cuenta es tal posibilidad técnica está prevista por la aplicación.<br/>
El usuario no debe crear o enviar correo electrónico no deseado, comentarios, gustos u otras formas de comunicación comercial o de acoso ("Spam") a cualquier aplicación U Sers independientemente de la naturaleza y el contenido de dichas comunicaciones, a menos que se les permite explícitamente tales tipos de comunicaciones y previstas por la funcionalidad de la aplicación.<br/>
El usuario no debe utilizar nombres de dominio o URL web en su / su nombre de usuario sin el consentimiento previo por escrito de la Aplicación.<br/>
El usuario no debe interferir o interrumpir el Servicio, servidores, o redes conectadas al Servicio, incluyendo mediante la transmisión de cualquier gusanos, virus, spyware, malware o cualquier otro código de naturaleza destructiva o perjudicial, así como adaptar o descompilar el software o evadir protección técnica significa. El Usuario no puede inyectar C ontenido, o código, o de otra manera alterar o interferir con la manera de página, la aplicación se muestra en el navegador o dispositivo de la Usuario.<br/>
El usuario no debe crear un ccounts a través de medios no autorizados, incluyendo pero no limitado a, mediante el uso de un dispositivo, escritura, bot, spider, crawler o raspador automatizado.<br/>
El usuario no debe intentar restringir otros U suario s de usar o disfrutar del servicio y no debe alentar o facilitar violaciónes de estos Términos de Uso o cualquier otro término la Aplicación.<br/>
El Usuario deberá abstenerse de publicación repetida de mensajes y otros contenidos en las páginas de la aplicación, si dicha publicación hace que el uso / asistencia de las páginas de aplicación respectivos general gravosa o no se corresponde con los objetivos de las páginas respectivas, entre otras cosas, si ser los mensajes p Osted no transmitir cualquier nueva información útil en comparación con los que ya están p ost ed - la "inundación".<br/>
El Usuario se compromete a no utilizar la aplicación con fines publicitarios (por ejemplo, para enviar constantemente mensajes sobre el mismo producto o servicio a los efectos de su promoción). Si Aplicaciónse da cuenta de la publicidad materiales p Osted por el usuario (enlace, comentario o contenido de otro usuario), Aplicaciónpuede, a su discreción, bloque (que no esté disponible para terceros) o eliminar dicho Contenido; y en caso de violaciónes repetidas por el usuario - para bloquear o cancelar su / su cuenta.<br/>
El Usuario está prohibido en el rastreo, el raspado, el almacenamiento en caché o acceder de otra forma cualquier contenido en la solicitud a través de medios automatizados, incluyendo pero no limitado a, los perfiles de usuario y fotos (excepto como puede ser el resultado de los protocolos de los motores de búsqueda estándar o tecnologías utilizadas por una búsqueda motor con el consentimiento expreso del La Aplicación).<br/>
El usuario deberá determinar los medios de uso de la aplicación en el marco de las posibilidades previstas para ello por estas condiciones de uso y la funcionalidad de la aplicación. El Usuario es el único y total responsable de los contenidos publicados tanto a la persona cuyos derechos han sido violados y La Aplicación, así como por la violación de estos T erms de uso.<br/>
El Usuario es responsable de todos los cargos de datos que él / ella incurra por la aplicación.<br/>
En la publicación del Contenido del Usuario debe actuar razonablemente, legalmente y de buena fe, y Aplicaciónse basará en tal comportamiento fe razonable, legal y bien del usuario.<br/>
El Usuario es el único responsable de la interacción con otros usuarios del servicio, ya sea en línea o sin conexión. Aplicaciónno es responsable de la conducta de cualquier usuario.<br/>
El Usuario es el único responsable y asume el riesgo de terceros accedan a su / su cuenta (debido a su pérdida, robo, otra fuga de contraseña, así como por consecuencia del incumplimiento de la cuenta). En caso de duda, el Usuario debe cambiar la contraseña de la cuenta.<br/>
Derechos, Obligaciones y Responsabilidades de La Aplicación<br/>
Aplicaciónno controla (monitor, aprueba ni aprueba) el Contenido del Usuario a excepción de los casos previstos expresamente en el presente documento. En particular, Aplicaciónno controla el contenido de la página del usuario (páginas de aplicación que el usuario tiene derecho a cambiar y / o que él / ella cambia).Aplicaciónproporciona al usuario una posibilidad técnica para la creación de páginas dentro de la aplicación (incluyendo los formularios de solicitud y cuestionarios). Aplicaciónno tiene ninguna obligación de preseleccionar, monitorear, editar o eliminar cualquier Contenido. Si el contenido viola estos Términos de Uso, el Usuario podrá asumir la responsabilidad legal para ese contenido.<br/>
Aplicaciónno iniciará p osting del contenido en nombre del usuario. P osting del Contenido del Usuario se realizará a su / su iniciativa y en virtud de la aplicación de medios técnicos automatizados y software de La Aplicación. Aplicaciónno controla ninguna publicación específica del contenido, sino que no Cho o se o aprobar los usuarios finales de los Contenidos (Los visitantes de aplicación). Sin perjuicio de lo anterior, Aplicaciónpueden iniciar la publicación de información sobre los diversos tipos de tareas, pruebas y concursos para los efectos de la motivación del usuario y el entretenimiento.<br/>
Aplicaciónno podrá cambiar el contenido publicado por el usuario. Modificaciones técnicas posibles no afectará la sustancia.<br/>
Aplicaciónpuede realizar mediante técnicas de rastreo y se opone (por medio de la eliminación) publicación de comentarios, comentarios, mensajes y otros contenidos de la misma persona de varias cuentas, así como por un grupo de personas afiliadas cuando dicha publicación no cumple con los objetivos de la Aplicación y crea un efecto que no habría existido en el curso de la operación normal de la aplicación. Aplicacióntiene derecho a tomar medidas para detener dicha actividad también en el caso de que obtenga una denuncia de un tercero. En ambos casos indicados la resolución se toma a la sola discreción de Aplicacióny el Usuario se obliga a aceptar que, independientemente de su / su propia evaluación de las circunstancias indicadas, así como independientemente de las circunstancias.<br/>
Aplicaciónse reserva el derecho de suspender de forma unilateral o bloque (que no esté disponible para terceros) cualquier Contenido, suspender o limitar el acceso del usuario a la cuenta, de rechazar unilateralmente del servicio y las condiciones de uso resultantes en la cancelación de la cuenta d e del usuario , limitar o bloquear el acceso del usuario a la aplicación si Aplicacióntenga conocimiento (incluyendo a terceros) que el uso de la Aplicación por el Usuario viole o facilita la violación de los derechos de La Aplicación, lazos tercer par (incluyendo otros usuarios y / o de los visitantes de aplicación), disposiciones de la legislación y la normativa nacional e internacional, las condiciones de uso y / o no se ajusta a la idea y la esencia de la solicitud. En cualquier caso, Aplicaciónno modificará el contenido.<br/>
Aplicaciónpodrá emprender las medidas descritas en el párrafo anterior sin previo aviso al Usuario si lo considera respuesta inmediata a una violación o violación prevista necesario. El Usuario deberá aceptar tales medidas independientemente de su evaluación y la evaluación de las circunstancias de haber causado tales medidas por el Usuario.   
Aunque Aplicaciónno reclama la propiedad de cualquier Contenido publicado a través de la aplicación, Aplicaciónpuede utilizar el contenido, incluyendo la apariencia del usuario en el contenido (por ejemplo, fotos, videos), en virtud de una licencia no exclusiva, totalmente desembolsadas y libre de regalías, transferible, sub- licenciable (Aplicaciónpuede sublicenciar el derecho a utilizar los Contenidos de terceros, y mediante el registro de la solicitud del usuario proporciona su / su consentimiento incondicional a dicha sublicencia), licencia mundial, por cualquier medio y sin limitación en cuanto al territorio dentro de la totalidad del plazo de el Servicio, incluyendo de forma anónima (sin indicación del nombre del usuario y los titulares de los derechos). Aplicaciónno estará obligado a proporcionar cualquier informe al usuario con respecto al uso del Contenido.
Aplicaciónpuede copiar el contenido publicado por el usuario en la aplicación.
Reserva Aplicaciónes el derecho de modificar o cancelar el Servicio o de la aplicación (o el der de facilitar el acceso a la aplicación, los algoritmos de funcionamiento de la aplicación, la estructura de solicitud) por cualquier razón, sin previo aviso, en cualquier momento, y sin responsabilidad para el usuario. En caso de cambio de la solicitud, la forma en que el contenido se muestra (Pero no el C ONTENIDO sí mismo) en la solicitud puede cambiar. E n caso de terminación del Servicio al contenido ya no se podrá acceder a través de la UENTA (por ejemplo, los terceros no será capaz de navegar hasta el nombre de usuario y la vista terminado el contenido), pero d e contenido respectivo y los datos pueden persistir y aparecen en el Servicio (por ejemplo, si el contenido ha sido re - compartida por otros).
Reserva Aplicaciónes el derecho a denegar el acceso al servicio a cualquier persona por cualquier motivo y en cualquier momento.
Reserva Aplicaciónes el derecho de obligar a la confiscación de cualquier nombre de usuario por cualquier razón.
Aplicaciónpueden, pero no tienen ninguna obligación de, eliminar, editar, bloquear y / o supervisar el contenido o A ccounts que contienen el contenido que Aplicacióndeterminar s a su sola discreción viole estos Términos de Uso.
Puede haber enlaces de la aplicación, o de comunicaciones recibirán d de la aplicación, a los sitios web de terceros o características. También puede haber enlaces a sitios web de terceros o de características en imágenes o comentarios dentro de la aplicación. La aplicación también incluye terceros C ONTENIDO que Aplicaciónno it controlar, mantener ni aprueba. El f unctionality sobre la aplicación también puede permitir la interacción entre la aplicación y un sitio web de terceros o característica, incluidas las aplicaciones que conectan la aplicación o el perfil del usuario en la aplicación con un tercero sitio web o función. Aplicaciónno controla cualquiera de estos servicios web de terceros o de cualquiera de sus contenidos. El Usuario reconoce y acepta expresamente s s que Aplicaciónes de ninguna manera responsable o responsable de dichos terceros servicios o características. Correspondencia y empresariales tratos del usuario con terceros encontraron a través de la aplicación son exclusivamente entre el Usuario y el tercero. Mediante el uso de terceros a plicaciones conectados a la aplicación, el usuario acuse s su / su conciencia de que esto puede causar información de identificación personal a ser informado de forma pública y / o asociado con el usuario, incluso si no tiene Aplicaciónsí proporcionó dicha información y que el uso de dicho tercero un s plicación es por cuenta y la opción del usuario y el riesgo, y el Usuario tendrá Aplicacióninofensiva para la actividad relacionada con el tercero una plicación s.
Aplicaciónpuede publicar publicidad y promociones i n la Aplicación o en, sobre, o en conjunción con el Contenido del Usuario. La manera, el modo y el alcance de dicha publicidad y promociones están sujetos a cambios sin previo aviso al Usuario.
Declaraciones y Garantías del Usuario<br/>
El Usuario representa y garantiza s s que:<br/>
- el usuario tiene el derecho legal y la capacidad de entrar en estas condiciones de uso en su / su jurisdicción;<br/>
- la información cargada a través de la aplicación, incluidos los datos personales (indicado en re gistration o después de ella sobre su actualización) es verdadera y auténtica,<br/>
- el Usuario propia s el contenido publicado allí en oa través de la aplicación o no ha s el derecho de otorgar los derechos y licencias establecidos en estas Condiciones de Uso y que el contenido no viola los derechos de terceros y las normas y regulaciones (federales, estatales, locales, provinciales o internacionales) aplicables;<br/>
- la publicación y el uso del Contenido en oa través de la aplicación no viola, malversar o violar los derechos de terceros, incluyendo, sin limitación, derechos de privacidad, derechos de publicidad, derechos de autor, marca registrada y / u otros derechos de propiedad intelectual;<br/>
- el Usuario haya pagado o deberá pagar las regalías a ll, honorarios y cualquier otro ingreso que debido a las titulares de los derechos de terceros para el poste contenido ed en oa través de la Aplicación;<br/>
- el usuario es consciente de la forma en terceros tienen acceso a los contenidos publicados y cuáles son las posibilidades de terceros en relación con el contenido son (por ejemplo, comentando);
- el Usuario es el único que tiene acceso a su / su cuenta y las operaciones realizadas a través de la Cuenta se considerará que ser realizada por el usuario.
Modificación y terminación del servicio
Aplicaciónse reserva el derecho, a su sola discreción, de modificar unilateralmente las presentes Condiciones de Uso ("Términos Actualizado") de vez en cuando. Aplicacióninformará sobre dicho cambio a través de correo electrónico y / o por medio de la Cuenta. Aplicaciónpuede, aunque no está obligado a notificar al usuario sobre la modificación de las condiciones incorporadas en las condiciones de uso a modo de referencia. A menos que se establezca lo contrario por los términos actualizados o por la notificación sobre la modificación de las Condiciones de Uso, las Condiciones Actualizado entrarán en vigor el día siguiente al día de su adopción; enmiendas que establecen nuevos requisitos para el Contenido entran en vigor a menos de 3 (tres) Calendario días siguientes al día de su adopción. A menos que el usuario se ha negado el uso del Servicio de acuerdo con esta sección antes de la fecha de vigencia de los términos actualizados, el Usuario se considerarán tener plena e incondicionalmente acordaron los términos actualizados.
Aplicaciónpuede negarse unilateralmente de rendimiento del servicio si el usuario ha iola d cualquiera de las condiciones de uso o de otra manera crea el riesgo o posible exposición legal para La Aplicación, o si sus / sus acciones contradicen las reglas establecidas de uso de la aplicación, son no cumple con las normas generales de conducta dentro de la aplicación o no en contradicción con la idea, el concepto o el "espíritu" de la aplicación. El servicio se dará por concluido fuera de la corte a partir del momento de la terminación del acceso del usuario a su / su cuenta y envío del anuncio al término del servicio de e-mail del usuario (si la dirección de correo electrónico se ha proporcionado). Con ello Aplicacióntiene derecho a terminar la Cuenta del Usuario (en la medida que estime conveniente).
Aplicaciónpodrá en cualquier momento de forma unilateral y sin razonamiento total o parcialmente por terminado el servicio con un preaviso de tres (tres) días naturales a través de la cuenta en la aplicación oa través de correo electrónico (si la dirección de e-mail respectiva se indica en el formulario de solicitud del usuario).
El usuario podrá, en cualquier momento de forma unilateral y sin razonamiento total o parcialmente por finalizado el Servicio enviando a Aplicaciónuna notificación vía correo electrónico (si la dirección de e-mail respectiva se indica en el formulario de solicitud del usuario). El usuario también puede terminar el Servicio a través de envío de una solicitud respectiva a través de su / su cuenta si la solicitud contempla tal posibilidad técnica.
A menos que se estipule lo contrario en este documento o por acuerdo entre el Usuario y La Aplicación, el Servicio se termina en el momento de la terminación de la cuenta del usuario, pero continuará en la medida prevista en el presente documento (por ejemplo ,. con respecto a las disposiciones sobre protección de datos) o aparece aquí a partir de (por ejemplo, el permiso para el uso del Contenido del usuario otorgada por el Usuario de acuerdo con y en virtud de estas condiciones de uso).
Al terminar la Cuenta del Usuario, La Aplicación, por regla general, deberá eliminar la información sobre el usuario (incluyendo a su / su formulario de solicitud / página de la aplicación), pero conservar todo contenido en la solicitud publicado por el Usuario (comentarios, mensajes, etc. ). Si el usuario desea borrar este contenido y dicha posibilidad está prevista por la aplicación en relación con el contenido respectivo, él / ella debe hacerlo a través de su / su cuenta antes de enviar la solicitud de terminación del Servicio.
Si el usuario termina el Servicio y registros a continuación re- para ello el plazo de 1 (un) año desde la terminación, a efectos del efecto y el rendimiento de las obligaciones del usuario a continuación se considerará el servicio no han sido terminados; los términos previstos en estas Condiciones de Uso no serán interrumpidos; los derechos otorgados antes de la terminación proseguirán sin efecto; cualesquiera otras disposiciones de las condiciones de uso, que utilizan a b i nd o restringir el usuario de una manera u otra, no se considerará terminado.
Propiedad Intelectual
La aplicación incluye contenido (incluyendo, pero no limitado a flows, news, emocons, diy,  emoticons, etc.) propiedad o licencia de Aplicación("AplicaciónContenido"). Aplicacióncontenido está protegido por derechos de autor, marcas, patentes, secretos comerciales y otras leyes, y, como entre el Usuario y La Aplicación, Aplicaciónposee y retiene todos los derechos sobre el contenido Aplicacióny la Aplicación. El Usuario deberá abstenerse de suprimir, alterar u ocultar cualquier derecho de autor, marca registrada, marca de servicio o de otros derechos de propiedad incorporados o que acompañan el contenido y Aplicaciónel Usuario no podrá reproducir, modificar, adaptar, preparar trabajos derivados basados ​​en, ejecutar, exhibir, publicar, distribuir, transmitir, difundir, vender, licenciar o explotar el Contenido La Aplicación.
Aplicaciónno concede ni transfiere al Usuario ningún derecho de autor o derechos conexos (con el software, diseño o cualquier otro objeto que forman parte de la solicitud, así como publicado bajo el nombre de dominio La Aplicación); Aplicaciónno transfiere ningún medio tangible o derechos respectivos, derechos de marcas comerciales u otros medios de identificación, así como Aplicaciónno concede ningún otro derecho de propiedad intelectual.
El usuario no obtiene ningún derecho sobre los materiales creados en el curso de las visitas a la aplicación, el uso de Servicio Aplicacióny / o el uso de la cuenta (por ejemplo, después de su publicación el contenido), ya que estos materiales son el resultado de las pantallas que se generan en el curso de funcionamiento del software perteneciente a La Aplicación.   
El nombre Aplicaciónno puede ser copiado, imitado o utilizado, en su totalidad o en parte, sin el permiso previo por escrito de La Aplicación. Además, todos los encabezados de página, gráficos personalizados, iconos de botones y scripts son marcas de servicio, marcas comerciales y / o imagen comercial de La Aplicación, y no pueden ser copiados, imitados o utilizados, en todo o en parte, sin el permiso previo por escrito de La Aplicación.
Protección De Datos
El Usuario entiende y acepta que todos los datos personales facilitados por allí a Aplicacióntravés de la Aplicación es necesario para el funcionamiento de aplicaciones y adecuada rendim iento de las condiciones de uso de Aplicacióndesde Sion provi y procesamiento (operaciones con datos personales, incluyendo su colección, la sistematización, la acumulación, almacenamiento, actualización, cambio, distribución, provi sión, puesta a disposición del público, etc.) de los datos personales son la esencia y el propósito de la aplicación.
El Usuario entiende y acepta que todos los datos personales marcadas por Aplicacióncomo obligatorio para la presentación es importante para el cumplimiento de las condiciones de uso de Click c regazo. Cualquier información adicional p Osted por el Usuario en el sh Aplicación todo ser publicado por el Usuario a sí mismo / a sí misma con el objetivo de hacer que pu bli cly disponibles en la medida determinada por el propio usuario / a sí misma y en la medida permitida por la funcionalidad de la aplicación.
El Usuario entiende y acepta que si él / ella publica sus / sus datos personales en el dominio público (por ejemplo, por medio de la publicación de i n de Internet, incluida la aplicación, red social s, etc.), el régimen establecido para la mente del público los datos personales disponibles se aplicarán a ella, en particular, por La Aplicación.
L os datos personales del Usuario serán procesados ​​por Aplicacióndentro de todo el período del servicio y un año después de la terminación del servicio (en caso de que restaura el usuario de su cuenta /). El usuario entiende que Aplicaciónpuede eliminar su / su formulario de solicitud, pero puede optar por no eliminar otro Contenido de haber sido escritos por el usuario que puede contener sus / sus datos personales.
Aplicaciónpodrá utilizar los datos personales a disposición del público con fines publicitarios y en el curso de otros tipos de promoción de la aplicación y / o los servicios de La Aplicación.
Aplicaciónpuede procesar los datos del usuario para fines estadísticos. En este caso, sin embargo, serán despersonalizados los datos. Aplicaciónno será responsable por el uso de los datos personales de la SER T por otras personas.
El Usuario deberá abstenerse de publicar en los datos personales La aplicación de terceros, a menos que lo contrario explícitamente permitido por la ley. Tan pronto como ya no se permite ninguna operación de s con respecto a determinados datos personales por la ley, el Usuario debe llevar inmediatamente a la información publicada en la solicitud de conformidad con la ley.<br/>
El detalle de datos AplicaciónPolítica de Protección está disponible en http://bastogram.com/legal Y puede ser modificada de vez en cuando. Al aceptar estas Condiciones de Uso el Usuario reconoce que él / ella ha leído y entendido y estará obligado por la Política de Protección de Datos La Aplicación.<br/>
En caso de introducción de enmiendas a las condiciones de uso en relación a los datos del usuario, el usuario debe traer sus / sus datos en cumplimiento de los nuevos requisitos dentro de los 10 (diez) días hábiles, a menos que Aplicacióndetermina un término diferente.<br/>
Las interrupciones de servicio y confidencialidad<br/>
Aunque es la intención Aplicación\'s que la aplicación está disponible tanto como sea posible, habrá ocasiones en las que el Servicio puede ser interrumpido, incluyendo, sin limitación, para el mantenimiento o actualizaciones programadas, para reparaciones de emergencia, o debido a un fallo de los enlaces y / o equipo de telecomunicaciones. Además, las reservas Aplicaciónel derecho de eliminar cualquier contenido de la aplicación por cualquier motivo y sin previo aviso. El contenido quitado de la aplicación puede seguir siendo almacenada por La Aplicación, incluyendo, sin limitación, con el fin de cumplir con ciertas obligaciones legales, pero puede no ser recuperable sin una orden judicial válida. En consecuencia, Aplicaciónanima al usuario a mantener su / su propia copia de seguridad de su / su contenido. Aplicaciónno será responsable ante el usuario por cualquier modificación, suspensión o interrupción del Servicio, o la pérdida de cualquier Contenido. El usuario también reconoce s that the Internet may be subject to breaches of security and that the submission of the Content or other information may not be secure.<br/>
Un contenido ny será no confidencial y no propietaria y Aplicaciónno será responsable por cualquier uso o divulgación de los Contenidos. La relación del usuario con Aplicaciónno es confidencial, fiduciaria, u otro tipo de relación especial, y la decisión del usuario a presentar cualquier Contenido no colocar Aplicaciónen una posición que es diferente de la posición mantenida por los miembros del público, incluyendo a respecto al contenido. Ninguno de los contenidos estará sujeto a ninguna obligación de confidencialidad por parte de Aplicacióny Aplicaciónno será responsable por cualquier uso o divulgación de cualquier Contenido brindar por el Usuario.<br/>
Informes de Autor y Otros Violaciónes IP<br/>
Se alienta al usuario reportar cualquier derecho de autor u otras violaciónes IP a Aplicaciónde ninguna manera que él / ella encontrar s apropiado para Aplicaciónpara poder tomar acciones correctivas inmediatas.<br/>
Si la infrac usuario s de terceros los derechos de propiedad intelectual, Aplicacióndesactivará el usuario es UENTA a su propia discreción.<br/>
Exclusión de garantías<br/>
EL SERVICIO, INCLUYENDO, SIN LIMITACIÓN, EL CONTENIDO LA APLICACIÓN, SE PROPORCIONA "TAL CUAL", "SEGÚN DISPONIBILIDAD" Y "CON TODOS SUS DEFECTOS" BASE Y EL USUARIO NO PUEDE REQUERIR O ESPERAR DE LA SOLICITUD DE TODO MENOS PARA LA EXTENSIÓN DEL SERVICIO . APLICACIÓNNO GARANTIZA COMPATIBILIDAD DE LA SOLICITUD CON OTRAS APLICACIONES Y NO SE REQUIERE EN LA PROVISIÓN DE ASISTENCIA TÉCNICA CON RESPECTO A LA APLICACIÓN. EN TODA LA EXTENSIÓN PERMITIDA POR LA LEY, NI APLICACIÓNNI SU MATRIZ NI NINGUNO DE SUS EMPLEADOS, ADMINISTRADORES, FUNCIONARIOS O AGENTES (EN CONJUNTO, LAS "PARTES LA APLICACIÓN") HACEN REPRESENTACIONES O GARANTÍAS O AVALES DE NINGÚN TIPO, EXPRESA O IMPLÍCITA, EN CUANTO A: (A) EL SERVICIO; (B) EL CONTENIDO LA APLICACIÓN; (C) EL CONTENIDO DE USUARIO; O (D) LA SEGURIDAD ASOCIADA A LA TRANSMISIÓN DE INFORMACIÓN A APLICACIÓNO MEDIANTE LA APLICACIÓN. ADEMÁS, LAS PARTES APLICACIÓNRECHAZAN POR ESTE MEDIO TODAS LAS GARANTÍAS, EXPRESA O IMPLÍCITA, INCLUYENDO, PERO NO LIMITADO A, LAS GARANTÍAS DE COMERCIALIZACIÓN, IDONEIDAD PARA UN PROPÓSITO PARTICULAR, NO INFRACCIÓN, TÍTULO, COSTUMBRE, COMERCIO, DISFRUTE, INTEGRACIÓN DEL SISTEMA Y LA LIBERTAD DE VIRUS INFORMÁTICOS.<br/>
LAS PARTES APLICACIÓNNO REPRESENTA NI GARANTIZA QUE EL SERVICIO ESTÉ LIBRE DE ERRORES O INTERRUPCIONES; QUE LOS DEFECTOS SERÁN CORREGIDOS; O QUE EL SERVICIO O EL SERVIDOR QUE HACE EL SERVICIO DISPONIBLE ESTÉ LIBRE DE CUALQUIER COMPONENTES DAÑINOS, INCLUYENDO, SIN LIMITACIÓN, VIRUS. LAS PARTES APLICACIÓNNO HACEN NINGUNA REPRESENTACIÓN O GARANTÍA DE QUE LA INFORMACIÓN (INCLUYENDO CUALQUIER INSTRUCCIONES) EN LA APLICACIÓN SEA EXACTA, COMPLETA, O ÚTIL. LAS PARTES APLICACIÓNNO GARANTIZAN QUE EL USO DE LA APLICACIÓN ES LEGAL EN CUALQUIER JURISDICCIÓN EN PARTICULAR, Y LAS PARTES APLICACIÓNESPECÍFICAMENTE RECHAZAN LAS GARANTÍAS. ALGUNAS JURISDICCIONES LIMITAN O NO PERMITEN LA EXCLUSIÓN DE GARANTÍAS IMPLÍCITAS O DE OTRO MODO QUE LA RENUNCIA ANTERIOR NO SE APLICA A ALGUNOS USUARIOS A LA LEY DE LA MEDIDA EN DICHA JURISDICCIÓN ES APLICABLE AL USUARIO Y ESTOS TÉRMINOS DE USO.<br/>
LAS PARTES APLICACIÓNNO RESPALDAMOS CONTENIDO Y ESPECÍFICAMENTE RECHAZAN CUALQUIER RESPONSABILIDAD A NINGUNA PERSONA O ENTIDAD POR CUALQUIER PÉRDIDA, DAÑO (YA SEA REAL, CONSECUENTE, PUNITIVO O DE OTRA MANERA), LESIÓN, RECLAMO, RESPONSABILIDAD U OTRA CAUSA DE CUALQUIER TIPO O CARÁCTER BASADA EN CUENTA O COMO RESULTADO DE CUALQUIER CONTENIDO.<br/>
Limitación de responsabilidad; Renuncia<br/>
Aplicaciónserá responsable sólo por mala conducta intencional que tiene el propósito de violación de sus obligaciones en virtud del presente.<br/>
BAJO NINGUNA CIRCUNSTANCIA APLICACIÓNES RESPONSABLE POR CUALQUIER PÉRDIDA O DAÑOS DE CUALQUIER TIPO (INCLUYENDO, SIN LIMITACIONES, POR CUALQUIER DIRECTO, ECONÓMICOS, PUNITIVOS, EJEMPLARES, PÉRDIDAS INDIRECTOS, ESPECIALES FORTUITOS O INDIRECTOS O DAÑOS) QUE ESTÁN DIRECTA O INDIRECTAMENTE RELACIONADOS A: (A) EL SERVICIO; (B) LA APLICACIÓN; (C) EL CONTENIDO LA APLICACIÓN; (D) EL CONTENIDO DE USUARIO; (E) EL USO DE, LA IMPOSIBILIDAD DE USO, O EL RENDIMIENTO DEL SERVICIO Y LA APLICACIÓN; (F) CUALQUIER ACCIÓN TOMADA EN RELACIÓN CON UNA INVESTIGACIÓN POR LAS PARTES APLICACIÓNO AUTORIDADES POLICIALES EN RELACIÓN CON EL USO DE LA APLICACIÓN / SERVICIO; (G) CUALQUIER ACCIÓN TOMADA EN RELACIÓN CON LOS DERECHOS DE AUTOR U OTROS PROPIETARIOS DE PROPIEDAD INTELECTUAL; (H) ERRORES U OMISIONES EN EL FUNCIONAMIENTO DE SOLICITUD; O (I) CUALQUIER DAÑO A CUALQUIER COMPUTADORA DEL USUARIO S, DISPOSITIVO MÓVIL O CUALQUIER OTRO EQUIPO O TECNOLOGÍA INCLUYENDO, SIN LIMITACIONES, DAÑOS POR EL INCUMPLIMIENTO DE SEGURIDAD O DE CUALQUIER VIRUS, ERRORES, MANIPULACIÓN, FRAUDE, ERROR, OMISIÓN, INTERRUPCIÓN, DEFECTO, DEMORA EN LA OPERACIÓN O TRANSMISIÓN, LINE ORDENADOR O FALTA DE RED O CUALQUIER OTRO MAL FUNCIONAMIENTO TÉCNICO O DE OTRO TIPO, INCLUYENDO, SIN LIMITACIONES, DAÑOS POR PÉRDIDA DE BENEFICIOS, PÉRDIDA DE BUENA VOLUNTAD, PÉRDIDA DE DATOS, INTERRUPCIÓN DEL TRABAJO, EXACTITUD DE LOS RESULTADOS O FALLO O MAL FUNCIONAMIENTO, INCLUSO SI PREVISIBLE O INCLUSO SI LAS PARTES APLICACIÓNHAN SIDO INFORMADOS DE O DEBERÍA HABER SABIDO DE LA POSIBILIDAD DE TALES DAÑOS, YA SEA EN UNA ACCIÓN DE CONTRATO, NEGLIGENCIA O AGRAVIO (INCLUYENDO, SIN LIMITACION, SEAN CAUSADOS EN TODO O EN PARTE POR NEGLIGENCIA, ACTOS DE DIOS, FALLAS DE TELECOMUNICACIONES, O ROBO O DESTRUCCIÓN DEL SERVICIO). EN NINGÚN CASO LAS PARTES APLICACIÓNRESPONSABLE ANTE NADIE POR PÉRDIDA, DAÑO O PERJUICIO, INCLUYENDO, SIN LIMITACIONES, LA MUERTE O LESIONES PERSONALES. EN CASO DE CONFORMIDAD CON LA LEY DE LA JURISDICCIÓN DEL USUARIO TH EXCLUSIÓN E O LIMITACIÓN DE DAÑOS DIRECTOS O INDIRECTOS NO ESTÁ PERMITIDO, EN NINGÚN CASO LA RESPONSABILIDAD TOTAL DE LAS PARTES APLICACIÓN\'PARA TODOS LOS DAÑOS, PÉRDIDAS O CAUSA O ACCIÓN EXCEDERÁ DOSCIENTOS DÓLARES ESTADOUNIDENSES ($ 2 00,00) O SU EQUIVALENTE EN CUALQUIER OTRA MONEDA.<br/>
EL USUARIO ACEPTA S QUE EN CASO EL / ELLA INCURRIR S DAÑOS, PÉRDIDAS O LESIONES QUE SURGEN DE ACTOS APLICACIÓN\'S U OMISIONES, LOS DAÑOS, EN SU CASO, NO SON IRREPARABLES O SUFICIENTE PARA DAR DERECHO AL USUARIO A UNA ORDEN QUE IMPEDÍA CUALQUIER EXPLOTACIÓN DE CUALQUIER SITIO WEB, SERVICIO, LA PROPIEDAD, PRODUCTO U OTRO CONTENIDO DE PROPIEDAD O CONTROLADAS POR LAS PARTES LA APLICACIÓN, Y EL USUARIO TIENE DERECHOS PARA PROHIBIR O RESTRINGIR EL DESARROLLO, PRODUCCIÓN, DISTRIBUCIÓN, PUBLICIDAD, EXPOSICIÓN O EXPLOTACIÓN DE CUALQUIER SITIO WEB, PROPIEDAD, PRODUCTO, SERVICIO O CUALQUIER OTRO CONTENIDO DE PROPIEDAD O CONTROLADAS POR LAS PARTES LA APLICACIÓN.<br/>
AL ACCEDER A LA SOLICITUD, EL USUARIO ENTIENDE S QUE ÉL / ELLA ESTÁ RENUNCIANDO DERECHOS CON RESPECTO A RECLAMOS QUE SON EN TH ES TIEMPO DESCONOCIDO O INSOSPECHADOS.
APLICACIÓNNO ES RESPONSABLE DE LAS ACCIONES, EL CONTENIDO, INFORMACIÓN, O DATOS DE TERCEROS, Y LA LIBERACIÓN DE USUARIO S LA APLICACIÓN, NUESTROS DIRECTORES, OFICIALES, EMPLEADOS Y AGENTES DE CUALQUIER DEMANDA O DAÑOS, CONOCIDOS Y DESCONOCIDOS, DERIVADOS DE O EN CUALQUIER CONECTADOS CON CUALQUIER RECLAMO EL USUARIO PUEDE TENER CONTRA TALES TERCEROS.
Indemnización
El Usuario está de acuerdo s para defender (al Aplicación\'petición s), indemnizar y mantener las Partes Aplicaciónde y contra cualquier reclamo, responsabilidades, daños, pérdidas y gastos, incluyendo, sin limitación, razonables de abogados honorarios y costos s, que surjan de o relacionados de alguna manera con cualquiera de los siguientes (incluyendo como resultado de las actividades directas en la Aplicación o los llevados a cabo en nombre del usuario):
- su / su contenido o su / su acceso o uso de la Aplicación;
- incumplimiento o presunto incumplimiento de estos Términos de Uso;
- violación de cualquier derecho de terceros, incluyendo sin limitación, cualquier derecho de propiedad intelectual, la publicidad, la confidencialidad, la propiedad o derecho de privacidad;
- cualquier violación de las leyes, normas, reglamentos, códigos, estatutos, ordenanzas u órdenes de cualquier autoridad gubernamental y cuasi-gubernamentales, incluyendo, sin limitación, todas las autoridades reglamentarias, administrativas y legislativas; o
- cualquier declaración falsa hecha por el Usuario.
El Usuario deberá cooperar plenamente requerido por Aplicaciónen la defensa de cualquier reclamación. Aplicaciónse reserva el derecho de asumir la defensa exclusiva y control de cualquier asunto sujeto a indemnización por parte del Usuario, y el usuario no tendrá en ningún caso resolver cualquier reclamación sin el consentimiento previo por escrito de La Aplicación.
Arbitraje
Cualquier disputa, controversia o reclamación que surja de o esté relacionada con estos Términos de Uso, o su incumplimiento, rescisión o invalidez, así como el uso de la Aplicación y / o derechos de privacidad y / o publicidad, será resuelta por arbitraje de conformidad con el Reglamento de Arbitraje de la CNUDMI.Habrá un árbitro acordado por las partes dentro de los 20 (veinte) días siguientes a la recepción por el demandado de la solicitud de arbitraje o en su defecto designado por la Asociación Americana de Arbitraje de acuerdo con sus reglas. El asiento o sede del arbitraje será la ciudad de Larnaca, Chipre. El arbitraje se llevará a cabo, y el laudo se dictó, en el idioma Inglés. El laudo será definitivo y vinculante para las partes y se puede entrar y hacerse cumplir en cualquier tribunal que tenga jurisdicción. Cualquier disposición de la ley aplicable no obstante, el árbitro no tendrá autoridad para adjudicar daños, remedios o premios que entran en conflicto con estos Términos de Uso.
Las partes renuncian expresamente juicio por jurado. Laims C sólo podrán iniciarse en nombre de la propia. Ni el usuario ni Aplicaciónparticipará en una demanda colectiva o arbitraje en toda clase de reclamos cubiertos por estos Términos de Uso. Asimismo, el Usuario está de acuerdo s de no participar en las reclamaciones presentadas en un fiscal general privado o capacidad representativa o reclamaciones consolidadas que implican otra cuenta de persona s, si Aplicaciónes parte en el procedimiento.
Aplicaciónse reserva el derecho de cambiar la disposición de solución de controversias, pero tales cambios no se aplicará a las controversias que surjan antes de la fecha de vigencia de la enmienda.
Limitación del tiempo de Reclamaciones<br/>
Una reclamación ny que surja de o esté relacionada con la relación del usuario con Aplicacióndebe ser presentada dentro de un año después surgió dicha reclamación; de lo contrario, la reclamación se prohibió de forma permanente.<br/>
Ley Que Rige<br/>
Estas Condiciones de Uso se regirán e interpretarán de acuerdo con las leyes del Chipre, sin dar efecto a cualquier principio de conflictos de leyes y la voluntad ESPECÍFICAMENTE NO SE RIGEN POR LOS CONVENIOS DE LAS NACIONES UNIDAS SOBRE CONTRATOS PARA LA VENTA INTERNACIONAL DE MERCANCÍAS , SI FUESE APLICABLE.<br/>
Acuerdo completo. Transferencia y Cesión<br/>
Estos Términos de Uso constituyen el acuerdo completo entre cada usuario y Aplicacióny regula el uso de la Aplicación y reemplaza cualquier acuerdo anterior entre el Usuario y La Aplicación. El Usuario no podrá ceder los Términos de Uso o cualquier derecho o delegar cualquier obligación, en todo o en parte, ya sea voluntariamente o por ministerio de la ley, sin el consentimiento previo por escrito de La Aplicación. Cualquier intento de cesión o delegación sin el consentimiento previo por escrito apropiada de Aplicaciónno serán válidos. Aplicaciónpuede asignar estos Términos de Uso o cualquier continuación de los derechos sin el consentimiento del usuario.<br/>
Si alguna disposición de estas Condiciones de Uso es declarada ilegal, nula o inaplicable por cualquier razón durante el arbitraje o por un tribunal de jurisdicción competente, dicha disposición se considerará separable de estos Términos de Uso y no afectará la validez y aplicabilidad de las disposiciones restantes. Insuficiencia Aplicación\'s de insistir en el estricto cumplimiento de cualquier disposición de estas Condiciones no se interpretará como una renuncia de cualquier disposición o derecho. Ninguna renuncia de cualquiera de estas Condiciones se considerará una renuncia posterior o continuada de dicho término o condición o cualquier otro término o condición.<br/>
Restricciones Territoriales
La información proporcionada en la solicitud no está destinada a su distribución o uso por cualquier persona o entidad en cualquier jurisdicción o país donde dicha distribución o uso sea contrario a la ley o reglamento, o que sometería Aplicacióna cualquier requisito de registro en dicha jurisdicción o país . Nos reservamos el derecho de limitar la disponibilidad de la Aplicación o cualquier parte del Servicio, a cualquier persona, área geográfica o jurisdicción, en cualquier momento ya nuestra entera discreción, y para limitar las cantidades de cualquier contenido, programa, producto, servicio u otra característica que Aplicaciónofrece.<br/>
Diverso
La fecha de vigencia de estas condiciones de uso es 11 de enero de 2016. Estas Condiciones de Uso fueron escritos en Inglés. En la medida, cualquier versión traducida de los presentes Términos de uso entra en conflicto con la versión en Inglés, la versión en inglés controles.<br/>
Cualquier tipo de comunicación se ha enviado a través de las cuentas dentro de la aplicación (incluyendo, pero no limitado a, las notificaciones sobre el cambio de datos, avisos de terminación, las peticiones del usuario, etc.) serán válidos y jurídicamente vinculante y admisible como prueba.<br/>
Cualquier tipo de comunicación se ha enviado a través de correo electrónico en los casos previstos en el presente documento será válido, legalmente vinculante y admisible como prueba en caso de envío:<br/>
- si a Aplicación- a Aplicacióndirecciones de correo electrónico indicadas en la solicitud, incluyendo los que están disponibles a través de las cuentas;
- si el usuario - a dirección de correo electrónico del usuario se indica en el formulario de solicitud y / oa través de la cuenta.
Los días hábiles a que se refiere el presente documento serán días hábiles en el Chipre.<br/>
Las Partes se comprometen a actualizar sus datos en una base regular.<br/>
Las Partes reconocen que son plenamente conscientes de la naturaleza del contrato formalizado por estos Términos de Uso. El Usuario ha familiarizado / a sí misma y entendido las condiciones de uso y las consecuencias legales relacionadas con las condiciones de uso (derechos y obligaciones bajo el presente). El usuario entiende que la aceptación de los Términos de Uso confirma que el usuario ha estudiado, entendido y acordado con los Términos de uso.
 