Terms of Use<br/>
These Terms of Use are effective starting from 5 May 2016.<br/>
By registering to the 1CLICKGAIN application (or 1clickgain,  “the Application”), you fully and unconditionally agree to be bound by these terms of use (“Terms of Use”) as well as any legally binding document incorporated herein by way of reference. The Application is owned and controlled by 1CLICKGAIN CORP. <br/>
These Terms of Use (once agreed to) create a contractual relationship between 1CLICKGAIN and you affecting your legal rights and obligations. If you do not agree to be bound by all of these Terms of Use or if any of these Terms of Use are unclear to you, do not register to the Application until full agreement and clarity is ensured.<br/>
Given that the Service provided to the User is based on the functionality of the Application, technical limitations and other terms of rendering of the Service (use of the Application) as well as the terms of use posted by 1CLICKGAIN in the Application pages shall be binding on the Parties.<br/>
Terms and Definitions<br/>
Account means technical means and system of identification of the User within the Application allowing the User to send to the Application (for public access) and/or to 1CLICKGAIN  certain information and other Content, to control them (add, modify and delete) as well as to access the respective functionality of the Application (available only to the User as a person registered with the Application).<br/>
Application means the Internet application owned and controlled by 1CLICKGAIN  access whereto is granted pursuant to the Terms of Use.<br/>
1CLICKGAIN means  1CLICKGAIN CORP organized and existing under the law of the Panama.<br/>
Content means any data, text, files, information, usernames, images, graphics, photos, profiles, audio and video clips, sounds, musical works, works of authorship, applications, links and other content or materials submitted, posted or displayed via the Application, regardless of whether or not the data conveys a specific meaning and whether or not such meaning (if any) is insignificant or valuable, etc.<br/>
Parties means 1CLICKGAIN  and each of the Users.<br/>
Service means provision by 1CLICKGAIN  to Users of access to the functionality of the Application for the purposes of posting the Content in the manner described in para. 1 hereof.<br/>
Terms of Use means this document, as may be amended or supplemented from time to time, including provisions incorporated herein by reference.  <br/>
User means a person gaining access to the Application by virtue of registration.<br/>
Subject-Matter<br/>
Under the present Terms of Use 1CLICKGAIN provides to Users the Service of posting the Content in the Application and provision of access to such Content to third parties. Posting of the Content by the User in the Application shall be performed by virtue of provision of the Content to 1CLICKGAIN through its Account (unless otherwise indicated by 1CLICKGAIN, posting occurs automatically by the Application software). The posting process may be carried out as follows:<br/>
by virtue of direct upload by the User of the Content to 1CLICKGAIN servers, or<br/>
by virtue of provision to 1CLICKGAIN of data as to where such Content is stored and where it may be uploaded from to the Application with the use of special software code (including, as a rule, third-party software) if such upload is supported both by the Application and by the third-party system (e.g., such technology is supported by video-service of youtube.com).<br/>
The main functionality of the Application is provided free of charge. 1CLICKGAIN is entitled to offer or introduce additional services or functionalities of the Application for charge. Such services shall be provided in accordance with and within the framework of the Terms of Use. 1CLICKGAIN may determine special terms for a specific service, and in case of any contradictions to the Terms of Use, the conditions established by 1CLICKGAIN for the respective specific service shall prevail.<br/>
1CLICKGAIN shall inform the User about all special conditions of a charged service, including the price, before the service is ordered.<br/>
In order to use a charged service, the User shall order it or otherwise express his/her agreement thereto. Unless otherwise is established by the terms of a service, payment therefor shall be considered to be acceptance by the User of all terms and conditions of the relevant service.<br/>
All possible means of payment shall be specified by 1CLICKGAIN in the Application.<br/>
Unless otherwise established by 1CLICKGAIN, the Service shall be deemed duly rendered and accepted by the User if the User does not send any written claims to 1CLICKGAIN within 5 (five) working days following (i) actual completion of the Service as it is determined or implied by the nature of the relevant Service or (ii) discovery of a defect, whichever happens earlier.<br/>
1CLICKGAIN may provide to certain Users additional functions/possibilities at its sole discretion.<br/>
1CLICKGAIN not lead cases in the following countries: Panama<br/>
1.  Registration and Termination of the Account<br/>
Any individual that has the required legal capacity for entering into a contract by virtue of agreeing to these Terms of Use in accordance with the legislation of the country of its residenсе may be the User.<br/>
Registration is performed by the User automatically (without participation of 1CLICKGAIN) as stipulated by 1CLICKGAIN in the Application. Registration may be made only by filling in the application form by the User himself/herself. The User agrees to the transfer of all-necessary for 1CLICKGAIN data as well as to the fact that the Application will have access to all his/her contacts.<br/>
Registration is not permitted without full and unconditional consent of the User to the Terms of Use.<br/>
Following the registration, an Account is created for the User. The User`s access to the Account is granted through personal identification under the mobile phone number.<br/>
The User may not provide access to his/her Account to any third party. The User may have only one Account. If this restriction is not observed, 1CLICKGAIN is entitled to block the User`s access to all or certain Accounts as well as to terminate all or certain such Accounts. Such violation may be ground for refusal in the User’s repeated registration at the Application (including cases when 1CLICKGAIN has terminated all Accounts of the User).<br/>
Termination of the Account means deletion by 1CLICKGAIN from the Application of all Content posted by the User, including the application form (1CLICKGAIN is entitled not to delete the Content related to other Users, e.g. comments to other Users and/or their Content, messages and other Content to which other Users have posted replies or comments, reply-shots, vistory or lifehalo fragments, etc.), as well as cancellation of the User`s registration resulting in the loss of access to the Application and termination of contractual relations.<br/>
Upon termination, all rights granted to the user in these Terms of Use will immediately cease.<br/>
2. Reservation of Rights, Termination, Account closing<br/>
Addition to other rights available to the Service under this Agreement The Service reserves the right at its sole discretion, to void any winnings and forfeit the balance of your betting account, to terminate the Agreement and / or suspend the provision of the Services / deactivate your account if the service has reasonable grounds to believe or establishes any of the following:<br/>
you have more than one active account with the service;<br/>
the name does not match the name on the credit or debit card (s) or other current accounts, than use to make purchases and deposits with the service;<br/>
you participate in actions of the Service to withdraw before fulfilling the requirements of that particular promotion;<br/>
do you provide false or misleading information;<br/>
you do not provide or not provide the requested information for identification;<br/>
you do not have the necessary rights;<br/>
access to and participate in the services of the Service from a jurisdiction where participation in the Services is prohibited by law;<br/>
you are depositing money originating from criminal or other illegal or unauthorized manner;<br/>
you are convicted of fraud or attempted fraud or cheating anyone of any party, or if you specify the service that you have used or are using artificial intelligence or other system (including machines, computers, software or other automated systems) designed specifically to defeat the system or you have found that colluded or attempted to collude with other players in order to deceive the Service (or other players, depending on the circumstances);<br/>
you have allowed or permitted (intentionally or unintentionally) someone else to use your account;<br/>
you breach any of these conditions;<br/>
you do not disclose that you are in Panama, or a citizen of Panama, a resident living in Panama;<br/>
you acknowledge that you or we have reason to believe that you are suffering from problems associated with gambling.<br/>
We reserve, at our sole discretion, the right to:<br/>
refuse to register any applicant for registration<br/>
refuse to accept any wager;<br/>
modify, suspend, remove, modify or add any game or tournament.<br/>
We reserve the right to make requests for your account, including credit checks, with third party credit and financial institutions, according to the information you have provided to us. We also reserve the right to request information about the source of funds.<br/>
In the event of any dispute regarding a wager or winnings, our decision will be final and binding. We reserve the right to withhold any pay out or winning amount until the identity of the winning person is verified to ensure that payment of the winning amount went to the right person.<br/>
We reserve the right to withhold any pay out or winning amount until the identity of the winning person is verified to our satisfaction in order to ensure that payment of the winning amount, which included the right person and to comply with anti-money laundering and verification of identity of the player. To do this, we reserve the right, in its sole discretion, require you to provide us with a notarized ID or any equivalent certified in accordance with the applicable law of your jurisdiction. If, within 180 days from the nomination of our request we have received the necessary documentation, the funds remaining in the account will be removed and your account is closed.<br/>
•, we may at any time disclose certain personal information about you to third parties in accordance with our privacy policy, which is set out in full in our Privacy Policy<br/>
In the event that we suspect fraud or fraudulent activity on your part to your payments will be withdrawn, or you will not be able to provide the necessary documentation to verify your identity and / or age, your account will be frozen, we have the right to withhold any payments or winning amounts due to you and if necessary legally we can charge you the required amount. If playing in any of the game modes, we have suspicions about the scoring, we reserve the right to withhold any amount from your account which will be in the black from your initial deposit. If your account remains frozen as a result of this paragraph for a continuous period of 180 days, in the absence of a satisfactory explanation or evidence to prove the legitimate intentions, funds remaining in your account will be removed and your account is closed.<br/>
You can close your account at any time of your choice, we will require confirmation of your request in writing (e-mail, letter but excluding chat or SMS), sent to the contact details on our website, which are checked for 48 hours and within the framework of our policy in canceling your account. You must notify the employee specifically to work with clients and confirm the same in writing if for any reason you require an immediate account closure.<br/>
If you think you need a break from the game, please contact our support team immediately and ask them to temporarily close your account, specifying for how long you want your account has been frozen time: a seven-day period; one month; six-month period; or more, according to your requirements. You can not log into your account during this time period that you specify.<br/>
3. Dormant accounts<br/>
3.1 "Dormant accounts" Player is defined as accounts that are not used by you and are not used for rates over the period of 180 days (account is not replenished, not to withdraw funds from it, and did not place and have not been calculated rate, except for accounts with self-exclusion).<br/>
3.2 Once your Player Account has been recognized Dormant we will be entitled to charge an administrative fee of 10% of the total balance ( "administration fee"), with effect from the first day of inactivity. The minimum amount of the deduction is $ 15 or currency equivalent, and the maximum amount of the deduction is $ 50 or the equivalent in another currency. We will deduct an administrative fee from your player account every thirty (30) days from when your account becomes inactive. You will be given 30 days written notice by phone, sms or application that your account is about to become inactive (the choice of the notification form remains the Service's discretion). This fee will be charged for as long as (a) does not take place thirty months from the date of inactivity (if the gaming account is regulated 1CLICKGAIN CORP), (b) the client does not close your betting account, or (c) the client does not begin again to enjoy their game account.<br/>
If the player's account at the expiration of thirty months from the date of cessation of use of the gaming account still contains cash, the company 1CLICKGAIN should make appropriate efforts to return the balance of the game account owner. If, after all the effort 1CLICKGAIN companies still fail to return the balance of the client, such a balance will be transferred to the organization 1CLICKGAIN CORP, a closed account. If the balance of the above mentioned game score of less than $ 5, the amount of the administrative fee will be equal to the sum of the balance of the game account.<br/>
3.3 We will end the administrative fee deduction from your balance if your Player Account is reactivated: you use it for real rates or make real money.<br/>
3.4 Once your Player Account reaches zero and / or a negative balance as a result of payments to your account will be closed.<br/>
3.5 If you want to re-activate your player account, you can contact us at any time with a request to restore your balance.<br/>
3.6 In connection with the legislation on data protection, we can not confirm anyone other than the account owner if he has an account and a personal account in our system. If a third party considers that he / she has a legitimate interest in the account opened under a different name (as an example, in situations of loss or disability of the account holder), he / she should be invited to send in his / her ID, as well as a court order ; The power of attorney (or similar), confirming the aforementioned legal interests. This document will be considered by the Legal Service Team.<br/>
4. Registration, opening your betting account and Membership<br/>
4.1 In order to play and bet with the service and use the service, you must fill out a form and your identity via telephone.<br/>
4.2 You represent and warrant that all information supplied by you when registering and completing the questionnaire for membership is accurate, truthful and complete in all respects including, your name ( "Name"), sources of funds (including the relevant bank accounts and card numbers) and residential address.<br/>
4.3 We will take reasonable and appropriate measures to ensure that your personal information remains confidential and will be processed in accordance with our Privacy Policy, as amended from time to time. We will not disclose your personal data or betting information unless compelled to do so by any applicable laws and regulations, the courts, or at the request of the relevant gaming or law enforcement, or as otherwise provided in these Terms and Conditions. It is your responsibility to keep your personal information confidential. We reserve the right to disclose and transfer your personal information to intermediaries, with whom we work, payment platforms and financial institutions to the extent necessary to make payments for services provided by the application, or if forced to do so in accordance with applicable laws and regulations, in the appropriate slot, or law enforcement agencies.<br/>
4.4 In addition, you are responsible for the fact that the laws applicable to you do not prohibit you to use and get access to the application and the information contained therein, downloading and installing the software and / or the use of, or participation in the Services.<br/>
4.5 We require further evidence of identification age from you to verify your application for membership (eg, identification image and credit / debit card) to make sure that you really have reached 12 years of age, and in accordance with the requirements to combat money laundering , failure to provide proper documentation in a timely manner could result in freezing of the account. If there are any changes in your information initially provided by you, you must notify us of the relevant change without delay. In order to confirm your name and address, SERVICE reserves the right, in particular, seek to confirm the name and email address. SERVICE may, at its discretion, undertake additional security checks against any information that you provide. By agreeing to these Terms and Conditions, you consent to the Service to access, use, handling and storage of the results of any identification verification or checks that may be made.<br/>
4.6 We reserve the right to reject your application for membership without justification of reasons.<br/>
4.7 You are allowed to open only one betting account in the Service. If we find that you have more than one account with the service, we reserve the right, in its sole discretion, freeze or delete all accounts that you have on the Site, or to combine them as a single joint account or to terminate this Agreement.<br/>
4.8 Your "Username" can not contain offensive or inappropriate words. If discretion of the Service, your user name is offensive or inappropriate, you will be prompted to change it. If you deny this request, SERVICE reserves the right to freeze your account.<br/>
5. Placing bets and receive rates<br/>
5.1 We accept bets via the mobile app. All rates are subject to the relevant Rules of rates applicable to each event or game, according to these Terms and Conditions.<br/>
If there is a shutdown of the Service due to technical reasons, after you've made a bet, but before a decision or start games, or use rates, the rate of return on your deposit.<br/>
If the disconnection occurs after the result of the bet can be known, that is, after the decision, the start of the game, the bet will be considered valid.<br/>
If the disconnection occurs in any game where multiple players can participate, where players play with each other, the same rules apply as in paragraph 1 and 2 above.<br/>
5.2 We only accept bets made through the internet using the devices in accordance with these Terms and Conditions. Bids will not be accepted in any other form (whether by post, email, fax or otherwise), and if received will be void regardless of the outcome. All bets placed on the Site, are reviewed and considered to be placed, received and accepted in Panama.<br/>
5.3 You must ensure that persons who have not attained 12 years of age are not allowed and denied the opportunity to have access to the application and your information and / or data of your credit / debit card in order to enable them to play for real money on the Service.<br/>
- We assume that you have fulfilled the provisions of this paragraph, and that all play for real money to your account made by you alone and not by persons under 12 years of age.<br/>
- If you know that persons under 12 years of age took part in the game with your account, you must inform the local police and obtain a written report from them and copy Case Reference number File or equivalent, and then give us, we will inform the same as our regulator and to solve this issue in accordance with the laws of Panama.<br/>
5.4 It is your sole responsibility to ensure that the details of your bets are correct. Subject to the provisions of paragraphs 5.1, 5.2, 5.3, 5.9 and 5.10 here once your bets have been placed and their acceptance confirmed by us, they can not be canceled, revoked or changed, and it is believed to be conclusive evidence in respect of rates, which you put.<br/>
5.5 Please note that all bets are logged and recorded in the transaction log database. Journals Service transactions are conclusive evidence of all transactions and times at which the transactions posted.<br/>
5.6 Subject to paragraphs 5.1, 5.9 and 5.10, bets are valid and accepted by the service when the transaction ID is displayed on your screen and duly reflected, and in your transaction log.<br/>
5.9 Bids are not allowed after the start of the event and / or event where the outcome is known at the time the bet was placed. In accordance with paragraph 5.1 above, if any event is erroneously left open for betting after the start of the event and / or where the outcome of an event is known, SERVICE reserves the right to reject or cancel such bets are not made through your account, all bets or any parts must be made at the discretion of the Service. For the avoidance of doubt, this provision does not prohibit bets "in play" or "half time".<br/>
5.10 In respect of any bet and transactions associated with it, the Service decision is final and conclusive.<br/>
5.11 You acknowledge that our random number generator ( "RNG") will determine the shuffling and distribution of video, the outcome of the game and other randomly generated events that are part of our services and that you agree to accept such shuffling and games results in the application and other events, generated randomly performed RNG are final and not negotiable.<br/>
5.12 All sports betting and betting games in the Instant provided by 1CLICKGAIN CORP, placed and accepted in accordance with the laws of Panama.<br/>
5.13 The customer's responsibility is to enforce laws of his country of residence in respect of rates. You will have to consult an independent expert before placing any bets in 1CLICKGAIN and make sure that your game is completely legal. Internet gambling may be illegal in the jurisdiction in which you are, in which case you are prohibited from using your debit card for payment transactions.<br/>
5.14 The management reserves the right to modify, supplement or amend these rules as an deems reasonable. All customers will receive advance notice before the effective date of any changes in the rules, and will be required to confirm their compliance with the rules.<br/>
5.15 It is considered that the client accepts these rules when it opens an account or log in to your casino account, places a bet on 1CLICKGAIN, adds to the player's account or makes a request for withdrawal of funds from the gaming account or associated with customer support. In the absence of such action, it is considered that the client accepts these rules since May 5, 2016. When you open the client must personally account to provide all the information, specifying them correctly and in full in all respects. Join the gaming account shall be made directly to the person in whose name the account is opened it.<br/>
5.16 Any information provided by employees of support services is for information purposes and is not subject to the above 1clickgain Rules. Despite the fact that we make every effort to ensure that the information provided to customers is accurate, the client is responsible for the understanding of the rates which he places, as well as terms and conditions.<br/>
6. Settlement of transactions<br/>
6.1 When using a credit or debit card, the cardholder's name must be the same as the "username» 1clickgain. SERVICE reserves the right not to accept payment and transaction in the presence of discrepancies between the cardholder's name and the user name.<br/>
6.2 You are solely responsible for payment of all sums due to the Service / or other players (as the case may be). In respect of any payment made by you, you agree that you will not make or enforce any returns and / or to refuse or cancel any such payment, and that you will indemnify the Service any refunds, waivers or cancellations of payments that you will realize you are doing, as well as any losses and expenses incurred as a consequence of the Service. Service may, in its sole discretion, to terminate provide services or payment to certain users or to users paying with certain credit or debit cards.<br/>
6.3 Your winnings are exclusive of bet amount.<br/>
6.4 All your winnings will be credited to your account. The service does not in any way be liable for any fund / winnings credited to an error on the bill, and the Service reserves the right to void any transactions with such means as during or retrospectively. If funds are credited to your account by mistake - your duty to promptly report it to Service.<br/>
6.5 Payment of taxes, duties, fees or charges that may apply to your winnings under any applicable law, is entirely your responsibility.<br/>
6.6 The funds paid to the Service, are not held in secret or in a hidden manner7. Rights, Obligations and Responsibilities of the User<br/>
The User must familiarize himself/herself and comply with the Terms of Use of the Application and other terms and conditions connected thereto posted in the Application and established by 1CLICKGAIN (e.g., the Guidelines on Reporting and Suppressing Violations).<br/>
The User may choose who can view his/her Content and activities.<br/>
The User may use the Application only within the functionality envisaged thereby.<br/>
The User may not post violent, fraudulent, nude, partially nude, discriminatory, unlawful, infringing, hateful, pornographic or sexually suggestive photos or other Content of the kind via the Application.<br/>
The User is responsible for any activity that occurs through his/her Account and agrees not to sell, transfer, license or assign the Account, username, or any Account rights. The User is prohibited and shall not create any Account for anyone other than himself/herself. The User represents that all information provided to 1CLICKGAIN upon registration and at all other times will be true, accurate, current and complete and the User agrees to update his/her information as necessary to maintain its truth and accuracy.<br/>
The User must not solicit, collect or use the login credentials of other Application Users.<br/>
The User is responsible for keeping his/her Application password secret and secure.<br/>
The User must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities and must not post private or confidential information via the Application, including, without limitation, the User’s or any other person's credit card information, social security or alternate national identity numbers, non-public phone numbers or non-public email addresses.<br/>
The User may not use the Application for any illegal or unauthorized purpose. The User shall comply with all laws, rules and regulations (federal, state, local and provincial) applicable to the use of the Application, the Service and the Content, including but not limited to, copyright laws.<br/>
The User is solely responsible for the Content that he/she submits, posts or displays on the Application.<br/>
The User must refrain from using various technical vulnerability of the Application (e.g., “bugs”, “holes”, etc.) and in case they are revealed, the User must notify 1CLICKGAIN as soon as possible via e-mail or through the Account is such technical possibility is envisaged by the Application.<br/>
The User must not create or submit unwanted email, comments, likes or other forms of commercial or harassing communications (“SPAM”) to any Application Users regardless of the nature and contents of such communications, unless such types of communications are explicitly allowed and envisaged by the functionality of the Application.<br/>
The User must not use domain names or web URLs in his/her username without prior written consent from 1CLICKGAIN.<br/>
The User must not interfere or disrupt the Service or servers or networks connected to the Service, including by transmitting any worms, viruses, spyware, malware or any other code of a destructive or disruptive nature as well as adapt or decompile software or evade technical protection means. The User may not inject Content, or code, or otherwise alter or interfere with the way any Application page is displayed in the User’s browser or device.<br/>
The User must not create Accounts through unauthorized means, including but not limited to, by using an automated device, script, bot, spider, crawler or scraper.<br/>
The User must not attempt to restrict other Users from using or enjoying the Service and must not encourage or facilitate violations of these Terms of Use or any other 1CLICKGAIN terms.<br/>
The User must refrain from repeated posting of messages and other Content on the Application pages if such posting makes the use/attendance of the respective Application pages generally burdensome or does not correspond to the objectives of the respective pages, inter alia, if the messages being posted do not convey any new useful information as compared to those already posted – the “flood”.<br/>
The User undertakes not to use the Application for advertising purposes (e.g., to constantly post messages on the same product or service for the purposes of their promotion). If 1CLICKGAIN becomes aware of advertising materials posted by the User (link, comment or other User’s Content), 1CLICKGAIN may, at its own discretion, block (make unavailable to third parties) or delete such Content; and in case of repeated violations by the User – to block or terminate his/her Account. <br/>
The User is prohibited in crawling, scraping, caching or otherwise accessing any Content in the Application via automated means, including but not limited to, user profiles and photos (except as may be the result of standard search engine protocols or technologies used by a search engine with 1CLICKGAIN's express consent).<br/>
The User shall determine the means of use of the Application within the framework of possibilities provided thereto by these Terms of Use and the functionality of the Application. The User is solely and fully responsible for the posted Content both to the person whose rights have been violated and to 1CLICKGAIN as well as for violation of these Terms of Use.<br/>
The User is responsible for all data charges he/she incurs by the Application.<br/>
In posting the Content the User must act reasonably, lawfully and in good faith, and 1CLICKGAIN shall rely on such reasonable, lawful and good faith behavior of the User.<br/>
The User is solely responsible for interaction with other Users of the Service, whether online or offline. 1CLICKGAIN is not responsible or liable for the conduct of any User. <br/>
The User is solely responsible for and bears the risk of any third parties gaining access to his/her Account (due to its loss, theft, other password leak as well as per result of breach of Account). In case of any doubt, the User must change the Account password. <br/>
8. Rights, Obligations and Responsibilities of 1CLICKGAIN<br/>
1CLICKGAIN does not control (monitor, approve or endorse) the User’s Content except for cases explicitly stipulated herein. In particular, 1CLICKGAIN does not control the User’s page content (Application pages which the User is entitled to change and/or which he/she changes). 1CLICKGAIN provides to the User a technical possibility for creation of pages within the Application (including application forms and questionnaires). 1CLICKGAIN does not have any obligation to prescreen, monitor, edit, or remove any Content. If the Content violates these Terms of Use, the User may bear legal responsibility for that Content.<br/>
1CLICKGAIN shall not initiate posting of the Content on the User’s behalf. Posting of the Content of the User shall be performed at his/her initiative and by virtue of application of automatized technical means and software of 1CLICKGAIN. 1CLICKGAIN does not control any specific posting of the Content; it does not choose or approve the end-users of the Content (the Application visitors). Without prejudice to the foregoing, 1CLICKGAIN may initiate posting of information on various types of assignments, quizzes and contests for the purposes of User motivation and entertainment. <br/>
1CLICKGAIN shall not change the Content posted by the User. Possible technical modifications shall not affect the substance.<br/>
1CLICKGAIN may undertake technical means for tracing and precluding (by way of deletion) posting of comments, feedback, messages and other Content the same person from various Accounts as well as by a group of affiliated persons when such posting does not meet the objectives of the Application and creates an effect which would not have existed in the course of normal operation of the Application. 1CLICKGAIN is entitled to take action to stop such activity also in the case it obtains a complaint from a third party. In both indicated cases the resolution is taken at the sole discretion of 1CLICKGAIN and the User is obliged to accept it regardless of his/her own evaluation of the indicated circumstances as well as regardless of the circumstances.<br/>
1CLICKGAIN reserves the right to unilaterally terminate or block (make unavailable to third parties) any Content, to suspend or limit access of the User to the Account, to refuse unilaterally from the Service and the Terms of Use resulting in termination of the User’s Account, limit or block the User’s access to the Application if 1CLICKGAIN becomes aware (including from third parties) that the use of the Application by the User violates or facilitates violation of the rights of 1CLICKGAIN, third parties (including other users and/or the Application visitors), provisions of any domestic and international legislation and regulations, the Terms of Use and/or does not comply with the idea and essence of the Application. In any case, 1CLICKGAIN shall not amend the Content.<br/>
1CLICKGAIN may undertake the measures described in the preceding paragraph without an advance notice to the User if it deems immediate response to a violation or envisaged violation necessary. The User shall accept such measures regardless of their evaluation and the evaluation of the circumstances having caused such measures by the User.    <br/>
Although 1CLICKGAIN does not claim ownership of any Content posted through the Application, 1CLICKGAIN may use the Content, including the User’s appearance in the Content (e.g. photos, videos), under a non-exclusive fully paid and royalty-free, transferable, sub-licensable (1CLICKGAIN may sublicense the right to use the Content to third parties, and by registering to the Application the User provides his/her unconditional consent to such sublicensing), worldwide license by any means without limitation as to the territory within the entire term of the Service, including anonymously (without indication of the User’s name and the rightholders). 1CLICKGAIN shall not be required to provide any reports to the User with respect to the use of the Content.<br/>
1CLICKGAIN may copy the Content posted by the User in the Application. <br/>
1CLICKGAIN reserves the right to modify or terminate the Service or the Application (the order of granting access to the Application, the Application operation algorithms, the Application structure) for any reason, without notice, at any time, and without liability to the User. In case of change of the Application, the way the Content is displayed (but not the Content itself) in the Application may change. In case of termination of the Service the Content will no longer be accessible through the Account (e.g., third parties will not be able to navigate to the terminated username and view the Content), but the respective Content and data may persist and appear within the Service (e.g., if the Content has been re-shared by others).<br/>
1CLICKGAIN reserves the right to refuse access to the Service to anyone for any reason at any time.<br/>
1CLICKGAIN reserves the right to force forfeiture of any username for any reason.<br/>
1CLICKGAIN may, but have no obligation to, remove, edit, block, and/or monitor the Content or Accounts containing the Content that 1CLICKGAIN determines in its sole discretion violates these Terms of Use.<br/>
There may be links from the Application, or from communications received from the Application, to third-party web sites or features. There may also be links to third-party web sites or features in images or comments within the Application. The Application also includes third party Content that 1CLICKGAIN does not control, maintain or endorse. The functionality on the Application may also permit interactions between the Application and a third-party web site or feature, including applications that connect the Application or the User’s profile on the Application with a third-party web site or feature. 1CLICKGAIN does not control any of these third-party web services or any of their content. The User expressly acknowledges and agrees that 1CLICKGAIN is in no way responsible or liable for any such third-party services or features. Correspondence and business dealings of the User with third parties found through the Application are solely between the User and the third party. By using third-party applications connected to the Application, the User acknowledges his/her awareness that this may cause personally identifying information to be publicly disclosed and/or associated with the User, even if 1CLICKGAIN has not itself provided such information and that the use of such third party applications is at the User’s own option and risk, and the User will hold 1CLICKGAIN harmless for activity related to the third-party applications.<br/>
1CLICKGAIN may post advertising and promotions in the Application or on, about, or in conjunction with the User’s Content. The manner, mode and extent of such advertising and promotions are subject to change without specific notice to the User.<br/>
9. Representations and Warranties of the User<br/>
The User represents and warrants that: <br/>
the User has the legal right and capacity to enter into these Terms of Use in his/her jurisdiction;<br/>
the information uploaded through the Application, including personal data (indicated upon registration or afterwards upon their update) is true and authentic, <br/>
the User owns the Content posted thereby on or through the Application or otherwise has the right to grant the rights and licenses set forth in these Terms of Use and that the Content does not violate the rights of any third parties and any applicable rules and regulations (federal, state, local, provincial or international);<br/>
the posting and use of the Content on or through the Application does not violate, misappropriate or infringe on the rights of any third party, including, without limitation, privacy rights, publicity rights, copyrights, trademark and/or other intellectual property rights; <br/>
the User has paid or shall pay all royalties, fees, and any other monies due to any third-party rightholders for the Content posted on or through the Application;<br/>
the User is aware of the way third parties are granted access to the posted Content and what the possibilities of third parties in relation to the Content are (e.g., commenting);  <br/>
the User is the only one having access to his/her Account and any operations conducted through the Account shall be deemed to be conducted by the User.<br/>
10. Amendment and Termination of the Service<br/>
1CLICKGAIN reserves the right, in its sole discretion, to unilaterally change these Terms of Use (“Updated Terms”) from time to time. 1CLICKGAIN shall inform on such change via e-mail and/or through the Account. 1CLICKGAIN may, although is not obliged to, notify the User on the change in the terms incorporated into the Terms of Use by way of reference. Unless otherwise established by the Updated Terms or by the notification on amendment of the Terms of Use, the Updated Terms shall become effective on the day following the day of their adoption; amendments establishing new requirements to the Content become effective within 3 (three) calendar days following the day of their adoption. Unless the User has refused from using the Service in accordance with this section prior to the effective date of the Updated Terms, the User shall be deemed having fully and unconditionally agreed to the Updated Terms.<br/>
1CLICKGAIN may unilaterally refuse from performance of the Service if the User has breached any of the Terms of Use or otherwise creates the risk or possible legal exposure for 1CLICKGAIN, or if his/her actions contradict the established rules of use of the Application, are not compliant with the general rules of conduct within the Application or otherwise contradict the idea, the concept or the “spirit” of the Application. The Service shall be deemed terminated out-of-court as of the moment of termination of access of the User to his/her Account and dispatch of the notice on termination of the Service to the User’s e-mail (if the e-mail address has been provided). Therewith 1CLICKGAIN is entitled to terminate the User’s Account (to the extent it deems appropriate).<br/>
1CLICKGAIN may at any time unilaterally and without reasoning fully or partially terminate the Service with a three (three) calendar days’ notice through the Account in the Application or via e-mail (if the respective e-mail address is indicated in the application form of the User).<br/>
The User may at any time unilaterally and without reasoning fully or partially terminate the Service by sending to 1CLICKGAIN a notification via e-mail (if the respective e-mail address is indicated in the application form of the User). The User may also terminate the Service by way of sending a respective request through his/her Account if the Application envisages such technical possibility.<br/>
Unless otherwise stipulated herein or upon agreement between the User and 1CLICKGAIN, the Service is terminated at the moment of termination of the Account of the User but shall continue to the extent envisaged herein (e.g.,. with respect to data protection provisions) or appears here from (e.g., permission for the use of the User’s Content granted by the User in accordance with and by virtue of these Terms of Use). <br/>
When terminating the User’s Account, 1CLICKGAIN, as a rule, shall delete information on the User (including his/her application form/page in the Application), but preserve all Content in the Application posted by the User (comments, messages, etc.). If the User wishes to delete this Content and such possibility is provided by the Application with regard to the respective Content, he/she must do so via his/her Account prior to sending the request for termination of the Service. <br/>
If the User terminates the Service and then re-registers therefor within 1 (one) year following termination, for the purposes of effect and performance of obligations of the User hereunder the Service shall be deemed not to have been terminated; the terms envisaged in these Terms of Use shall not be interrupted; the rights granted before the termination shall continue to have effect; any other provisions of the Terms of Use which used to bind or restrict the User one way or another shall not be considered terminated.   <br/>
11. Intellectual Property<br/>
The Application contains content (including but not limited to flows, emocons, emoticons, etc.) owned or licensed by 1CLICKGAIN (“1CLICKGAIN Content”). 1CLICKGAIN Content is protected by copyright, trademark, patent, trade secret and other laws, and, as between the User and 1CLICKGAIN, 1CLICKGAIN owns and retains all rights in the 1CLICKGAIN Content and the Application. The User may not remove, alter or conceal any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the 1CLICKGAIN Content and the User may not reproduce, modify, adapt, prepare derivative works based on, perform, display, publish, distribute, transmit, broadcast, sell, license or otherwise exploit the 1CLICKGAIN Content.<br/>
1CLICKGAIN does not grant or transfer to the User any copyright or related rights (to the software, design or any other objects being part of the Application as well as posted under 1CLICKGAIN domain name); 1CLICKGAIN does not transfer any tangible media or rights thereto, rights to trademarks or other identification means as well as 1CLICKGAIN does not grant any other intellectual property rights.<br/>
The User does not obtain any rights to materials created in the course of visits to the Application, use of 1CLICKGAIN Service and/or use of the Account (e.g., upon posting the Content) since such materials are the result of displays generated in the course of operation of software belonging to 1CLICKGAIN.   <br/>
The 1CLICKGAIN name may not be copied, imitated or used, in whole or in part, without the prior written permission of 1CLICKGAIN. In addition, all page headers, custom graphics, button icons and scripts are service marks, trademarks and/or trade dress of 1CLICKGAIN, and may not be copied, imitated or used, in whole or in part, without prior written permission from 1CLICKGAIN.<br/>
12. Data Protection<br/>
The User understands and agrees that all personal data provided thereby to 1CLICKGAIN through the Application is necessary for the Application functioning and proper performance of the Terms of Use by 1CLICKGAIN since provision and processing (operations with personal data, including its collection, systematization, accumulation, storing, update, change, distribution, provision, making available to the public etc.) of the personal data are the essence and the purpose of the Application. <br/>
The User understands and agrees that all personal data marked by 1CLICKGAIN as mandatory for submission is important for fulfillment of the Terms of Use by 1CLICKGAIN. Any additional information posted by the User in the Application shall be posted by the User himself/herself with the aim to make it publicly available to the extent determined by the User himself/herself and to the extent allowed by the functionality of the Application.  <br/>
The User understands and agrees that if he/she publishes his/her personal data in public domain (e.g. by way of posting in Internet, including the Application, social networks, etc.), the regime established for publicly available personal data shall apply thereto, in particular, by 1CLICKGAIN. <br/>
The personal data of the User shall be processed by 1CLICKGAIN within the entire period of the Service and one year following the termination of the Service (in case the User restores his/her account). The User understands that 1CLICKGAIN may delete his/her application form but may choose not to delete other Content having been posted by the User which may contain his/her personal data. <br/>
1CLICKGAIN may use the publicly available personal data for advertising purposes and in the course of other types of promotion of the Application and/or the services of 1CLICKGAIN.<br/>
1CLICKGAIN may process the User’s data for statistical purposes. In this case, however, the data shall be depersonalized. 1CLICKGAIN shall not be liable for use of the User’s personal data by other persons.<br/>
The User must not post in the Application personal data of third parties, unless otherwise explicitly allowed by the law. As soon as any operations with respect to certain personal data is no longer allowed by law, the User must immediately bring the information posted in the Application in compliance with the law.<br/>
In case of introduction of amendments to the Terms of Use relating to the User’s data, the User must bring his/her data in compliance with the new requirements within 10 (ten) working days, unless 1CLICKGAIN determines a different term.<br/>
13. Service Interruptions and Confidentiality<br/>
Although it is 1CLICKGAIN’s intention that the Application is available as much as possible, there will be occasions when the Service may be interrupted, including, without limitation, for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and/or equipment. In addition, 1CLICKGAIN reserves the right to remove any Content from the Application for any reason, without prior notice. The Content removed from the Application may continue to be stored by 1CLICKGAIN, including, without limitation, in order to comply with certain legal obligations, but may not be retrievable without a valid court order. Consequently, 1CLICKGAIN encourages the User to maintain his/her own backup of his/her Content. 1CLICKGAIN will not be liable to the User for any modification, suspension, or discontinuation of the Service, or the loss of any Content. The User also acknowledges that the Internet may be subject to breaches of security and that the submission of the Content or other information may not be secure.<br/>
Any Content will be non-confidential and non-proprietary and 1CLICKGAIN will not be liable for any use or disclosure of the Content. The User’s relationship with 1CLICKGAIN is not a confidential, fiduciary, or other type of special relationship, and the User’s decision to submit any Content does not place 1CLICKGAIN in a position that is any different from the position held by members of the public, including with regard to the Content. None of the Content will be subject to any obligation of confidence on the part of 1CLICKGAIN, and 1CLICKGAIN will not be liable for any use or disclosure of any Content provide by the User.<br/>
14. Reporting Copyright and Other IP Violations<br/>
The User is encouraged to report any copyright or other IP violations to 1CLICKGAIN in any manner that he/she finds appropriate for 1CLICKGAIN to be able to take immediate remedial action.<br/>
If the User infringes third party intellectual property rights, 1CLICKGAIN will disable the User’s Account at its own discretion.<br/>
Disclaimer of Warranties<br/>
THE SERVICE, INCLUDING, WITHOUT LIMITATION, 1CLICKGAIN CONTENT, IS PROVIDED ON AN “AS IS”, “AS AVAILABLE” AND “WITH ALL FAULTS” BASIS AND THE USER MAY NOT REQUIRE OR EXPECT FROM THE APPLICATION ANYTHING BUT FOR THE SCOPE OF THE SERVICE. 1CLICKGAIN DOES NOT WARRANT COMPATIBILITY OF THE APPLICATION WITH OTHER APPLICATIONS AND IS NOT REQUIRED TO PROVIDE TECHNICAL SUPPORT WITH RESPECT TO THE APPLICATION. TO THE FULLEST EXTENT PERMISSIBLE BY LAW, NEITHER 1CLICKGAIN NOR ITS PARENT COMPANY NOR ANY OF THEIR EMPLOYEES, MANAGERS, OFFICERS OR AGENTS (COLLECTIVELY, THE “1CLICKGAIN PARTIES”) MAKE ANY REPRESENTATIONS OR WARRANTIES OR ENDORSEMENTS OF ANY KIND WHATSOEVER, EXPRESS OR IMPLIED, AS TO: (A) THE SERVICE; (B) THE 1CLICKGAIN CONTENT; (C) THE USER CONTENT; OR (D) SECURITY ASSOCIATED WITH THE TRANSMISSION OF INFORMATION TO 1CLICKGAIN OR VIA THE APPLICATION. IN ADDITION, THE 1CLICKGAIN PARTIES HEREBY DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, TITLE, CUSTOM, TRADE, QUIET ENJOYMENT, SYSTEM INTEGRATION AND FREEDOM FROM COMPUTER VIRUS.<br/>
THE 1CLICKGAIN PARTIES DO NOT REPRESENT OR WARRANT THAT THE SERVICE WILL BE ERROR-FREE OR UNINTERRUPTED; THAT DEFECTS WILL BE CORRECTED; OR THAT THE SERVICE OR THE SERVER THAT MAKES THE SERVICE AVAILABLE IS FREE FROM ANY HARMFUL COMPONENTS, INCLUDING, WITHOUT LIMITATION, VIRUSES. THE 1CLICKGAIN PARTIES DO NOT MAKE ANY REPRESENTATIONS OR WARRANTIES THAT THE INFORMATION (INCLUDING ANY INSTRUCTIONS) IN THE APPLICATION IS ACCURATE, COMPLETE, OR USEFUL. THE 1CLICKGAIN PARTIES DO NOT WARRANT THAT THE USE OF THE APPLICATION IS LAWFUL IN ANY PARTICULAR JURISDICTION, AND THE 1CLICKGAIN PARTIES SPECIFICALLY DISCLAIM SUCH WARRANTIES. SOME JURISDICTIONS LIMIT OR DO NOT ALLOW THE DISCLAIMER OF IMPLIED OR OTHER WARRANTIES SO THE ABOVE DISCLAIMER MAY NOT APPLY TO SOME USERS TO THE EXTENT SUCH JURISDICTION'S LAW IS APPLICABLE TO THE USER AND THESE TERMS OF USE.<br/>
THE 1CLICKGAIN PARTIES DO NOT ENDORSE CONTENT AND SPECIFICALLY DISCLAIM ANY RESPONSIBILITY OR LIABILITY TO ANY PERSON OR ENTITY FOR ANY LOSS, DAMAGE (WHETHER ACTUAL, CONSEQUENTIAL, PUNITIVE OR OTHERWISE), INJURY, CLAIM, LIABILITY OR OTHER CAUSE OF ANY KIND OR CHARACTER BASED UPON OR RESULTING FROM ANY CONTENT.<br/>
Limitation of Liability; Waiver<br/>
1CLICKGAIN shall be liable only for willful misconduct having the purpose of violation of its obligations hereunder.<br/>
UNDER NO CIRCUMSTANCES WILL THE 1CLICKGAIN PARTIES BE NO LIABLE FOR ANY LOSS OR DAMAGES OF ANY KIND (INCLUDING, WITHOUT LIMITATION, FOR ANY DIRECT, INDIRECT, ECONOMIC, EXEMPLARY, SPECIAL, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL LOSSES OR DAMAGES) THAT ARE DIRECTLY OR INDIRECTLY RELATED TO: (A) THE SERVICE; (B) THE APPLICATION; (C) THE 1CLICKGAIN CONTENT; (D) THE USER CONTENT; (E) THE USE OF, INABILITY TO USE, OR THE PERFORMANCE OF THE SERVICE AND THE APPLICATION; (F) ANY ACTION TAKEN IN CONNECTION WITH AN INVESTIGATION BY THE 1CLICKGAIN PARTIES OR LAW ENFORCEMENT AUTHORITIES REGARDING USE OF THE APPLICATION/SERVICE; (G) ANY ACTION TAKEN IN CONNECTION WITH COPYRIGHT OR OTHER INTELLECTUAL PROPERTY OWNERS; (H) ANY ERRORS OR OMISSIONS IN THE APPLICATION OPERATION; OR (I) ANY DAMAGE TO ANY USER’S COMPUTER, MOBILE DEVICE, OR OTHER EQUIPMENT OR TECHNOLOGY INCLUDING, WITHOUT LIMITATION, DAMAGE FROM ANY SECURITY BREACH OR FROM ANY VIRUS, BUGS, TAMPERING, FRAUD, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER LINE OR NETWORK FAILURE OR ANY OTHER TECHNICAL OR OTHER MALFUNCTION, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOST PROFITS, LOSS OF GOODWILL, LOSS OF DATA, WORK STOPPAGE, ACCURACY OF RESULTS, OR COMPUTER FAILURE OR MALFUNCTION, EVEN IF FORESEEABLE OR EVEN IF THE 1CLICKGAIN PARTIES HAVE BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE, STRICT LIABILITY OR TORT (INCLUDING, WITHOUT LIMITATION, WHETHER CAUSED IN WHOLE OR IN PART BY NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATIONS FAILURE, OR THEFT OR DESTRUCTION OF THE SERVICE). IN NO EVENT WILL THE 1CLICKGAIN PARTIES BE LIABLE TO ANYONE FOR LOSS, DAMAGE OR INJURY, INCLUDING, WITHOUT LIMITATION, DEATH OR PERSONAL INJURY. IN CASE UNDER THE LAW OF A USER’S JURISDICTION THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES IS NOT ALLOWED, IN NO EVENT WILL THE 1CLICKGAIN PARTIES’ TOTAL LIABILITY FOR ALL DAMAGES, LOSSES OR CAUSES OR ACTION EXCEED TWO HUNDRED UNITED STATES DOLLARS ($200.00) OR ITS EQUIVALENT IN ANY OTHER CURRENCY.<br/>
THE USER AGREES THAT IN THE EVENT HE/SHE INCURS ANY DAMAGES, LOSSES OR INJURIES THAT ARISE OUT OF 1CLICKGAIN’S ACTS OR OMISSIONS, THE DAMAGES, IF ANY, ARE NOT IRREPARABLE OR SUFFICIENT TO ENTITLE THE USER TO AN INJUNCTION PREVENTING ANY EXPLOITATION OF ANY WEB SITE, SERVICE, PROPERTY, PRODUCT OR OTHER CONTENT OWNED OR CONTROLLED BY THE 1CLICKGAIN PARTIES, AND THE USER WILL HAVE NO RIGHTS TO ENJOIN OR RESTRAIN THE DEVELOPMENT, PRODUCTION, DISTRIBUTION, ADVERTISING, EXHIBITION OR EXPLOITATION OF ANY WEB SITE, PROPERTY, PRODUCT, SERVICE, OR OTHER CONTENT OWNED OR CONTROLLED BY THE 1CLICKGAIN PARTIES.<br/>
BY ACCESSING THE APPLICATION, THE USER UNDERSTANDS THAT HE/SHE IS WAIVING RIGHTS WITH RESPECT TO CLAIMS THAT ARE AT THIS TIME UNKNOWN OR UNSUSPECTED.<br/>
1CLICKGAIN IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND THE USER RELEASES 1CLICKGAIN, OUR DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM THE USER MAY HAVE AGAINST ANY SUCH THIRD PARTIES.<br/>
Indemnification<br/>
The User agrees to defend (at 1CLICKGAIN's request), indemnify and hold the 1CLICKGAIN Parties harmless from and against any claims, liabilities, damages, losses, and expenses, including without limitation, reasonable attorney’s fees and costs, arising out of or in any way connected with any of the following (including as a result of direct activities on the Application or those conducted on behalf of the User): <br/>
his/her Content or his/her access to or use of the Application; <br/>
breach or alleged breach of these Terms of Use; <br/>
violation of any third-party right, including without limitation, any intellectual property right, publicity, confidentiality, property or privacy right; <br/>
violation of any laws, rules, regulations, codes, statutes, ordinances or orders of any governmental and quasi-governmental authorities, including, without limitation, all regulatory, administrative and legislative authorities; or <br/>
any misrepresentation made by the User. <br/>
The User will cooperate as fully required by 1CLICKGAIN in the defense of any claim. 1CLICKGAIN reserves the right to assume the exclusive defense and control of any matter subject to indemnification by the User, and the User will not in any event settle any claim without the prior written consent of 1CLICKGAIN.<br/>
16. Arbitration<br/>
Any dispute, controversy or claim arising out of or relating to this User Agreement, or the breach, termination or invalidity, as well as the use of applications and / or the right to privacy and / or publicity shall be settled by arbitration in accordance with the Arbitration Rules UNCITRAL. There should be only one arbitration agreed by the parties within twenty (20) days of receipt of the request for arbitration by the respondent. Location and time of the arbitration - Panama City, Panama City. The arbitration shall be conducted and a decision should be made in English. The court's decision is final and binding on the parties and may be enforced in any legal jurisdiction. Notwithstanding any provision of applicable law, the arbitration will have the right to award damages, costs for services of lawyers or compensation as a consequence of conflict with these Terms of Usw.<br/>
The parties hereby expressly waive trial by jury. Claims may be brought only on one’s own behalf. Neither the User, nor 1CLICKGAIN will participate in a class action or class-wide arbitration for any claims covered by these Terms of Use. The User also agrees not to participate in claims brought in a private attorney general or representative capacity, or consolidated claims involving another person’s account, if 1CLICKGAIN is a party to the proceeding. <br/>
1CLICKGAIN reserves the right to change the dispute resolution provision, but any such changes will not apply to disputes arising before the effective date of the amendment.<br/>
17. Time Limitation on Claims<br/>
Any claim arising out of or related to the User’s relationship with 1CLICKGAIN must be filed within one year after such claim arose; otherwise, the claim is permanently barred.<br/>
18. Governing Law <br/>
These Terms of Use are governed by and construed in accordance with the laws of the Panama, without giving effect to any principles of conflicts of law and will specifically not be governed by the united nations conventions on contracts for the international sale of goods, if otherwise applicable. <br/>
Entire Agreement. Transfer and Assignment<br/>
These Terms of Use constitute the entire agreement between each User and 1CLICKGAIN and governs the use of the Application, superseding any prior agreements between the User and 1CLICKGAIN. The User may not assign the Terms of Use or any rights or delegate any obligations hereunder, in completely or in part, whether voluntarily or by operation of law, without the prior written consent of 1CLICKGAIN. Any purported assignment or delegation without the appropriate prior written consent of 1CLICKGAIN will be invalid. 1CLICKGAIN may assign these Terms of Use or any rights hereunder without the User’s consent. <br/>
If any provision of these Terms of Use is held to be unlawful, void, or for any reason unenforceable during arbitration or by a court of competent jurisdiction, then that provision will be deemed severable from these Terms of Use and will not affect the validity and enforceability of any remaining provisions. 1CLICKGAIN’s failure to insist upon or enforce strict performance of any provision of these Terms will not be construed as a waiver of any provision or right. No waiver of any of these Terms will be deemed a further or continuing waiver of such term or condition or any other term or condition. <br/>
19. Territorial Restrictions<br/>
The information provided in the application is not intended for distribution and use by any person or entity in Panama and in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would push aside 1CLICKGAIN any registration requirement within such jurisdiction or country. We reserve the right to restrict access to the application or to any part of the services to any person, geographic area or jurisdiction at any time and at our sole discretion, and to limit access to any number of any content, software, products, services or other things, which provides 1CLICKGAIN.<br/>
20. The age limit<br/>
1CLICKGAIN registration takes gaming account and bet only on customers who turned 12 years old (or other appropriate age limit adopted in the country concerned). 1CLICKGAIN reserves the right to cancel the transaction, committed customers, who have not reached that age, or customers who have violated the rules.<br/>
21. The responsibility of the betting account holder<br/>
When registering the game account customers must provide accurate information about your name and phone.<br/>
Each authorization or a phone call 1CLICKGAIN, the customer must check his betting account balance. If the client has any questions or misunderstandings, it should inform the 1CLICKGAIN as soon as possible, pointing out the history of your transactions at the time of the last balance check.<br/>
When authorization or phone call 1CLICKGAIN customer must correctly specify the User Name and phone.<br/>
Customer is responsible for maintaining order in the full details of their gaming account, especially address, telephone number and payment / bank details.<br/>
Customer is responsible for maintaining the confidentiality of your User Name and safety information. If the client is concerned that this information is not kept secret, it shall immediately notify the 1CLICKGAIN, then the client will receive a new security details, and all further transactions with the old parts will be canceled.<br/>
Any bets placed online at the time, when using the User name and telephone number (ie, when the client has passed the authorization), shall be considered valid. This provision comes under our criteria of sufficiency of available funds and a reasonable amount bid for admission to 1CLICKGAIN.<br/>
Each customer is allowed to have only one account on 1CLICKGAIN. Account details are stored in our database and checked daily. All subsequent accounts that are registered with the same postal code / personal information / IP address, and which were found to be related to an existing account closed immediately and any bets will be void on 1CLICKGAIN decision. 1CLICKGAIN reserves the right to review any winnings obtained thereby. All new registrations are checked for multiple registrations. Please take this into consideration.<br/>
If the customer provide details, such as your username, which can be considered as containing offensive language, 1CLICKGAIN reserves the right to close the betting account of the customer without any further explanation.<br/>
Under the "Client identity verification" 1CLICKGAIN obliged to carry out continuous monitoring of:<br/>
- The identity of customers, due diligence and identification data (for example, at the request identification documents);<br/>
- Financial behavior and habits of customers, in order to confirm that transactions comply with the available contact information on the client's risk profile;<br/>
- Customer behavior and habits in gambling, in order to confirm that transactions comply with the available contact information on the client's risk profile.<br/>
Opening the game account in the company 1CLICKGAIN, the customer agrees with the above actions, which may take 1CLICKGAIN in order to verify the customer's identity.<br/>
As a customer, you need to understand that funds deposited to your account to place bets, any compensation will be awarded, and the company 1CLICKGAIN should not be considered as a financial institution.<br/>
1CLICKGAIN Company reserves the right to close a player account or refuse to open it.<br/>
The customer has the right at any time to close my account, by contacting customer support, which will make all the necessary actions.<br/>
All transactions are tested for involvement in money laundering. 1CLICKGAIN Company is obliged to report all suspicious transactions to the competent authorities.<br/>
1CLICKGAIN reserves the right to disclose personal information when required by law, the controlling 1CLICKGAIN organizations, government institutions or agencies, and other authorized organizations (such as having the force of law and not) in cases where the company 1CLICKGAIN aware that such action is necessary, including but not limited to, making the current trial, by order of the court, by order of the controlling 1CLICKGAIN organization, for the police, in the course of legal proceedings or investigations of sports events.<br/>
In cases where the amount of the withdrawal of funds from gaming account reaches $ 250 (or equivalent in another currency), the planned examination will be carried out.<br/>
21. Payments<br/>
No employee 1CLICKGAIN are not allowed to provide any loans. Client responsibility to maintain sufficient funds in their account for the respective rates. 1CLICKGAIN reserves the right to cancel any bet that has been accepted in error when the client's account did not have sufficient funds to pay full rate.<br/>
Bets placed by credit or debit card shall not be valid until such time until 1CLICKGAIN not receive payment. If the event has already begun trading, and the payment is not received, this rate will be automatically canceled.<br/>
If by mistake the funds were credited to the gaming account of the client, his responsibility is to notify 1CLICKGAIN this error without delay. Any subsequent winnings that get customers to notice 1CLICKGAIN about this error, regardless of their connection with the error shall be deemed invalid and returned 1CLICKGAIN.<br/>
Earning wins customer accounts occurs after confirmation of the final result.<br/>
For operations with your game score of the customer shall only use personal credit / debit card or other means of payment. Any deposits, committed with the use of someone else's credit / debit card or someone else's account, return, and the rates paid by means of such a card / account canceled.<br/>
Customer may open only one account. Any additional accounts that adds client to be closed, and credited to them shall be refunded.<br/>
1CLICKGAIN under any circumstances, in any case, shall not be liable for any damages or losses without limitation, alleged or suspected to be caused by this website or its content, including, without limitation, delay or interruption in operation or transmission, line failures communication, the use of anyone or misuse of the contents of this website, or any errors or omissions content.<br/>
1CLICKGAIN reserves the right to void any or all bets placed a group of people who act in collusion to defraud 1CLICKGAIN. It may refer to persons, relatives, organizations, bookmakers and their employees.<br/>
Game account is a personal account of the client. Customers are not permitted to sell, transfer, purchase or otherwise dispose of the account, as well as not allowed to transfer funds from your betting account to the account of another client or receive funds into your player account to another client's account.<br/>
1CLICKGAIN may charge a fixed fee or proportional when making a deposit or payment. Any charges will be clearly indicated when the application for payment, and the customer will be able to abandon the operation or select another, cheaper or free of payment.<br/>
In some cases, the currency of your account balance or currency of any funds that you withdraw may be different from the deposit currency. 1CLICKGAIN Company reserves the right to change the currency of your account, make payments and bonuses in a different currency. In this case, priority is given to the rate of exchange rather than the rate of bargaining.<br/>
All operations with the accounts are made only to the account from which you are updating.<br/>
All deposit accounts and payments from the account of the client is available in the sections "Balance" and "Deposit", which can be found in the "Marketpleys" section after you log in to access the data. Once a method is selected, any possible commission will be clearly indicated when the application for payment, and the customer will be able to abandon the operation or select another, cheaper or free of payment.<br/>
In connection with our compliance with money-laundering program, 1CLICKGAIN company reserves the right to limit the amount of the payment to $ 100, if the customer has money to your account and did not use the money they made on bets or games<br/>
22. Bonuses and Promotions<br/>
The company offers a range of 1CLICK GAIN bonuses, prizes and promotions to its customers, which are designed exclusively for customers participating in betting games and entertainment purposes.<br/>
By participating in the action or taking a bonus, you agree to receive marketing correspondence from 1CLICKGAIN. You will be able to unsubscribe from such communications.<br/>
Bonuses or shares may include specific terms and conditions of use, so customers should carefully read all of the additional terms and conditions related to each bonus or stock. In the bonus Terms and Conditions shall be the version number, date of last update, and, if applicable, the period of validity.<br/>
1CLICKGAIN reserves the right to refuse to credit bonus or participation in the action, and also to exclude the customer from the list to receive bonuses, awards or stock 1CLICKGAIN at any time. In addition, 1CLICKGAIN reserves the right to cancel, modify, restrict or freeze bonuses, awards or shares at any time.<br/>
23. Miscellaneous<br/>
The effective date of these Terms of Use is 5 May 2016. These Terms of Use were written in English. To the extent, any translated version of these Terms of Use conflicts with the English version, the English version controls.<br/>
Any types of communication sent through the Accounts within the Application (including, but not limited to, notifications on the change of details, termination notices, requests of the User, etc.) shall be valid, legally binding and admissible as evidence.<br/>
Any types of communication sent via e-mail in cases provided herein shall be valid, legally binding and admissible as evidence if sent:<br/>
if to 1CLICKGAIN – through the app or email 1CLICKGAIN, which is listed on the application site (if any); <br/>
if to the User – via the app or SMS to the phone number specified in the application and / or account. <br/>
Business days referred to herein shall be business days Panama.<br/>
The Parties undertake to update their details on a regular basis.<br/>
The Parties acknowledge that they are fully aware of the nature of the contract formalized by these Terms of Use. The User has familiarized himself/herself and understood the Terms of Use and the legal consequences connected with the Terms of Use (rights and obligations hereunder). The User understands that acceptance of the Terms of Use confirms that the User has studied, understood and agreed with the Terms of Use.<br/>
