Condiciones de uso<br/>
Estas Condiciones de Uso son efectivos a partir del 5 de mayo de 2016.<br/>
Al registrarse en la aplicación 1CLICKGAIN (o 1clickgain, «la solicitud»), que completa e incondicionalmente acepta que quedará vinculado por estas condiciones de uso ( "Condiciones de uso"), así como cualquier documento legalmente vinculante incorpora a la presente a modo de referencia. La aplicación es propiedad y está controlado por 1CLICKGAIN CORP.<br/>
Estas condiciones de uso (una vez que accedieron a) crear una relación contractual entre 1CLICKGAIN y que afectan a sus derechos y obligaciones legales. Si no está de acuerdo en estar obligado por todos estos Condiciones de uso o si alguna de estas condiciones de uso no están claras para usted, no se registre a la aplicación hasta se asegura un acuerdo total y claridad.<br/>
Dado que el servicio prestado al usuario se basa en la funcionalidad de la aplicación, sus limitaciones técnicas y demás condiciones de prestación del servicio (uso de la Aplicación), así como las condiciones de uso Publicado por 1CLICKGAIN en las páginas de aplicación será obligatorio para las Partes.<br/>
Términos y definiciones<br/>
Cuenta significa medios técnicos y el sistema de identificación del usuario de la aplicación que permite al usuario enviar a la aplicación (para el acceso público) y / o para 1CLICKGAIN  cierta información y otro contenido, para controlarlos (añadir, modificar y borrar), así para acceder a la funcionalidad correspondiente de la solicitud (disponible sólo para el usuario como una persona registrada en la solicitud).<br/>
Solicitud se refiere a la aplicación de Internet propiedad y control de acceso 1CLICKGAIN  al cual está concedida de conformidad con las condiciones de uso.<br/>
1CLICKGAIN significa la corporacion 1CLICKGAIN CORP organizada y existente bajo las leyes del estado de Panama.<br/>
Contenido significa cualquier clip de datos, texto, archivos, información, nombres de usuario, imágenes, gráficos, fotos, perfiles, audio y vídeo, sonidos, obras musicales, obras de autor, aplicaciones, enlaces y otros contenidos o materiales enviados, publicados o exhibidos a través de la aplicación, independientemente de si o no los datos transmite un significado específico y esté o no de significado (si lo hay) es insignificante o valioso, etc.<br/>
Partes significa 1CLICKGAIN  y cada uno de los usuarios.<br/>
Servicio significa la prestación por 1CLICKGAIN  a los usuarios de acceso a la funcionalidad de la aplicación a los efectos de la publicación de los Contenidos en la forma descrita en el párrafo. 1 del presente documento.<br/>
Condiciones de uso significa este documento, que podrá ser modificado o complementado de vez en cuando, incluyendo disposiciones incorporadas en este documento por referencia.<br/>
Usuario significa una persona para acceder a la solicitud en virtud de la inscripción.<br/>
Materia<br/>
En las actuales condiciones de uso 1CLICKGAIN proporciona a los usuarios del Servicio de publicar el contenido de la aplicación y la provisión de acceso a dicho contenido a terceros. Publicación del Contenido por el usuario en la aplicación se llevará a cabo en virtud de la disposición del contenido de 1CLICKGAIN a través de su cuenta (a menos indicado de otra manera por 1CLICKGAIN, los mensajes se produce automáticamente por el software de aplicación). El proceso de registro puede llevarse a cabo como sigue:<br/>
en virtud de la carga directa por el usuario del contenido de 1CLICKGAIN servidores, o<br/>
en virtud de la provisión de 1CLICKGAIN de los datos en cuanto a donde dicho contenido se almacena y donde se puede cargar desde la aplicación con el uso de código de software especial (incluyendo, por regla general, el software de terceros) si dicha carga se apoya tanto por la aplicación y por el sistema de terceros (por ejemplo, este tipo de tecnología se apoya en el vídeo de servicio de youtube.com).<br/>
La funcionalidad principal de la aplicación se proporciona de forma gratuita. 1CLICKGAIN tiene derecho a ofrecer o introducir servicios o funcionalidades de la aplicación para la carga adicional. Dichos servicios se prestarán de acuerdo con y en el marco de las condiciones de uso.1CLICKGAIN puede determinar condiciones especiales para un servicio específico, y en caso de alguna contraindicación para las condiciones de uso, prevalecerán las condiciones establecidas por 1CLICKGAIN para el respectivo servicio específico.<br/>
1CLICKGAIN informará al usuario sobre todas las condiciones especiales de un servicio de pago, incluyendo el precio, antes de que se ordenó el servicio.<br/>
Para utilizar un servicio de pago, el Usuario deberá pedirlo o expresar su / su conformidad. A menos que de otro modo se establece por los términos de un servicio, se considerarán los mismos que el pago sea la aceptación por parte del Usuario de todos los términos y condiciones del servicio pertinente.<br/>
Todos los medios de pago serán especificados por 1CLICKGAIN en la Solicitud.<br/>
A menos que se establezca lo contrario por 1CLICKGAIN, el servicio se considerará debidamente prestados y aceptado por el usuario si el usuario no envía ninguna reclamación por escrito a 1CLICKGAIN dentro de los 5 (cinco) días hábiles siguientes (i) la finalización real del servicio, ya que se determina o implícito en la naturaleza del servicio pertinente o (ii) el descubrimiento de un defecto, lo que ocurra antes.<br/>
1CLICKGAIN puede proporcionar a ciertos usuarios adicionales funciones / posibilidades a su discreción.<br/>
No 1CLICKGAIN llevar los casos en los siguientes países: Panamá<br/>
1. Registro y cancelación de la cuenta<br/>
Cualquier persona que tiene la capacidad legal necesaria para la celebración de un contrato en virtud de la adhesión a las presentes condiciones de uso de acuerdo con la legislación del país de su residenсе puede ser el usuario.<br/>
El registro se lleva a cabo por el usuario de forma automática (sin la participación de 1CLICKGAIN) según lo estipulado por 1CLICKGAIN en la Solicitud. El registro puede hacerse sólo mediante la cumplimentación del formulario de solicitud por parte del Usuario a sí mismo / a sí misma.El Usuario se compromete a la transferencia de todos los necesarios para 1CLICKGAIN datos, así como al hecho de que la aplicación tendrá acceso a todos sus / sus contactos.<br/>
El registro no está permitido hacerlo sin el consentimiento pleno e incondicional del usuario a las condiciones de uso.<br/>
Tras el registro, se crea una cuenta para el usuario. El acceso a la Cuenta de Usuario se otorga a través de la identificación personal con el número de teléfono móvil.<br/>
El usuario no puede proporcionar acceso a su / su cuenta a terceros. El usuario puede tener una sola cuenta. Si no se respeta esta restricción, 1CLICKGAIN tiene derecho a bloquear el acceso de Usuario a todos o algunos de cuentas, así como poner fin a todas o algunas de dichas cuentas.Dicha violación puede ser motivo de denegación de registro repetido del usuario en la aplicación (incluyendo los casos en que 1CLICKGAIN ha terminado todas las cuentas del usuario).<br/>
Terminación de la Cuenta significa eliminación por 1CLICKGAIN de la aplicación de todo el Contenido enviado por el usuario, incluyendo el formulario de solicitud (1CLICKGAIN tiene derecho a no borrar el contenido relacionado con otros usuarios, por ejemplo, los comentarios de otros usuarios y / o de su contenido, mensajes y otro contenido al que otros usuarios han publicado respuestas o comentarios, contestación de los disparos, vistory o lifehalo fragmentos, etc.), así como la cancelación de la inscripción del `s lo que resulta en la pérdida de acceso a la aplicación y la terminación de las relaciones contractuales.<br/>
Tras la finalización, todos los derechos concedidos al usuario en estas condiciones de uso cesarán inmediatamente.<br/>
2. Reserva de derechos, terminación, cierre de cuentas<br/>
Además de otros derechos que el servicio bajo este Acuerdo El Servicio se reserva el derecho, a su sola discreción, de anular cualquier ganancia y perder el saldo de su cuenta de apuestas, dar por terminado el Acuerdo y / o suspender la prestación de los Servicios / desactivar su tener en cuenta si el servicio tiene motivos razonables para creer o establezca cualquiera de las siguientes:<br/>
usted tiene más de una cuenta activa con el servicio;<br/>
el nombre no coincide con el nombre de la tarjeta (s) de crédito o de débito u otras cuentas corrientes, de utilidad para realizar compras y depósitos con el servicio;<br/>
usted participa en acciones del Servicio de retirarse antes de cumplir con los requisitos de esa promoción en particular;<br/>
¿te proporciona información falsa o engañosa;<br/>
no se proporciona o no proporcionar la información solicitada para su identificación;<br/>
usted no tiene los derechos necesarios;<br/>
el acceso y participar en los servicios del Servicio de una jurisdicción en la participación en los Servicios está prohibido por la ley;<br/>
que está depositando el dinero procedente de manera ilegal o no autorizada penal o de otro tipo;<br/>
se le declara culpable de fraude o fraude o engaño a nadie de ninguna de las partes ha intentado, o si especifica el servicio que ha utilizado o está utilizando la inteligencia artificial u otro sistema (incluyendo máquinas, ordenadores, software u otros sistemas automáticos) diseñado específicamente para derrotar a la sistema o que haya encontrado que en connivencia o tratado de actuar en connivencia con otros jugadores con el fin de engañar al Servicio (o de otros jugadores, dependiendo de las circunstancias);<br/>
que ha permitido (intencionalmente o no) a otra persona que utilice su cuenta;<br/>
incumplimiento de cualquiera de estas condiciones;<br/>
no revele que usted está en Panamá, o un ciudadano de Panamá, un residente que vive en Panamá;<br/>
usted reconoce que usted o nosotros tiene razones para creer que usted está sufriendo de problemas asociados con los juegos de azar.<br/>
Nos reservamos, a nuestra sola discreción, el derecho a:<br/>
rechazar el registro de cualquier solicitante de registro<br/>
negarse a aceptar alguna apuesta;<br/>
modificar, cancelar, eliminar, modificar o añadir algún juego o torneo.<br/>
Nos reservamos el derecho de hacer peticiones de su cuenta, incluyendo verificaciones de crédito, crédito a terceros y las instituciones financieras, de acuerdo con la información que nos ha proporcionado. También nos reservamos el derecho de solicitar información sobre el origen de los fondos.<br/>
En caso de controversia relacionada con apuestas o ganancias, nuestra decisión será definitiva y vinculante. Nos reservamos el derecho de retener cualquier pago o ganancia hasta que la identidad de la persona ganadora se verifica para garantizar que el pago del importe de la ganancia fue a la persona adecuada.<br/>
Nos reservamos el derecho de retener cualquier pago o suma de ganar hasta que la identidad de la persona ganadora se verifica a nuestra satisfacción con el fin de asegurar que el pago del importe de la ganancia, que incluía a la persona adecuada y para cumplir con el lavado de dinero y la verificación de la identidad del jugador. Para ello, nos reservamos el derecho, a su sola discreción, que requerimos que nos proporcione una identificación notarial o equivalente certificado de conformidad con la legislación aplicable en su jurisdicción. Si, dentro de los 180 días a partir de la designación de nuestra solicitud que hemos recibido la documentación necesaria, los fondos disponibles en la cuenta serán eliminados y se cierra su cuenta.<br/>
•, nos podremos en cualquier momento revelar cierta información personal sobre usted a terceros de acuerdo con nuestra política de privacidad, que se reproduce en su totalidad en nuestra política de privacidad<br/>
En el caso de sospechar un fraude o actividad fraudulenta por su parte a sus pagos serán retirados, o usted no será capaz de proporcionar la documentación necesaria para verificar su identidad y / o la edad, se congelará su cuenta, tenemos el derecho de retener cualquier pago o cantidades debidas a que ganar y si es necesario legalmente le puede cobrar la cantidad requerida. Si se juega en cualquiera de los modos de juego, tenemos sospechas sobre el marcador, nos reservamos el derecho de retener cualquier cantidad de su cuenta, que será en el negro de su depósito inicial.Si su cuenta permanece congelada como resultado de este párrafo durante un período continuado de 180 días, en ausencia de una explicación satisfactoria o evidencia para demostrar las intenciones legítimas, los fondos restantes en su cuenta serán eliminados y se cierra su cuenta.<br/>
Puede cerrar su cuenta en cualquier momento de su elección, se requerirá la confirmación de su solicitud por escrito (e-mail, carta, pero con exclusión de chat o SMS), enviado a los datos de contacto en nuestra página web, que se observan durante 48 horas y en el marco de nuestra política de cancelación de su cuenta. Usted debe notificar al empleado específicamente para trabajar con los clientes y confirmar la misma por escrito si por alguna razón se requiere un cierre inmediato de la cuenta.<br/>
Si usted cree que necesita un descanso del juego, por favor, póngase en contacto con nuestro equipo de asistencia inmediata y pedirles que cerrar temporalmente su cuenta, especificando por cuánto tiempo desea que su cuenta ha sido congelada tiempo: un periodo de siete días; un mes;período de seis meses; o más, de acuerdo a sus necesidades. No se puede iniciar sesión en su cuenta durante este período de tiempo que se especifique.<br/>
3. Las cuentas inactivas<br/>
3.1 "Las cuentas inactivas" del jugador se define como cuentas que no son utilizados por usted y no se utilizan para las tasas durante el período de 180 días (cuenta no se repone, no retirar fondos de ella, y no su lugar y no se han calculado tasa, excepto para las cuentas con auto-exclusión).<br/>
3.2 Una vez que su cuenta de jugador ha sido reconocido Durmiente que tendrán derecho a cobrar un cargo administrativo del 10% del saldo total ( "cuota de administración"), con efectos a partir del primer día de inactividad. El importe mínimo de la deducción es de $ 15 o equivalente en otra divisa, y el importe máximo de la deducción es de $ 50 o su equivalente en otra moneda. Vamos a deducir un cargo administrativo de su cuenta de jugador cada treinta (30) días a partir de cuando su cuenta se vuelve inactiva. Se le dará 30 días de anticipación por teléfono, SMS o la aplicación que su cuenta está a punto de ser inactivo (la elección de la forma de la notificación sigue siendo la discreción del servicio). Se debe pagar esta cuota durante el tiempo que (a) no tiene lugar treinta meses desde la fecha de inactividad (si la cuenta de juego se regula 1CLICKGAIN CORP), (b) el cliente no se cierra su cuenta de apuestas, o (c) el cliente no comienza de nuevo para disfrutar de su cuenta de juego.<br/>
Si la cuenta del jugador a la expiración de treinta meses desde la fecha de suspensión de utilización de la cuenta de juego todavía contiene dinero en efectivo, el 1CLICKGAIN empresa debe hacer los esfuerzos necesarios para devolver el equilibrio del propietario de la cuenta de juego. Si, después de todo el esfuerzo 1CLICKGAIN las empresas todavía no devolver el saldo del cliente, este equilibrio será transferida a la organización 1CLICKGAIN CORP, una cuenta cerrada. Si el saldo de la cuenta de juego antes mencionado de menos de $ 5, el importe de la tasa administrativa será igual a la suma del saldo de la cuenta de juego.<br/>
3.3 Vamos a poner fin a la deducción por gastos administrativos de su saldo si se vuelve a activar su cuenta de jugador: lo utiliza para las tasas reales o ganar dinero real.<br/>
3.4 Una vez que su cuenta de jugador llega a cero y / o un balance negativo como resultado de pagos a su cuenta será cerrada.<br/>
3.5 Si desea volver a activar su cuenta de jugador, puede ponerse en contacto con nosotros en cualquier momento con una solicitud para restaurar el equilibrio.<br/>
3.6 En relación con la legislación sobre protección de datos, no podemos confirmar cualquiera que no sea el propietario de la cuenta si tiene una cuenta y una cuenta personal en nuestro sistema. Si un tercero considera que él / ella tiene un interés legítimo en la cuenta abierta con un nombre diferente (por ejemplo, en situaciones de pérdida o incapacidad del titular de la cuenta), él / ella debe ser invitado a enviar en su / su Identificación, así como una orden judicial; El poder de representación (o similar), lo que confirma los intereses legales antes mencionados. Este documento será examinado por el equipo de servicio legal.<br/>
4. Registro, la apertura de su cuenta de apuestas y Membresía<br/>
4.1 Con el fin de jugar y apostar con el servicio y utilizar el servicio, usted debe llenar un formulario y su identidad a través del teléfono.<br/>
4.2 Usted manifiesta y garantiza que toda la información proporcionada por usted al registrarse y completar el cuestionario para ser miembro es precisa, veraz y completa en todos los aspectos, incluyendo, su nombre ( "Nombre"), las fuentes de fondos (incluidas las correspondientes cuentas bancarias y números de tarjetas ) y la dirección residencial.<br/>
4.3 Tomaremos las medidas razonables y apropiadas para garantizar que su información personal se mantiene confidencial y será procesada de acuerdo con nuestra política de privacidad, en su versión modificada de vez en cuando. No revelaremos sus datos personales o información de apuestas a no ser obligado a hacerlo por las leyes y reglamentos aplicables, los tribunales, oa petición de la aplicación de juegos o ley pertinente, o cuando se prevea en estas Condiciones de uso. Es su responsabilidad mantener su información personal confidencial. Nos reservamos el derecho a divulgar y transferir su información personal a los intermediarios, con los que trabajamos, las plataformas de pago y las entidades financieras en la medida necesaria para realizar pagos por los servicios prestados por la aplicación, o si se le obliga a hacerlo de conformidad con las leyes aplicables y reglamentos, en las agencias de ranura o policiales correspondientes.<br/>
4.4 Además, usted es responsable por el hecho de que las leyes aplicables a usted no le prohíben de usar y obtener acceso a la aplicación y la información contenida en el mismo, descargar e instalar el software y / o el uso de, o la participación en el Servicios.<br/>
4.5 Se requiere una prueba más de la edad de identificación de usted para verificar su solicitud para (por ejemplo, la imagen de identificación y de crédito / débito) de miembros para asegurarse de que realmente han llegado a los 12 años de edad, y de acuerdo con los requisitos para combatir el lavado de dinero , el no proporcionar la documentación adecuada en el momento oportuno puede causar un congelamiento de la cuenta. Si hay algún cambio en su información inicialmente proporcionada por usted, usted debe notificarnos del cambio correspondiente sin demora. Con el fin de confirmar su nombre y dirección, SERVICIO se reserva el derecho, en particular, tratan de confirmar el nombre y dirección de correo electrónico. SERVICIO puede, a su discreción, realizar comprobaciones de seguridad adicionales contra cualquier información que usted proporcione. Al aceptar estos Términos y Condiciones, usted autoriza la utilización del Servicio de acceso, uso, manejo y almacenamiento de los resultados de cualquier verificación de la identificación o cheques que se pueda hacer.<br/>
4.6 Nos reservamos el derecho de rechazar su solicitud de adhesión sin justificación de razones.<br/>
4.7 Se le permite abrir sólo una cuenta de apuestas en el Servicio. Si encontramos que usted tiene más de una cuenta con el servicio, nos reservamos el derecho, a su sola discreción, congelar o eliminar todas las cuentas que tiene en el sitio, o para combinarlas en una sola cuenta conjunta o poner fin a este Acuerdo .<br/>
4.8 Su "nombre de usuario" no puede contener palabras ofensivas o inapropiadas. Si discreción del servicio, el nombre de usuario es ofensivo o inapropiado, se le pedirá para cambiarlo. Si la respuesta es negativa, SERVICIO se reserva el derecho de congelar su cuenta.<br/>
5. Colocación de las apuestas y las tasas de recibir<br/>
5.1 Se aceptan apuestas a través de la aplicación móvil. Todas las tarifas están sujetas a las reglas pertinentes de las tasas aplicables a cada evento o juego, de acuerdo con estos Términos y Condiciones.<br/>
Si hay una parada del servicio debido a razones técnicas, después de haber hecho una apuesta, pero antes de una decisión o iniciar juegos o las tasas de uso, la tasa de retorno de su depósito.<br/>
Si la desconexión se produce después de que el resultado de la apuesta puede ser conocido, es decir, después de la decisión, el inicio del juego, la apuesta será considerada válida.<br/>
Si se produce la desconexión de cualquier juego en el que varios jugadores pueden participar, donde los jugadores juegan entre sí, se aplican las mismas reglas que en el párrafo 1 y 2 anteriores.<br/>
5.2 Sólo se aceptan apuestas realizadas a través de Internet a través de los dispositivos de acuerdo con estos Términos y Condiciones. Las ofertas no serán aceptados en cualquier otra forma (ya sea por correo postal, correo electrónico, fax o cualquier otro), y si recibieron serán anuladas sin importar el resultado. Todas las apuestas realizadas en el Sitio, son revisados y considerados para ser colocado, recibido y aceptado en Panamá.<br/>
5.3 Debe asegurarse de que las personas que aún no hayan cumplido los 12 años de edad no se les permite y se les niega la oportunidad de tener acceso a la aplicación y los datos necesarios y / o los datos de su tarjeta de crédito / débito con el fin de permitirles jugar con dinero real en el Servicio.<br/>
- Se supone que usted ha cumplido con las disposiciones de este párrafo, y que todo el juego con dinero real a su cuenta hecha por usted mismo y no por personas menores de 12 años de edad.<br/>
- Si sabe que las personas menores de 12 años de edad participaron en el juego con su cuenta, debe informar a la policía local y obtener un informe escrito de ellos y el número de copias de casos de referencia de archivos o equivalente, y luego nos dan, se le informará lo mismo que nuestro regulador y para resolver este problema de acuerdo con las leyes de Panamá.<br/>
5.4 Es su responsabilidad asegurarse de que los detalles de sus apuestas son correctas. Sin perjuicio de lo dispuesto en los apartados 5.1, 5.2, 5.3, 5.9 y 5.10 aquí una vez sus apuestas han sido colocadas y su aceptación confirmada por nosotros, que no pueden ser cancelado, revocado o modificado, y se cree que es una prueba concluyente en relación con tarifas, que usted pone.<br/>
5.5 Tenga en cuenta que todas las apuestas se registran y graban en la base de datos de registro de transacciones. Transacciones del Servicio revistas son una evidencia concluyente de todas las transacciones y los tiempos en los que las transacciones registradas.<br/>
5.6 Sin perjuicio de los apartados 5.1, 5.9 y 5.10, las apuestas son válidas y aceptadas por el servicio cuando se visualiza el ID de transacción en la pantalla y debidamente reflejada, y en su registro de transacciones.<br/>
5.9 Las ofertas no están permitidos después del inicio del evento y / o evento donde el resultado se conoce en el momento de realizar la apuesta. De acuerdo con el apartado 5.1 anterior, si cualquier caso se deja erróneamente abierta para hacer apuestas después del inicio del evento y / o cuando se conozca el resultado de un evento, SERVICIO se reserva el derecho de rechazar o cancelar dichas apuestas no se hacen a través de su cuenta , todas las apuestas o de las partes deben realizarse a discreción del Servicio. Para evitar cualquier duda, esta disposición no prohíbe las apuestas "en juego" o "medio tiempo".<br/>
5.10 Con respecto a cualquier apuesta y las transacciones relacionadas con él, la decisión de servicio es definitiva y concluyente.<br/>
5.11 Usted reconoce que nuestro generador de números aleatorios ( "RNG") determinará el barajar y distribución de vídeo, el resultado del juego y otros eventos generados al azar que forman parte de nuestros servicios y que se compromete a aceptar este tipo de barajar y resultados de las partidas en la aplicación y otros eventos, generado de forma aleatoria a cabo RNG es definitiva y no negociable.<br/>
5.12 Todas las apuestas deportivas y juegos de apuestas en la instantánea proporcionada por 1CLICKGAIN CORP, colocado y aceptado de conformidad con las leyes de Panamá.<br/>
5.13 La responsabilidad del cliente es hacer cumplir las leyes de su país de residencia en materia de precios. Usted tendrá que consultar a un experto independiente antes de realizar cualquier apuesta en 1CLICKGAIN y asegúrese de que su juego es completamente legal. Las apuestas por Internet puede ser ilegal en la jurisdicción en la que se encuentre, en cuyo caso se le prohíbe el uso de la tarjeta de débito para transacciones de pago.<br/>
5.14 La dirección se reserva el derecho de modificar, completar o modificar estas reglas como lo considere razonable. Todos los clientes recibirán un aviso por adelantado antes de la fecha de vigencia de cualquier cambio en las reglas, y serán necesarios para confirmar el cumplimiento de las normas.<br/>
5.15 Se considera que el cliente acepta estas reglas cuando se abre una cuenta o inicie sesión en su cuenta de casino, realiza una apuesta en 1CLICKGAIN, se suma a la cuenta del jugador o realiza una solicitud de retiro de fondos de la cuenta de juego o asociado con el cliente apoyo. En ausencia de dicha acción, se considera que el cliente acepta estas reglas desde el 5 de mayo de 2016. Cuando se abre el cliente debe dar cuenta personal para proporcionar toda la información, especificando correctamente y en su totalidad en todos los aspectos. Únete a la cuenta de juego se efectuará directamente a la persona en cuyo nombre se abrió la cuenta.<br/>
5.16 Cualquier información proporcionada por los empleados de los servicios de apoyo es para fines informativos y no está sujeta a las Reglas 1clickgain anteriores. A pesar de que hacemos todo lo posible para garantizar que la información proporcionada a los clientes es exacta, el cliente es responsable de la comprensión de las tasas que se coloca, así como los términos y condiciones.<br/>
6. Liquidación de operaciones<br/>
6.1 Cuando se utiliza una tarjeta de crédito o débito, el nombre del titular de la tarjeta debe ser el mismo que el "nombre de usuario» 1clickgain. SERVICIO se reserva el derecho de no aceptar el pago y la transacción en presencia de discrepancias entre el nombre del titular de la tarjeta y el nombre de usuario.<br/>
6.2 Usted es el único responsable del pago de todas las cantidades adeudadas al Servicio / o otros jugadores (como el caso). Con respecto a cualquier pago hecho por usted, usted acepta que no va a hacer o hacer cumplir cualquier devolución y / o de rechazar o cancelar dicho pago, y que indemnizará el Servicio de cualquier reembolso, renuncias o cancelaciones de los pagos que se dará cuenta que está haciendo, así como las pérdidas y gastos incurridos como consecuencia del Servicio. El servicio puede, a su sola discreción, a finalizar prestación de servicios o el pago a determinados usuarios o para usuarios que pagan con determinadas tarjetas de crédito o débito.<br/>
6.3 Sus ganancias son exclusivos de la cantidad de la apuesta.<br/>
6.4 Todas las ganancias serán acreditados a su cuenta. El servicio no afecta de ninguna manera será responsable de los fondos / ganancias acreditadas a un error en la factura, y el Servicio se reserva el derecho de anular cualquier transacción con medios tales como durante o a posteriori. Si los fondos se acreditan a su cuenta por error - el deber de informar sin dilación a servicio.<br/>
6.5 El pago de impuestos, derechos, tasas o cargos que pueden aplicar a sus ganancias en virtud de cualquier ley aplicable, es totalmente su responsabilidad.<br/>
6.6 Los fondos ingresados en el servicio, no se llevan a cabo en secreto o en un manner7 oculto. Derechos, obligaciones y responsabilidades del usuario<br/>
El usuario debe familiarizarse / ella misma y cumplir con las normas de uso de la aplicación y los demás términos y condiciones conectados a los mismos publicado en la Solicitud y establecida por 1CLICKGAIN (por ejemplo, las Directrices para la presentación y la supresión de Violaciónes).<br/>
El usuario puede elegir quién puede ver su / su contenido y actividades.<br/>
El usuario puede utilizar la aplicación sólo dentro de la funcionalidad prevista por el mismo.<br/>
El usuario no podrá publicar violenta, fraudulento, desnudo, parcialmente desnuda, discriminatorio, ilegal, ilegal, odioso, pornográfico o sexualmente sugerentes fotos u otros contenidos de la clase a través de la Aplicación.<br/>
El Usuario es responsable de cualquier actividad que se produce a través de su / su cuenta y se compromete a no vender, transmisión, licencia o cesión de los derechos de cuenta, nombre de usuario, o cualquier cuenta. Se prohíbe el usuario y no creará ninguna cuenta de alguien que no sea él mismo / ella misma. El Usuario declara que toda la información proporcionada a 1CLICKGAIN momento de la inscripción y el resto del tiempo será verdadera, precisa, actualizada y completa y el Usuario se compromete a actualizar su / su información si es necesario para mantener su veracidad y exactitud.<br/>
El usuario no tiene que solicitar, recoger o utilizar las credenciales de acceso de otros usuarios de la aplicación.<br/>
El Usuario es responsable de mantener su / su contraseña en secreto Aplicación y seguro.<br/>
El usuario no debe difamar, acosar, intimidar, abusar, acosar, amenazar, suplantar o intimidar a las personas o entidades y no debe publicar información privada o confidencial a través de la aplicación, incluyendo, sin limitación, la información de la tarjeta de crédito de cualquier otra persona del usuario o, social números de la seguridad o de identidad nacional alternativo, números de teléfono no públicas o direcciones de correo electrónico no públicas.<br/>
El Usuario no podrá utilizar la Aplicación para ningún propósito ilegal o no autorizado. El usuario deberá cumplir con todas las leyes, normas y regulaciones (federales, estatales, locales y provinciales) aplicables al uso de la aplicación, el servicio y el contenido, incluyendo pero no limitado a, las leyes de copyright.<br/>
El Usuario es el único responsable por el contenido que él / ella se somete, mensajes o pantallas de Aplicación.<br/>
El Usuario deberá abstenerse de utilizar varios vulnerabilidad técnica de la solicitud (por ejemplo, "errores", "agujeros", etc.) y en caso de que se revelan, el usuario debe notificar a 1CLICKGAIN tan pronto como sea posible a través del correo electrónico o por medio de la Cuenta es tal posibilidad técnica está previsto por la aplicación.<br/>
El usuario no debe crear o enviar correo electrónico no deseado, comentarios, gustos u otras formas de comercial o comunicaciones de acoso ( "spam") a cualquier usuario de aplicación con independencia de la naturaleza y el contenido de dichas comunicaciones, a menos que tales tipos de comunicaciones se permite de forma explícita y previstas por la funcionalidad de la aplicación.<br/>
El usuario no debe utilizar nombres de dominio o URL web en su / su nombre de usuario sin el consentimiento previo por escrito de 1CLICKGAIN.<br/>
El usuario no debe interferir o interrumpir el Servicio, servidores, o redes conectadas al Servicio, incluyendo, transmitir gusanos, virus, spyware, malware o cualquier otro código de naturaleza destructiva o perjudicial, así como adaptar o descompilar el software o evadir la protección técnica medio. El Usuario no podrá inyectar contenido, o código, o de otra manera alterar o interferir con la manera en cualquier página de la aplicación se muestra en el navegador o dispositivo del usuario.<br/>
El usuario no debe crear cuentas a través de medios no autorizados, incluyendo pero no limitado a, mediante el uso de un dispositivo, escritura, robot, araña, rastreador o un raspador automatizado.<br/>
El usuario no debe intentar restringir a otros usuarios el uso y disfrute del servicio y no debe favorecer o facilitar violaciónes de estos Condiciones de uso o cualquier otro término 1CLICKGAIN.<br/>
El Usuario deberá abstenerse de publicación repetida de mensajes y otros contenidos en las páginas de aplicación si dicha publicación hace que el uso / asistencia de las páginas de aplicación respectivos generalmente oneroso o no se corresponde con los objetivos de las páginas respectivas, entre otras cosas, si los mensajes que se publicado no transmiten ninguna nueva información útil con respecto a los ya publicado - la "inundación".<br/>
El Usuario se compromete a no utilizar la aplicación con fines publicitarios (por ejemplo, para enviar constantemente mensajes sobre el mismo producto o servicio a los efectos de su promoción). Si 1CLICKGAIN tenga conocimiento de los materiales publicitarios enviados por el usuario (enlace, comentario u otro contenido del usuario), 1CLICKGAIN puede, a su propia discreción, de bloque (que no esté disponible para terceros) o eliminar dicho Contenido; y en caso de violaciónes repetidas por el usuario - para bloquear o poner fin a su / su cuenta.<br/>
El usuario está prohibida en el rastreo, el raspado, el almacenamiento en caché o acceder de otro modo cualquier contenido en la aplicación a través de medios automatizados, incluyendo pero no limitado a, los perfiles de usuario y fotos (excepto como puede ser el resultado de los protocolos de los motores de búsqueda estándar y las tecnologías utilizadas por una búsqueda motor con el consentimiento expreso del 1CLICKGAIN).<br/>
El usuario deberá determinar que los medios de uso de la Aplicación en el marco de las posibilidades previstas al respecto por estas condiciones de uso y la funcionalidad de la aplicación. El Usuario es el único y total responsable de los contenidos publicados tanto a la persona cuyos derechos han sido violados y para 1CLICKGAIN, así como por la violación de estas condiciones de uso.<br/>
El Usuario es responsable de todas las cargas de los datos que él / ella incurre por la aplicación.<br/>
En la publicación del Contenido del usuario debe actuar de manera razonable, legalmente y de buena fe, y 1CLICKGAIN deberá confiar en tal comportamiento razonable, legítima y de buena fe del usuario.<br/>
El Usuario es el único responsable de la interacción con otros usuarios del servicio, ya sea en línea o fuera de línea. 1CLICKGAIN no es responsable de la conducta de cualquier usuario.<br/>
El Usuario es el único responsable y asume el riesgo de terceros accedan a su / su cuenta (debido a su pérdida, robo, otra fuga de contraseña, así como por consecuencia del incumplimiento de la cuenta). En caso de cualquier duda, el usuario debe cambiar la contraseña de su cuenta.<br/>
8. Los derechos, obligaciones y responsabilidades de 1CLICKGAIN<br/>
1CLICKGAIN no controla (monitor, aprueba ni aprueba) Contenido del usuario a excepción de los casos previstos expresamente en el presente documento. En particular, 1CLICKGAIN no controla el contenido de la página del usuario (Las páginas de aplicación que tiene derecho un usuario para cambiar y / o que él / ella cambia). 1CLICKGAIN ofrece al usuario una posibilidad técnica para la creación de páginas de la aplicación (incluyendo los formularios de solicitud y cuestionarios). 1CLICKGAIN no tiene ninguna obligación de preseleccionar, monitorear, editar o eliminar cualquier contenido. Si el contenido viola estas condiciones de uso, el usuario puede asumir la responsabilidad legal para ese contenido.<br/>
1CLICKGAIN no iniciará la publicación de contenido en nombre del usuario. Publicación del Contenido del Usuario se lleva a cabo a su / su iniciativa y en virtud de la aplicación de medios técnicos automatizados y software de 1CLICKGAIN. 1CLICKGAIN no controla ningún anuncio en particular del contenido; no elige o aprueba los usuarios finales de los Contenidos (los visitantes de aplicación). Sin perjuicio de lo anterior, puede iniciar 1CLICKGAIN publicación de información en diversos tipos de tareas, pruebas y concursos para los fines de la motivación del usuario y el entretenimiento.<br/>
1CLICKGAIN no cambiará el contenido publicado por el usuario. Las posibles modificaciones técnicas no afectarán a la sustancia.<br/>
1CLICKGAIN podrá llevar a cabo mediante técnicas de rastreo y se opone (por medio de su eliminación) la publicación de los comentarios, comentarios, mensajes y otros contenidos de la misma persona desde varias cuentas, así como por un grupo de personas afiliadas cuando dicha publicación no cumple con los objetivos de la Aplicación y crea un efecto que no habría existido en el curso de la operación normal de la aplicación. 1CLICKGAIN tiene derecho a tomar medidas para detener dicha actividad también en el caso de que obtiene una queja de un tercero. En ambos casos se indica la resolución se toma a la sola discreción de 1CLICKGAIN y el Usuario se obliga a aceptar que independientemente de su / su propia evaluación de las circunstancias indicadas, así como independientemente de las circunstancias.<br/>
1CLICKGAIN se reserva el derecho de suspender de forma unilateral o bloque (que no esté disponible para terceros) cualquier contenido, suspender o limitar el acceso del usuario a la cuenta, de rechazar unilateralmente del servicio y las condiciones de uso que resulta en la terminación de la cuenta del usuario, limitar o bloquear el acceso del usuario a la aplicación si 1CLICKGAIN se da cuenta (incluyendo a terceros) que el uso de la Aplicación por el usuario viole o facilita la violación de los derechos de 1CLICKGAIN, terceros (incluyendo otros usuarios y / o los visitantes de aplicación ), disposiciones de la legislación y la normativa nacional e internacional, las condiciones de uso y / o no se ajusta a la idea y la esencia de la solicitud. En cualquier caso, 1CLICKGAIN no modificará el contenido.<br/>
1CLICKGAIN podrá emprender las medidas descritas en el párrafo anterior sin un aviso previo al Usuario si lo estima respuesta inmediata a una violación o violación prevista necesario. El usuario deberá aceptar tales medidas independientemente de su evaluación y la evaluación de las circunstancias causantes de tales medidas por parte del usuario.<br/>
Aunque 1CLICKGAIN no reclama la propiedad de cualquier Contenido publicado a través de la Aplicación, 1CLICKGAIN puede utilizar el contenido, incluyendo la apariencia del usuario en el contenido (por ejemplo, fotos, vídeos), en virtud de una licencia no exclusiva totalmente pagada y libre de regalías, transferible, sub autorizable (1CLICKGAIN puede sublicenciar el derecho a usar el contenido a terceros, y mediante el registro de la aplicación, el usuario proporciona su / su consentimiento incondicional a dicha licencia a terceros), a nivel mundial, por cualquier medio y sin limitación en cuanto al territorio dentro de todo el plazo de el Servicio, incluyendo de forma anónima (sin indicación del nombre del usuario y los titulares de los derechos). 1CLICKGAIN no será necesario proporcionar los informes al usuario con respecto al uso del contenido.<br/>
1CLICKGAIN puede copiar el contenido publicado por el usuario en la aplicación.<br/>
1CLICKGAIN se reserva el derecho de modificar o terminar el servicio o la aplicación (el orden de facilitar el acceso a las aplicaciones, los algoritmos de funcionamiento de la aplicación, la estructura de aplicaciones) por cualquier razón, sin previo aviso, en cualquier momento, y sin responsabilidad para el Usuario. En caso de cambio de la solicitud, la forma de visualización de contenido (pero no el contenido en sí) en la solicitud puede cambiar. En caso de terminación del Servicio al contenido ya no será accesible a través de la cuenta (por ejemplo, los terceros no podrán desplazarse al nombre de usuario terminado y ver el contenido), pero el contenido respectivo y datos puede persistir y aparecer dentro del servicio (por ejemplo, si el contenido ha sido re-compartida por otros).<br/>
1CLICKGAIN se reserva el derecho a denegar el acceso al servicio a cualquier persona por cualquier razón en cualquier momento.<br/>
1CLICKGAIN se reserva el derecho de obligar a la pérdida de cualquier nombre de usuario por cualquier razón.<br/>
1CLICKGAIN pueden, pero no tienen ninguna obligación de, eliminar, modificar, bloquear y / o supervisar el contenido o cuentas que contiene el contenido que 1CLICKGAIN determina, a su sola discreción viola estas condiciones de uso.<br/>
Puede haber enlaces de la aplicación o de las comunicaciones recibidas desde la aplicación, a los sitios web de terceras partes o características. También puede haber enlaces a sitios web de terceras partes o características en imágenes o comentarios dentro de la aplicación. La aplicación también incluye Contenido de terceros que 1CLICKGAIN no controla, ni aprueba mantener. La funcionalidad de la aplicación también puede permitir que las interacciones entre la aplicación y un sitio web de terceros o característica, incluidas las aplicaciones que conectan la aplicación o el perfil del usuario en la aplicación con un sitio web de terceros o característica. 1CLICKGAIN no controla cualquiera de estos servicios web de terceros o cualquiera de sus contenidos. El usuario reconoce y acepta expresamente que 1CLICKGAIN es de ninguna manera responsable de cualquier tipo de servicios de terceras partes o características. Correspondencia y tratos comerciales del usuario con terceros que se encuentran a través de la Aplicación son exclusivamente entre el Usuario y el tercero. Mediante el uso de aplicaciones de terceros conectados a la aplicación, el usuario reconoce su / su conciencia de que esto puede causar información de identificación personal que se da a conocer al público y / o asociada con el usuario, incluso si 1CLICKGAIN no ha sí siempre y cuando dicha información y que el uso de este tipo de aplicaciones de terceros es bajo el propio opción del usuario y el riesgo, y el usuario tendrá 1CLICKGAIN inofensiva para la actividad relacionada con las aplicaciones de terceros.<br/>
1CLICKGAIN puede colocar publicidad y promociones en la solicitud o en, sobre, o en conjunción con el Contenido del usuario. La manera, el modo y el alcance de dicha publicidad y promociones están sujetas a cambios sin previo aviso al Usuario.<br/>
9. Representaciones y garantías del usuario<br/>
El Usuario declara y garantiza que:<br/>
el usuario tiene el derecho legal y capacidad de entrar en estas condiciones de uso en su / su jurisdicción;<br/>
la información cargada a través de la Aplicación, incluidos los datos personales (que se indica el momento del registro o posteriormente a su actualización) es verdadera y auténtica,<br/>
el usuario propietario del contenido publicado por tanto en oa través de la aplicación o no tiene el derecho de conceder los derechos y licencias establecidos en estas Condiciones de Uso y que el contenido no violar los derechos de terceros y cualesquiera normas y reglamentos aplicables ( federal, estatal, local, provincial o internacional);<br/>
la publicación y el uso del Contenido en oa través de la aplicación no violan, malversan o infrinja los derechos de terceros, incluyendo, sin limitación, los derechos de privacidad, derechos de publicidad, derechos de autor, marcas registradas y / u otros derechos de propiedad intelectual;<br/>
el usuario ha pagado o deberá pagar todas las regalías, honorarios y cualquier otro ingreso que debido a las titulares de los derechos de terceros de los contenidos publicados en oa través de la Aplicación;<br/>
El usuario es consciente de la forma en que se permita a terceros el acceso a los contenidos publicados y cuáles son las posibilidades de terceros en relación con el contenido son (por ejemplo, comentando);<br/>
el Usuario es el único que tiene acceso a su / su cuenta y todas las operaciones realizadas a través de la Cuenta se considerará que ser llevado a cabo por el usuario.<br/>
10. Modificación y Terminación del Servicio<br/>
1CLICKGAIN se reserva el derecho, a su sola discreción, de modificar unilateralmente las presentes Condiciones de Uso ( "Términos") Actualización de vez en cuando. 1CLICKGAIN informará sobre dicho cambio a través de correo electrónico y / oa través de la cuenta. 1CLICKGAIN puede, aunque no está obligado a notificar al usuario sobre la modificación de las condiciones incorporadas en las condiciones de uso a modo de referencia. A menos que se establezca lo contrario por los términos actualizados o mediante la notificación de la modificación de las condiciones de uso, las condiciones actualizadas entrarán en vigor al día siguiente de la fecha de su adopción; enmiendas que establecen nuevos requisitos para el contenido entren en vigor dentro de los 3 días (tres) días naturales a partir del día de su adopción. A menos que el usuario se ha negado el uso del Servicio de conformidad con esta sección antes de la fecha de vigencia de los términos actualizados, el Usuario se considerará que tiene plena e incondicionalmente de acuerdo a las condiciones actualizadas.<br/>
1CLICKGAIN puede negarse unilateralmente de rendimiento del servicio si el usuario ha incumplido cualquiera de las condiciones de uso o de otro modo, crea el riesgo o posible exposición legal para 1CLICKGAIN, o si su / sus acciones contradicen las reglas establecidas del uso de la Aplicación, no son compatible con las normas generales de conducta dentro de la aplicación o la no contradice la idea, el concepto o el "espíritu" de la aplicación. El servicio se dará por terminado fuera de la corte a partir del momento de la terminación del acceso del usuario a su / su cuenta y envío del anuncio de la finalización del Servicio de correo electrónico del usuario (si la dirección de correo electrónico se ha proporcionado). Con ello 1CLICKGAIN tiene derecho a rescindir la cuenta del usuario (en la medida que estime conveniente).<br/>
1CLICKGAIN podrá en cualquier momento de forma unilateral y sin razonar total o parcialmente por finalizado el Servicio con un triple (tres) días naturales de antelación a través de la cuenta en la aplicación oa través de correo electrónico (si la dirección de correo electrónico correspondiente se indica en el formulario de solicitud del usuario).<br/>
El usuario podrá, en cualquier momento de forma unilateral y sin razonar total o parcialmente por terminado el servicio mediante el envío de una notificación 1CLICKGAIN a través de correo electrónico (si la dirección de correo electrónico correspondiente se indica en el formulario de solicitud del usuario). El usuario también podrá dar por terminado el servicio a través de envío de una solicitud respectiva a través de su / su cuenta si la aplicación contempla tal posibilidad técnica.<br/>
A menos que se estipule lo contrario en este documento o por acuerdo entre el usuario y 1CLICKGAIN, el servicio se termina en el momento de la terminación de la cuenta del usuario, pero continuará en la medida prevista en el presente documento (por ejemplo ,. con respecto a las disposiciones de protección de datos) o aparece aquí a partir de (por ejemplo, el permiso para el uso del contenido del usuario otorgada por el usuario de acuerdo con y en virtud de estas condiciones de uso).<br/>
Cuando se cancele la cuenta del usuario, 1CLICKGAIN, por regla general, deberá borrar la información sobre el usuario (incluyendo su / su formulario de solicitud / página de la aplicación), pero conservar todo el contenido de la solicitud enviados por el usuario (comentarios, mensajes, etc. ). Si el usuario desea eliminar este contenido y dicha posibilidad está prevista por la aplicación con respecto al contenido respectivo, él / ella debe hacerlo a través de su / su cuenta antes de enviar la solicitud de terminación del Servicio.<br/>
Si el usuario termina el servicio y luego volver a registrar para ello el plazo de 1 (un) año desde la terminación, a efectos de efecto y el rendimiento de las obligaciones del Usuario en virtud del presente Servicio se considerará que no ha sido terminado; los términos previstos en estas condiciones de uso no podrán ser interrumpidos; los derechos otorgados antes de la terminación proseguirán sin efecto; cualesquiera otras disposiciones de las condiciones de uso que se usa para atar o restringir al usuario de una manera u otra, no se considerará terminado.<br/>
11. Propiedad Intelectual<br/>
La aplicación contiene contenido (incluyendo, pero no limitado a flujos, emocons, emoticones, etc.) son propiedad o licencia de 1CLICKGAIN ( "Contenido 1CLICKGAIN"). 1CLICKGAIN contenido está protegido por derechos de autor, marcas, patentes, secretos comerciales y otras leyes, y, como entre el Usuario y 1CLICKGAIN, 1CLICKGAIN posee y retiene todos los derechos del contenido 1CLICKGAIN y la aplicación. El Usuario deberá abstenerse de suprimir, alterar u ocultar cualquier derecho de autor, marca registrada, marca de servicio u otros derechos de propiedad incorporados o que acompañan al contenido 1CLICKGAIN y el usuario no podrá reproducir, modificar, adaptar, crear trabajos derivados basados en, ejecutar, exhibir, publicar , distribuir, transmitir, difundir, vender, licenciar o explotar el contenido 1CLICKGAIN.<br/>
1CLICKGAIN no concede ni transfiere al Usuario ninguno de los derechos de autor o derechos conexos (con el software, diseño o cualquier otro objeto que forman parte de la solicitud, así como publicado bajo el nombre de dominio 1CLICKGAIN); 1CLICKGAIN no transfiere ningún medio tangible o derechos sobre ellas, los derechos de marcas comerciales u otros medios de identificación, así como 1CLICKGAIN no concede ningún otro derecho de propiedad intelectual.<br/>
El usuario no obtiene ningún derecho sobre los materiales creados en el curso de las visitas a la aplicación, uso de servicio 1CLICKGAIN y / o el uso de la cuenta (por ejemplo, después de la publicación del contenido), ya que estos materiales son el resultado de las pantallas generadas en el curso del funcionamiento del software que pertenece a 1CLICKGAIN.<br/>
El nombre 1CLICKGAIN no se puede copiar, imitar ni utilizar, en su totalidad o en parte, sin el consentimiento previo por escrito de 1CLICKGAIN. Además, todos los encabezados de página, gráficos personalizados, iconos de botones y secuencias de comandos son marcas de servicio, marcas comerciales y / o imagen de marca de 1CLICKGAIN, y no pueden ser copiados, imitados o utilizados, en todo o en parte, sin el consentimiento escrito de 1CLICKGAIN.<br/>
12. Protección de Datos<br/>
El Usuario entiende y acepta que los datos personales suministrados de esta manera a 1CLICKGAIN a través de la aplicación es necesaria para el funcionamiento de aplicaciones y el desempeño adecuado de las condiciones de uso de 1CLICKGAIN desde el suministro y procesamiento (operaciones con los datos personales, incluyendo su recolección, sistematización, acumulación, almacenar, actualizar, cambiar, distribución, suministro, puesta a disposición del público, etc.) de los datos personales son la esencia y el propósito de la solicitud.<br/>
El Usuario entiende y acepta que todos los datos personales marcadas por 1CLICKGAIN como obligatorios para la presentación es importante para el cumplimiento de las condiciones de uso de 1CLICKGAIN. Cualquier información adicional publicada por el usuario en la solicitud será publicada por el propio / usuario a sí misma con el fin de ponerla a disposición pública en la medida determinada por el usuario a sí mismo / a sí misma y en la medida permitida por la funcionalidad de la aplicación.<br/>
El Usuario entiende y acepta que si él / ella publica sus / sus datos personales en el dominio público (por ejemplo, por medio de la publicación en Internet, incluida la aplicación, redes sociales, etc.), el régimen establecido para los datos personales públicamente disponibles se aplicarán a ella , en particular, por 1CLICKGAIN.<br/>
Los datos personales del usuario serán procesados por 1CLICKGAIN dentro de todo el período del servicio y un año después de la terminación del Servicio (en caso de que el Usuario restaura su / su cuenta). El usuario entiende que 1CLICKGAIN puede eliminar su / su formulario de solicitud, pero puede optar por no eliminar otro Contenido de haber sido escritos por el usuario que puede contener su / sus datos personales.<br/>
1CLICKGAIN podrá utilizar los datos personales a disposición del público con fines publicitarios y en el transcurso de otros tipos de promoción de la aplicación y / o los servicios de 1CLICKGAIN.<br/>
1CLICKGAIN puede procesar los datos del Usuario a efectos estadísticos. En este caso, sin embargo, serán despersonalizados los datos. 1CLICKGAIN no será responsable por el uso de los datos personales del Usuario por otras personas.<br/>
El usuario no debe publicar en los datos personales de aplicaciones de terceros, a menos que de lo contrario explícitamente permitido por la ley. Tan pronto como las operaciones con respecto a determinados datos personales ya no está permitido por la ley, el Usuario debe llevar inmediatamente a la información publicada en la solicitud de conformidad con la ley.<br/>
En caso de la introducción de modificaciones en las condiciones de uso relativos a los datos del usuario, el usuario debe llevar a su / sus datos de conformidad con los nuevos requisitos dentro de los 10 (diez) días hábiles, a menos que 1CLICKGAIN determina un término diferente.<br/>
13. Las interrupciones de servicio y confidencialidad<br/>
Aunque es la intención del 1CLICKGAIN que la aplicación está disponible tanto como sea posible, habrá ocasiones en que el servicio puede ser interrumpido, incluyendo, sin limitación, para el mantenimiento o actualizaciones programadas, para reparaciones de emergencia, o debido a un fallo de los enlaces de telecomunicaciones y / o equipo. Además, 1CLICKGAIN se reserva el derecho de eliminar cualquier contenido de la solicitud por cualquier motivo y sin previo aviso. El contenido quitado de la aplicación puede continuar para ser almacenados por 1CLICKGAIN, incluyendo, sin limitación, con el fin de cumplir con ciertas obligaciones legales, pero puede no ser recuperable sin una orden judicial válida. En consecuencia, 1CLICKGAIN anima al usuario a mantener su / su propia copia de seguridad de su / su contenido. 1CLICKGAIN no será responsable ante el usuario por cualquier modificación, suspensión o interrupción del Servicio, o la pérdida de cualquier contenido. Asimismo, el Usuario reconoce que la Internet puede estar sujeto a las infracciones de seguridad y que la presentación de la información u otro contenido puede no ser seguro.<br/>
Cualquier contenido será no confidencial y no propietaria y 1CLICKGAIN no será responsable del uso o de la divulgación del contenido. La relación del usuario con 1CLICKGAIN no es un tipo confidencial, fiduciaria, u otro de relación especial, y la decisión del usuario a presentar cualquier Contenido no pone 1CLICKGAIN en una posición que es diferente de la posición mantenida por los miembros del público, incluyendo a En cuanto al contenido. Ninguno de los contenidos estará sujeto a ninguna obligación de confidencialidad por parte de 1CLICKGAIN, y 1CLICKGAIN no será responsable de cualquier uso o divulgación de cualquier Contenido proporcionar por el usuario.<br/>
14. Informes de Derecho de Autor y Otros Violaciónes IP<br/>
se recomienda al usuario para informar de cualquier derecho de autor u otros violaciónes IP a 1CLICKGAIN de ninguna manera que él / ella considere pertinentes para 1CLICKGAIN para poder tomar acciones correctivas inmediatas.<br/>
Si el usuario infringe los derechos de propiedad intelectual de terceros, 1CLICKGAIN desactivará la cuenta del usuario a su propia discreción.<br/>
Exclusión de garantías<br/>
El Servicio, incluyendo, sin limitación, CONTENIDO 1CLICKGAIN, se proporciona "TAL CUAL", "SEGÚN DISPONIBILIDAD" Y "CON TODAS LAS FALLAS" y el usuario no podrá exigir o esperar de la SOLICITUD DE TODO MENOS DE LA EXTENSIÓN DEL SERVICIO .1CLICKGAIN NO GARANTIZA COMPATIBILIDAD DE LA APLICACIÓN con otras aplicaciones y no está obligado a proporcionar apoyo técnico CON RESPECTO A LA SOLICITUD. EN LA MEDIDA PERMITIDA POR LA LEY, NI 1CLICKGAIN NOR su empresa matriz ni ninguno de sus empleados, gerentes, funcionarios o agentes (colectivamente, las "PARTES 1CLICKGAIN") REPRESENTAN NI GARANTÍAS O RESPALDO DE CUALQUIER TIPO, expresa o implícita, EN CUANTO A: (a) el servicio; (B) el contenido 1CLICKGAIN; (C) EL CONTENIDO DE USUARIO; O (D) de seguridad asociados al TRANSMISIÓN DE INFORMACIÓN A 1CLICKGAIN O través de la aplicación. ADEMÁS, LAS PARTES 1CLICKGAIN RECHAZAN TODA GARANTÍA, expresa o implícita, incluyendo, pero no limitado a, LAS GARANTÍAS DE COMERCIALIZACIÓN, IDONEIDAD PARA UN PROPÓSITO PARTICULAR, NO INFRACCIÓN, TÍTULO, COSTUMBRE, COMERCIO, disfrute, integración SISTEMA Y LIBERTAD DE VIRUS INFORMÁTICOS.<br/>
LAS PARTES 1CLICKGAIN NO GARANTIZAN QUE EL SERVICIO DE ERRORES O INTERRUPCIONES; Que los defectos sean corregidos; O que el servicio o el servidor que hace que el servicio disponible es libre de cualquier componentes dañinos, incluyendo, sin limitación, VIRUS. LAS PARTES 1CLICKGAIN NO REPRESENTAN NI GARANTIZA QUE LA INFORMACIÓN (incluyendo cualquier instrucción) en la aplicación sea exacta, completa, o útil. LAS PARTES 1CLICKGAIN NO GARANTIZAN QUE EL USO DE LA APLICACIÓN es legal en cualquier jurisdicción en particular, y los partidos 1CLICKGAIN RECHAZAN LAS GARANTÍAS. Algunas jurisdicciones limitan o no permiten la renuncia de garantías implícitas O DE OTRO MODO QUE LA RENUNCIA ANTERIOR NO SE APLICA A algunos usuarios LEY DE DICHA MEDIDA EN LA COMPETENCIA, es aplicable al USUARIO Y ESTOS CONDICIONES DE USO.<br/>
LAS PARTES 1CLICKGAIN no patrocinan CONTENIDO Y RECHAZAN CUALQUIER RESPONSABILIDAD A cualquier persona o entidad por cualquier pérdida, daño (ya sea real, consecuente, punitivo u otro), LESIONES, reclamación, responsabilidad u otra causa de clase o carácter basado en O COMO RESULTADO DE CUALQUIER CONTENIDO.<br/>
Limitación de responsabilidad; Renuncia<br/>
1CLICKGAIN será responsable únicamente por mala conducta intencional que tiene el propósito de violación de sus obligaciones bajo el mismo.<br/>
BAJO NINGUNA CIRCUNSTANCIA LAS PARTES 1CLICKGAIN SER NO RESPONSABLE DE CUALQUIER PÉRDIDA O DAÑO DE CUALQUIER TIPO (incluyendo, sin limitación, DE NINGÚN DAÑO DIRECTO, ECONÓMICO, PUNITIVOS, PÉRDIDAS INDIRECTOS, EJEMPLARES, ESPECIALES, ACCIDENTALES O DAÑOS), que están directa o indirectamente relacionadas con: (a) el servicio; (B) la aplicación; (C) el contenido 1CLICKGAIN; (D) EL CONTENIDO DE USUARIO; (E) EL USO, LA IMPOSIBILIDAD DE USO, O LA EJECUCIÓN DEL SERVICIO Y LA SOLICITUD; (F) las medidas adoptadas en relación con una investigación por las partes 1CLICKGAIN O autoridades policiales acerca del uso del aplicación / servicio; (G) cualquier medida adoptada en relación CON autor u otros titulares de propiedad intelectual; (H) cualquier error u omisión en la operación de la aplicación; O (i) cualquier daño a la computadora de cualquier usuario, el dispositivo móvil u otro equipo o tecnología incluyendo, sin limitación, daños independientemente de la violación de la seguridad o de cualquier virus, errores, manipulación, fraude, error, omisión, interrupción, defecto, demora en la operación o transmisión, línea de computadoras o de la red O CUALQUIER OTRA falla técnica u otra, incluidas, sin limitación, daños PARA LA PÉRDIDA DE BENEFICIOS, PÉRDIDA DE FONDO DE COMERCIO, PÉRDIDA DE DATOS, INTERRUPCIÓN DE TRABAJO, EXACTITUD DE LOS RESULTADOS, O FALLO O MAL FUNCIONAMIENTO, INCLUSO SI PREVISIBLE O incluso aunque las partes 1CLICKGAIN HAN SIDO INFORMADOS DE o debería haber sabido de la posibilidad de tales daños, YA SEA EN UNA ACCIÓN DE CONTRATO, NEGLIGENCIA O AGRAVIO (incluyendo, sin limitación, causados en todo o en parte por negligencia , fuerza mayor, FALLO DE TELECOMUNICACIONES, O ROBO O DESTRUCCIÓN DEL SERVICIO). EN NINGÚN CASO LAS PARTES 1CLICKGAIN SER RESPONSABLE DE LA PÉRDIDA, daño o lesión, incluyendo, sin limitación, muerte o daños personales. EN CASO DE CONFORMIDAD CON LA LEY DE LA COMPETENCIA DEL USUARIO la exclusión o limitación de daños incidentales o emergentes, no está permitido, EN NINGÚN CASO LA RESPONSABILIDAD TOTAL DE LOS 1CLICKGAIN PARTES POR TODOS LOS DAÑOS, PÉRDIDAS O CAUSA O ACCIÓN EXCEDER DOSCIENTOS DÓLARES DE LOS ESTADOS UNIDOS DE AMÉRICA ($ 200.00) o su equivalente en cualquier otra moneda.<br/>
EL USUARIO ACUERDA QUE EN CASO DE EL / ELLA llega a sufrir daños, pérdidas o lesiones que surgen de acciones u omisiones del 1CLICKGAIN, LOS DAÑOS, EN SU CASO, NO son irreparables o suficiente para dar derecho al usuario a una orden que impedía cualquier explotación de CUALQUIER WEB SITIO, SERVICIO, LA PROPIEDAD, producto u otro contenido de propiedad o controladas por las partes 1CLICKGAIN y el usuario no tendrá derechos para prohibir o restringir EL DESARROLLO, producción, distribución, publicidad, exhibición o explotación de cualesquiera SITIO WEB, MATERIALES, PRODUCTOS, SERVICIO u otro contenido de propiedad o controladas por las partes 1CLICKGAIN.<br/>
POR acceder a la aplicación, el usuario entiende que él / ella está renunciando DERECHOS CON RESPECTO A LAS RECLAMACIONES QUE SON EN ESTE MOMENTO DESCONOCIDO o insospechados.<br/>
1CLICKGAIN NO ES responsable de las acciones, contenido, información o datos de DE TERCEROS, Y el usuario suelta 1CLICKGAIN, nuestros directores, funcionarios, empleados y agentes de cualquier RECLAMACIONES Y DAÑOS, conocidos y desconocidos, DERIVADOS DE O EN CUALQUIER FORMA RELACIONADOS CON CUALQUIER RECLAMO el usuario puede tener CONTRA TALES TERCEROS.<br/>
Indemnización<br/>
El Usuario se compromete a defender (a petición del 1CLICKGAIN), compensar y mantener a las Partes 1CLICKGAIN de y contra cualquier reclamación, responsabilidad, daños, pérdidas y gastos, incluyendo, sin limitación, honorarios y costos razonables de abogados, que surja de o en modo alguno accesorio a cualquiera de los siguientes (incluyendo como resultado de las actividades directas de la aplicación o los llevados a cabo en nombre del usuario):<br/>
su / su contenido o su / su acceso o uso de la Aplicación;<br/>
incumplimiento o supuesto incumplimiento de estas condiciones de uso;<br/>
violación de cualquier derecho de terceros, incluyendo, sin limitación, cualquier derecho de propiedad intelectual, publicidad, la confidencialidad, la propiedad o de privacidad;<br/>
violación de las leyes, normas, reglamentos, códigos, estatutos, ordenanzas u órdenes de cualquier autoridad gubernamental o cuasi-gubernamentales, incluyendo, sin limitación, todas las autoridades regulatorias, administrativas y legislativas; o<br/>
cualquier declaración falsa hecha por el usuario.<br/>
El usuario cooperará plenamente como requerido por 1CLICKGAIN en la defensa de cualquier reclamo. 1CLICKGAIN se reserva el derecho de asumir la defensa exclusiva y control de cualquier asunto sujeto a indemnización por parte del usuario, y el usuario no tendrá en ningún caso resolver cualquier reclamación sin el consentimiento previo por escrito de 1CLICKGAIN.<br/>
16. Arbitraje<br/>
Cualquier disputa, controversia o reclamo que surja de o esté relacionada con este Acuerdo de Usuario, o su incumplimiento, rescisión o invalidez, así como el uso de aplicaciones y / o el derecho a la privacidad y / o publicidad serán resueltas mediante arbitraje de conformidad con Arbitraje Reglamento de la CNUDMI. No debería haber una sola arbitraje acordado por las partes dentro de los veinte (20) días siguientes a la recepción de la solicitud de arbitraje por el demandado. Lugar y hora del arbitraje - Ciudad de Panamá, Ciudad de Panamá. El arbitraje se llevará a cabo y una decisión debe ser tomada en Inglés. La decisión del tribunal es definitiva y vinculante para las partes y podrá ser ejecutada en cualquier jurisdicción legal. No obstante cualquier disposición de la ley aplicable, el arbitraje tendrá el derecho de daños y perjuicios, costes de los servicios de abogados o indemnización con motivo de conflicto con estos Términos de usw.<br/>
Las partes renuncian expresamente juicio por jurado. Las reclamaciones pueden presentarse sólo en el propio nombre. Ni el usuario ni 1CLICKGAIN participará en una acción colectiva o arbitraje en toda la clase de las reclamaciones cubiertas por estas Condiciones de Uso. El Usuario se compromete a no participar en las reclamaciones presentadas en un fiscal general privado o capacidad representativa o reclamaciones acumuladas que involucran la cuenta de otra persona, si 1CLICKGAIN es parte en el procedimiento.<br/>
1CLICKGAIN se reserva el derecho a modificar la disposición de resolución de conflictos, pero tales cambios no se aplicará a las controversias que surjan antes de la fecha de vigencia de la enmienda.<br/>
17. Limitación de tiempo en reclamaciones<br/>
Cualquier reclamación que surja de o esté relacionada con la relación del Usuario con 1CLICKGAIN debe ser presentada dentro de un año después que dicho reclamo surgió; de lo contrario, el reclamo tiene permanentemente prohibido.<br/>
18. Ley de Administración<br/>
Estas Condiciones de Uso se regirán e interpretarán de acuerdo con las leyes del Panamá, sin dar efecto a cualquier principio de conflictos de ley y serán específicamente que no se regirán por las convenciones de las Naciones Unidas sobre contratos para la venta internacional de mercancías, si de lo contrario aplicable.<br/>
Acuerdo completo. Transmisión y Cesión<br/>
Estas Condiciones de Uso constituyen el acuerdo completo entre cada usuario y 1CLICKGAIN y gobierna el uso de la Aplicación y reemplaza cualquier acuerdo anterior entre el Usuario y 1CLICKGAIN. El Usuario no podrá ceder las condiciones de uso o cualquier derecho o delegar cualquier obligación, en todo o en parte, ya sea voluntariamente o por ministerio de la ley, sin el consentimiento previo por escrito de 1CLICKGAIN. Cualquier intento de cesión o delegación sin el consentimiento previo por escrito apropiada de 1CLICKGAIN no serán válidos.1CLICKGAIN puede asignar estos Condiciones de uso o cualquier continuación de los derechos sin el consentimiento del usuario.<br/>
Si alguna disposición de estas condiciones de uso es declarada ilegal, nula o inaplicable por cualquier razón durante el arbitraje o por un tribunal de jurisdicción competente, dicha disposición se considerará separable de estos Condiciones de uso y no afectará la validez y aplicabilidad de las disposiciones restantes. El hecho de que 1CLICKGAIN insistir en el estricto cumplimiento de cualquier disposición de estas Condiciones no se interpretará como una renuncia de cualquier disposición o derecho. Ninguna renuncia de cualquiera de estas Condiciones se considerará una renuncia posterior o continuada de dicho término o condición o cualquier otro término o condición.<br/>
19. Las restricciones territoriales<br/>
La información proporcionada en la solicitud no está destinado para su distribución y uso por cualquier persona o entidad en Panamá y en cualquier jurisdicción o país donde dicha distribución o uso sean contrarios a la ley o regulación o que pudiera hacer a un lado 1CLICKGAIN cualquier requisito de registro en dicha jurisdicción o país. Nos reservamos el derecho de restringir el acceso a la aplicación o a cualquier parte de los servicios a cualquier persona, área geográfica o jurisdicción en cualquier momento ya su sola discreción, y para limitar el acceso a cualquier número de cualquier contenido, software, productos, servicios u otras cosas, que proporciona 1CLICKGAIN.<br/>
20. El límite de edad<br/>
registro 1CLICKGAIN toma cuenta de juego y apostar sólo en los clientes que cumplió 12 años (edad límite apropiado o de otra índole adoptadas en el país en cuestión) de edad. 1CLICKGAIN se reserva el derecho de cancelar la transacción, los clientes comprometidos, que no han alcanzado esa edad o clientes que han violado las reglas.<br/>
21. La responsabilidad del titular de la cuenta de apuestas<br/>
Al registrar el juego clientes de cuentas deben proporcionar información precisa sobre su nombre y teléfono.<br/>
Cada autorización o una 1CLICKGAIN llamada telefónica, el cliente debe comprobar su saldo de la cuenta de apuestas. Si el cliente tiene alguna pregunta o malentendidos, debe informar a la 1CLICKGAIN tan pronto como sea posible, señalando el historial de sus transacciones en el momento de la última consulta de saldo.<br/>
Cuando la autorización o llamada telefónica 1CLICKGAIN cliente debe especificar correctamente el nombre de usuario y el teléfono.<br/>
El cliente es responsable de mantener el orden en todos los detalles de su cuenta de juego, especialmente la dirección, número de teléfono y detalles de pagos / banco.<br/>
El cliente es responsable de mantener la confidencialidad de su nombre de usuario y la información de seguridad. Si el cliente está preocupado de que esta información no se mantiene en secreto, lo notificará inmediatamente a la 1CLICKGAIN, a continuación, el cliente recibirá un nuevo detalles de seguridad, y será cancelado todas las nuevas operaciones con las partes antiguas.<br/>
Cualquier apuesta realizada en línea en ese momento, cuando se utiliza el nombre de usuario y número de teléfono (es decir, cuando el cliente ha pasado la autorización), se considerarán válidas. Esta disposición está bajo nuestros criterios de suficiencia de los fondos disponibles y una cantidad de la oferta razonable para la admisión a 1CLICKGAIN.<br/>
Se permite a cada cliente para tener sólo una cuenta en 1CLICKGAIN. Detalles de la cuenta se almacenan en nuestra base de datos y actualizados diariamente. Se encontró que todas las cuentas posteriores que están registrados con la misma dirección código postal / información personal / IP, y que estar relacionada con una cuenta existente cerró inmediatamente y todas las apuestas serán anuladas en la decisión 1CLICKGAIN. 1CLICKGAIN se reserva el derecho de revisar todas las ganancias obtenidas de ese modo. Todos los registros se comprueban para múltiples registros. Por favor, tome esto en consideración.<br/>
Si el cliente proporcione detalles, como su nombre de usuario, que puede ser considerado como que contiene lenguaje ofensivo, 1CLICKGAIN se reserva el derecho de cerrar la cuenta de apuestas del cliente sin ninguna otra explicación.<br/>
En virtud de la "verificación de la identidad del cliente" 1CLICKGAIN obligado a llevar a cabo un seguimiento continuo de:<br/>
- La identidad de los clientes, la debida diligencia y los datos de identificación (por ejemplo, en los documentos de identificación de solicitud);<br/>
- El comportamiento y los hábitos de los clientes, con el fin de confirmar que las operaciones cumplan con la información de contacto disponible en el perfil de riesgo del cliente financiero;<br/>
- Comportamiento y hábitos en los juegos de azar, a fin de confirmar que las operaciones cumplan con la información de contacto disponible en el perfil de riesgo del cliente al cliente.<br/>
La apertura de la cuenta de juego en el 1CLICKGAIN empresa, el cliente está de acuerdo con las acciones anteriores, que podrán tener 1CLICKGAIN con el fin de verificar la identidad del cliente.<br/>
Como cliente, es necesario comprender que los fondos depositados en su cuenta para realizar apuestas, se otorgarán compensación alguna, y la 1CLICKGAIN empresa no deben ser considerados como una institución financiera.<br/>
1CLICKGAIN Empresa se reserva el derecho de cerrar la cuenta de un jugador o se niegan a abrirlo.<br/>
El cliente tiene el derecho en cualquier momento para cerrar mi cuenta, poniéndose en contacto con atención al cliente, lo que hará que todas las acciones necesarias.<br/>
Todas las transacciones son probados por su participación en el lavado de dinero. 1CLICKGAIN Sociedad está obligada a reportar todas las transacciones sospechosas a las autoridades competentes.<br/>
1CLICKGAIN se reserva el derecho de revelar información personal cuando sea requerido por la ley, los 1CLICKGAIN organizaciones que controlan, instituciones o agencias gubernamentales y otras organizaciones autorizadas (por ejemplo, con rango de ley y no) en los casos en que la empresa 1CLICKGAIN consciente de que dicha acción es necesaria , incluyendo pero no limitado a, haciendo que el ensayo actual, por orden de la corte, por orden de la organización que controla 1CLICKGAIN, para la policía, en el curso de los procesos judiciales o investigaciones de eventos deportivos.<br/>
En los casos en que el importe de la retirada de fondos de la cuenta del juego llega a $ 250 (o su equivalente en otra divisa), el examen previsto se llevará a cabo.<br/>
21. Pagos<br/>
Sin 1CLICKGAIN empleado no están en condiciones de brindar cualquier préstamo. responsabilidad del cliente para mantener fondos suficientes en su cuenta para las tarifas respectivas. 1CLICKGAIN se reserva el derecho de anular cualquier apuesta que ha sido aceptado por error cuando la cuenta del cliente no tiene fondos suficientes para pagar tarifa completa.<br/>
Las apuestas realizadas con tarjeta de crédito o débito no serán válidos hasta el momento hasta que 1CLICKGAIN no recibe el pago. Si el evento ya ha comenzado el comercio, y el pago no se recibe, esta tasa se cancelará automáticamente.<br/>
Si por error los fondos se acreditan a la cuenta de juego del cliente, su responsabilidad es notificar 1CLICKGAIN este error sin demora. Cualquier ganancia posterior que reciben los clientes de aviso 1CLICKGAIN sobre este error, independientemente de su relación con el error se considerará inválida y regresará 1CLICKGAIN.<br/>
La obtención de las cuentas de clientes WINS se produce después de la confirmación del resultado final.<br/>
Para las operaciones con su cuenta de juego del cliente sólo se utilice la tarjeta personal de crédito / débito o de otros medios de pago. Cualquier depósito, comprometidos con el uso de la tarjeta de crédito de otra persona / débito o cuenta de otra persona, de retorno, y las tasas pagadas por medio de una tarjeta de este tipo / cuenta cancelada.<br/>
El cliente puede abrir sólo una cuenta. Cualquier cuenta adicional que añade cliente para ser cerradas, y se acreditan a los mismos deberán ser devueltas.<br/>
1CLICKGAIN bajo ninguna circunstancia, en cualquier caso, no será responsable de los daños o pérdidas sin limitación, supuesta o sospecha que es causada por este sitio web o su contenido, incluyendo, sin limitación, retraso o interrupción en la operación o transmisión, fallas en las líneas de comunicación , el uso de cualquier persona o mal uso de los contenidos de esta web, o cualquier contenido errores u omisiones.<br/>
1CLICKGAIN se reserva el derecho de anular cualquiera o todas las apuestas realizadas a un grupo de personas que actúan en connivencia para defraudar 1CLICKGAIN. Puede referirse a personas, familiares, organizaciones, los corredores de apuestas y sus empleados.<br/>
cuenta de juego es una cuenta personal del cliente. Los clientes no están autorizados a vender, transferir, adquirir o disponer de la cuenta, así como no se les permite transferir fondos desde su cuenta de apuestas a la cuenta de otro cliente o recibir fondos en su cuenta de jugador a la cuenta de otro cliente.<br/>
1CLICKGAIN puede cobrar una cuota fija o proporcional al hacer un depósito o pago. Cualquier cargo se indicará claramente cuando la solicitud de pago, y el cliente será capaz de abandonar la operación o seleccionar otro, más barato o libre de pago.<br/>
En algunos casos, la moneda del saldo de su cuenta o moneda de cualquier fondo que retire puede ser diferente de la divisa de depósito. 1CLICKGAIN Empresa se reserva el derecho de cambiar la moneda de su cuenta, hacer pagos y bonificaciones en una moneda diferente. En este caso, se da prioridad a la tasa de cambio en lugar de la tasa de la negociación.<br/>
Todas las operaciones con las cuentas se hacen sólo a la cuenta desde la que se está actualizando.<br/>
Todas las cuentas de depósitos y pagos de la cuenta del cliente está disponible en las secciones de "equilibrio" y "fuerte", que se puede encontrar en la sección "Marketpleys" después de iniciar sesión para acceder a los datos. Una vez que se selecciona un método, es posible ningún tipo de comisión se indicará claramente cuando la solicitud de pago, y el cliente será capaz de abandonar la operación o seleccionar otro, más barato o libre de pago.<br/>
En relación con nuestro cumplimiento con el programa de lavado de dinero, la empresa 1CLICKGAIN se reserva el derecho de limitar la cantidad del pago de $ 100, si el cliente tiene el dinero a su cuenta y no utilizó el dinero que hicieron en las apuestas o juegos<br/>
22. Bonos y Promociones<br/>
La compañía ofrece una gama de bonos GAIN 1CLICK, premios y promociones a sus clientes, que están diseñados exclusivamente para los clientes que participan en los juegos de apuestas y con fines de entretenimiento.<br/>
Al participar en la acción o tomar un bono, usted acepta recibir la correspondencia comercialización de 1CLICKGAIN. Podrá darse de baja de este tipo de comunicaciones.<br/>
Bonos o acciones pueden incluir términos y condiciones de uso específicas, por lo que los clientes deben leer cuidadosamente todos los términos y condiciones adicionales relacionadas con cada bono o acción. En los Términos y Condiciones de bonificación será el número de versión, fecha de la última actualización, y, en su caso, el período de validez.<br/>
1CLICKGAIN se reserva el derecho a rechazar el bono de crédito o la participación en la acción, y también para excluir el cliente de la lista para recibir bonos, premios o acciones 1CLICKGAIN en cualquier momento. Además, 1CLICKGAIN se reserva el derecho de cancelar, modificar, restringir o bonos de congelación, premios o acciones en cualquier momento.<br/>
23. Varios<br/>
La fecha de vigencia de estas condiciones de uso es de 5 de mayo de 2016. Estas Condiciones de Uso fueron escritos en Inglés. En la medida, cualquier versión traducida de estas condiciones de uso entra en conflicto con la versión en Inglés, prevalecerá la versión en inglés.<br/>
Cualquier tipo de comunicación se ha enviado a través de las cuentas dentro de la aplicación (incluyendo, pero no limitado a, las notificaciones sobre el cambio de los datos, avisos de terminación, las peticiones del usuario, etc.) serán válidos, legalmente vinculante y admisibles como prueba.<br/>
Cualquier tipo de comunicación se ha enviado por correo electrónico en los casos previstos en el presente documento será válido, legalmente vinculante y admisibles como prueba en caso de envío:<br/>
si a 1CLICKGAIN - a través de la aplicación de correo electrónico o 1CLICKGAIN, que aparece en el sitio de aplicación (si los hay);<br/>
si al Usuario - a través de la aplicación o SMS al número de teléfono especificado en la solicitud y / o cuenta.<br/>
días hábiles a que se refiere la presente Declaración serán días hábiles Panamá.<br/>
Las Partes se comprometen a actualizar sus datos en una base regular.<br/>
Las Partes reconocen que son plenamente conscientes de la naturaleza del contrato formalizado por estas Condiciones de Uso. El usuario ha familiarizado / a sí misma y entendido las condiciones de uso y las consecuencias legales relacionadas con las condiciones de uso (derechos y obligaciones a continuación). El usuario entiende que la aceptación de las condiciones de uso confirma que el usuario ha estudiado, entendido y acordado con las condiciones de uso.<br/>
<br/>
