Пользовательское соглашение<br/>
Это Пользовательское соглашение вступают в силу с 11 января 2016.<br/>
Регистрируясь в приложении HenesiZ ("Приложение"), вы полностью и безоговорочно согласны с Пользовательским соглашением ("Пользовательское соглашение"), а также с юридически обязывающими документами, включенными в настоящее Пользовательское соглашение посредством ссылки. Приложения принадлежит и контролируется HenesiZ,  Ltd. ("Henesiz").
Пользовательское соглашение (требует только одного согласия) создает договорные отношения между HenesiZ и вами, затрагивая юридические права и обязанности. Если вы не согласны с Пользовательским соглашением или, если любое из этих Правил неясны вам, не регистрируйтесь в приложении до полного согласия и ясности.
Сервис предоставляется Пользователям на основе функционала приложения и виджета, технических ограничений и других условий оказания услуг (использование приложения), а также на основе Пользовательского соглашения, размещенного HenesiZ на страницах приложения, должны быть обязательными для Сторон.
Термины и определения<br/>
Аккаунт или учетная запись означает технические средства и системы идентификации пользователя внутри приложения, позволяющие пользователю отправлять в Приложение (для публичного доступа) и / или HenesiZ определенную информацию и другой контент, управлять им (добавлять, изменять и удалять), а также чтобы получить доступ к соответствующей функции приложения (доступна только для пользователя, как человек, зарегистрированного в приложении).
Приложение означает мобильное онлайн приложение и виджет, которое принадлежит и контролируется HenesiZ, доступ в который предоставляется в соответствии с Пользовательским соглашением.
HenesiZ означает общество с ограниченной ответственностью "HenesiZ", созданной и существующей в соответствии с законодательством Кипра.
Контент означает любые данные, текст, файлы, информационные, имена пользователей, изображений, графику, фотографии, профили, аудио- и видеоклипы, звуки, музыкальные произведения, авторские произведения, приложения, ссылки и другие содержимые или материалы, представленные, размещенных или отображаемых с помощью Приложения, независимо от того, содержат или нет передаваемые данные специальное значение, является незначительным или ценным и т.д.
Стороны означает HenesiZ и каждый из пользователей.<br/>
Сервис	означает предоставление HenesiZ пользователям доступ к функционалу приложения для целей размещения контента в порядке, описанном в п. 1 настоящего Соглашения.
Предмет<br/>
В соответствии с настоящими Пользовательским соглашением HenesiZ обеспечивает для пользователей сервис размещения контента в Приложении, и предоставления доступа к содержанию контента третьим лицам. Размещение контента пользователем в приложении, осуществляется в силу предоставления контента HenesiZ через Аккаунты (если иное не указано HenesiZ, размещение происходит автоматически с помощью программного обеспечения Приложения). Процесс размещения может быть осуществлен следующим образом:<br/>
-  в силу прямой загрузки Пользователем Контента на серверы HenesiZ, или<br/>
- в силу предоставления в HenesiZ данных о том, где такой Контент хранится и откуда он может быть загружен в Приложение с использованием специального программного кода (в том числе, как правило, программное обеспечение сторонних производителей), если такие загрузки поддерживается Приложением и сторонними сервисами (например, такая технология поддерживается в видео-сервисе youtube.com).<br/>
Основной функционал приложения предоставляется бесплатно. HenesiZ вправе предложить или ввести дополнительные услуги или функционал приложения на платной основе. Услуги должны быть предусмотрены в соответствии с и в рамках Пользовательского соглашения. HenesiZ может определить специальные условия для конкретной услуги, а в случае каких-либо противоречий с Пользовательским соглашением, условиях, установленных HenesiZ для конкретной услуги, должны преобладать.
HenesiZ информирует пользователя о всех специальных условиях и платных услугах, в том числе о цены, прежде, чем услуга будет куплена.
Для того, чтобы использовать платную услугу, пользователь должен заказать/оплатить ее или иначе выразить его/ее согласия с ней. Если иное не установлено условиями сервиса, оплата считается принятием Пользователем всех условий и положений соответствующей услуги.
Все возможные средства платежа должно быть обозначены HenesiZ в приложении.<br/>
Если иное не установлено HenesiZ, услуга считается надлежащим образом оказанной и принятой Пользователем, если Пользователь не отослал письменные претензии HenesiZ в течение 5 (пяти) рабочих дней следующих (I) после фактического завершения предоставления услуг, как это определяется или подразумеваемых в природе соответствующей услуги или (II) обнаружения дефекта в зависимости от того, что происходит раньше.
HenesiZ может предоставить определенным пользователям дополнительные функции и возможности по своему усмотрению.
Регистрация и удаление аккаунта.<br/>
Любое лицо, которое имеет необходимую правоспособность для заключения договора в силу согласования с настоящим Пользовательским соглашением в соответствии с законодательством страны и его юрисдикции может быть Пользователем.
Регистрация осуществляется Пользователем автоматически (без участия HenesiZ), как это предусмотрено HenesiZ в Приложении. Регистрация может быть осуществлена только путем заполнения формы приложения Пользователем самим. Пользователь соглашается передать все необходимых данных HenesiZ, а также с те, к которому приложение будет иметь доступ, например, его/ее контактам.
Регистрация не допускается без полного и безоговорочного согласия Пользователя с Пользовательским соглашением.
После регистрации создается аккаунт пользователя. Доступ к аккаунту предоставляется через идентификацию личности по номеру мобильного телефона.
Пользователь не может предоставить доступ к его / ее аккаунту какой-либо третьей стороне. Пользователь может иметь только один аккаунт. Если это ограничение не соблюдается, HenesiZ имеет право заблокировать доступ ко всем аккаунтам пользователя или определенным аккаунтам, а также удалить все или некоторые аккаунты. Такое нарушение может быть основанием для отказа в повторной регистрации пользователя в приложении (в том числе тех случаях, когда HenesiZ удалил все аккаунты пользователя).
Прекращение аккаунта означает удаление из приложения всего контента, размещенного Пользователем, в том числе персональных данных (HenesiZ имеет право не удалять контент, имеющий отношение к другим пользователям, например, комментарии других пользователей и / или их контент, сообщения и другой контент, к которому другие пользователи оставили сообщения, ответы или комментарии, и т.д.), а также отмену регистрации, что приводит к потере доступа к Приложению и прекращения договорных отношений.
По окончании, все права, предоставленные пользователю в настоящем Пользовательском соглашении будут немедленно аннулированы.
Права, обязанности и ответственность пользователя<br/>
Пользователь должен ознакомиться и соблюдать Пользовательское соглашение и другие условия, связанные с ним, размещённые в Приложении и установленные HenesiZ (например, Руководство по отчетности и противодействию нарушениям и Политики конфиденциальности). Пользователь может выбирать, кто видит его контент и действия<br/>
Пользователь может использовать приложение только в рамках функционала, предусмотренного им.<br/>
Пользователь не может создавать или добавлять контент, содержащий насилие, мошенничество, эротику, обнаженные части тела, частично обнаженные части тела, дискриминацию, незаконные действия, нарушения закона, пропаганду насилия, порнографию или сексуально провоцирующие изображения, или другое содержание с помощью приложения.<br/>
Пользователь несет ответственность за любую деятельность, которая происходит через его / ее аккаунт и обязуется не продавать, передавать, лицензировать или передавать права на аккаунт, имя пользователя, или любой другой аккаунт. Пользователю запрещается и не должен создавать никаких аккаунт ни для кого, кроме самого себя. Пользователь заявляет, что вся информация, предоставленная HenesiZ при регистрации и во всех других случаях будет правдивой, точной, актуальной и полной, и Пользователь обязуется обновить его / ее информацию, необходимую для поддержания его личности.<br/>
Пользователь не должен запрашивать, собирать или использовать учетные данные других пользователей в приложении.<br/>
Пользователь несет ответственность за сохранение его / ее пароля в тайне и безопасность приложения.<br/>
Пользователь не должен порочить, хулиганить, злоупотреблять, беспокоить, угрожать, мошенничать или запугивать других людей или организации и не должны публиковать личную или конфиденциальную информацию с помощью приложения, в том числе, информацию о кредитных картах любого другого человека, пользователя или информацию социального страхования или альтернативных национальных идентификационных номеров, непубличные телефоны или непубличные электронные адреса.<br/>
Пользователь не может использовать приложение для любой незаконной или несанкционированной цели. Пользователь должен соблюдать все законы, правила и инструкции (федеральные, государственные, местные и провинциальные), применимые к использованию приложения, сервиса и контента, в том числе, но не ограничиваясь, законами об авторских правах.<br/>
Пользователь должен воздерживаться от использования различных технических уязвимостей приложения (например, "ошибок", "дыр\", и т.д.) и в случае, если они выявлены, пользователь должен уведомить HenesiZ, как можно скорее, по электронной почте или через Аккаунт, если такая техническая возможность предусмотрена в приложении.<br/>
Пользователь не должен создавать или представить нежелательную электронную почту, комментарии, лайки или другие формы коммерческой или избыточной повторяющейся информации ("спам") через приложение. Независимо от характера и контента таких сообщений, если такие виды коммуникаций не явно разрешены и предусмотрены функционалом приложения, они не допускаются.<br/>
Пользователь не должен использовать свои доменные имена или веб-адреса, без предварительного письменного согласия с HenesiZ.<br/>
Пользователь не должен вмешиваться или нарушать работу серверов или сетей, связанных с Сервисом, в том числе путем передачи любых червей, вирусов, программ-шпионов, вредоносных программ или любых других кодов разрушительной природы, а также адаптировать или декомпилировать программное обеспечение или уклоняться от технических средств защиты. Пользователь не может добавлять Контент, или код, или иным образом изменять или вмешиваться в пути любой страницы приложения, которые отображаются в браузере пользователя или устройстве.<br/>
Пользователь не должен создавать учетные записи используя несанкционированные средства, в том числе, но не ограничиваясь этим списком, с помощью автоматизированного устройства, скриптов, ботов, спайдеров, краулеров или скраперов.<br/>
Пользователь не должен пытаться ограничивать других Пользователей в использовании Сервиса и не должны поощрять или облегчать нарушения этого Пользовательского соглашения или любых других условий HenesiZ.<br/>
Пользователь должен воздерживаться от повторного размещения сообщений и другого контента на страницах приложения, если такое размещение делает использование / посещаемость соответствующих страницах приложения обременительным или не соответствуют целям соответствующих страницах, в частности, если опубликованное сообщение не несет никакой новой полезной информации по сравнению с тем, что уже было сделано, это будет расценено, как "флуд".<br/>
Пользователь обязуется не использовать приложения для рекламных целей (например, постоянно отправлять сообщения о каком-либо продукте или услуге в целях их продвижения). Если HenesiZ становится известно о рекламных материалах, размещенных Пользователем (ссылка, комментарий или другой контент пользователя), HenesiZ может, по своему собственному усмотрению блокировать (сделать недоступным для третьих лиц) или удалить такой Контент; а в случае неоднократного нарушения Пользователем - блокировать или удалить его / ее аккаунт.<br/>
Пользователю запрещается crawling, scraping, caching или иным другим способом получать доступ к Контенту в приложение с помощью автоматизированных средств, в том числе, но не ограничиваясь этим списком, к профилям и фотографиям пользователей (за исключением случаев, которые могут быть результатом стандартных протоколов поисковой или иной технологии, используемых при поисковом движке и с согласия HenesiZ).<br/>
Пользователь должен определить средства использования программы в рамках возможностей, предоставляемых в ней настоящим Пользовательским соглашением и функционалом приложения. Пользователь несет полную ответственность за размещенных контента человека, чьи права были нарушены, а также за нарушение настоящего Пользовательского соглашения.<br/>
Пользователь несет ответственность за все расходы, которые он / она понесли во время использования аккаунта.<br/>
При размещении Контента Пользователь должен действовать разумно, законно и добросовестно, и HenesiZ будет опираться на веру в такое разумное, законное и хорошего поведения Пользователя.<br/>
Пользователь несет полную ответственность за взаимодействие с другими Пользователями, Сервиса, будь то онлайн или в автономном режиме. HenesiZ не несет ответственности за поведение любого пользователя.<br/>
Пользователь несет полную ответственность за свои действия и за действия любых третьих лиц, получающих доступ к его / ее аккаунт (из-за его потери, кражи, утечки пароля, а также взлома аккаунта). В случае каких-либо сомнений, пользователь должен изменить пароль аккаунта.<br/>
Права, обязанности и ответственность HenesiZ<br/>
HenesiZ не контролирует (рассматривает, утверждает или одобряет) Контент Пользователя за исключением случаев, предусмотренных явно, в частности, HenesiZ не контролирует Контент страницы пользователя (страницы приложения, которые пользователь имеет право изменять и / или которые он / она изменяет). HenesiZ обеспечивает Пользователю техническую возможность для создания страниц в приложении (в том числе заявок и анкет). HenesiZ не имеет никакого обязательства предусматривать, осматривать, редактировать или удалять любой Контент. Если контент нарушает Пользовательское соглашение, пользователь может нести юридическую ответственность за опубликованный Контент.
HenesiZ не инициирует публикацию контента. Публикация Контента Пользователем осуществляется по его / ее инициативе и в силу Приложения автоматизированных технических средств и программного обеспечения HenesiZ. HenesiZ не контролирует какие-либо конкретные публикации, их содержание, выбор или одобрение конечных пользователей контента (посетителей приложения).
HenesiZ не изменяет контент, размещенный Пользователем. Возможные технические изменения не затрагивают суть.<br/>
HenesiZ может использовать технические средства для отслеживания и исключения (путем удаления или скрытия) публикации и комментариев, обратной связи, сообщений и другого контента одного и того же лица с разных аккаунтов, а также группой аффилированных лиц, когда такое размещение не соответствует цели аккаунта и создает эффект, который бы не существовало в ходе нормальной работы приложения. HenesiZ имеет право принять меры, чтобы остановить такую деятельность, также в случае получения жалобы от третьего лица. В обоих указанных случаях решение принимается по собственному усмотрению HenesiZ, и Пользователь обязан принять его, независимо от его / ее собственной оценки указанных обстоятельств, а также независимо от других обстоятельств.<br/>
HenesiZ оставляет за собой право в одностороннем порядке расторгнуть или блокировать\скрыть (сделать недоступным для третьих лиц) любой Контент, приостановить или ограничить доступ Пользователя к аккаунту, в одностороннем порядке отказаться от услуг и исполнения Пользовательского соглашения, ограничивать или блокировать доступ пользователя к Приложению, если HenesiZ становится известно (в том числе от третьих лиц), что использование Приложении пользователем нарушает или способствует нарушение прав HenesiZ, третьих лиц (в том числе других пользователей и / или посетителей Приложения), положение любого внутреннего и международного законодательства или права. В любом случае, HenesiZ не изменяет Контент.<br/>
HenesiZ может предпринять меры, описанные в предыдущем пункте, без предварительного уведомления Пользователя, если он сочтет немедленное реагирование на нарушения необходимым. Пользователь принимает такие меры, независимо от их оценки.<br/>
Несмотря на то, HenesiZ не претендует на владение любым Контентом, размещенным через Приложение, HenesiZ может использовать контент, в том числе опубликованный пользовательский контент (например, фотографии, видео), используя неисключительные права, безвозмездную передачу прав, сублицензирование (HenesiZ может передать или сублицензировать право использовать контент третьим лицам), и регистрация в приложении пользователя обеспечивает его / ее безусловное согласие на такое сублицензирование, получение HenesiZ международной лицензии с помощью любых средств без ограничения территории в течение всего срока использования приложения, в том числе анонимно (без указания имени пользователя и правообладателей). HenesiZ не должен предоставлять какие-либо отчеты пользователю об использовании Контента.
HenesiZ можете скопировать контент, размещенный Пользователем в Приложении.<br/>
HenesiZ оставляет за собой право изменить или прекратить обслуживание пользователя и его доступ в приложение (порядок предоставления доступа к приложению, алгоритм работы приложения, структуры приложений), по любой причине, без предварительного уведомления в любое время и без ответственности перед Пользователь. В случае изменения Приложения способ отображения контента (но не самого контента) в Приложении может измениться. В случае прекращения предоставления услуг аккаунта пользователя не будет больше доступен (например, третьи лица не смогут перейти на его страницу аккаунта и увидеть другие страницы пользователя), но соответствующее контент и данные могут сохраняться и отображаться в Сервисе (например, если Контент был задействован в другом контенте или в рамках сотворчества с контентом другого пользователя).
HenesiZ оставляет за собой право отказать в доступе к Сервису любому человеку по любой причине в любое время.<br/>
HenesiZ оставляет за собой право конфискации имени любого пользователя по любой причине.<br/>
HenesiZ может, но не обязаны, удалять, редактировать, блокировать, и / или контролировать контент или Учетные записи, содержащие контент, который, как определяет HenesiZ по своему усмотрению, нарушает это Пользовательское соглашение.
Там могут быть ссылки из приложения или из сообщений, полученных от Приложения, на сторонние веб-сайты или сервисы. Там также могут быть ссылки на сторонние веб-сайты или упоминания в изображениях или комментариях в приложении. Приложение также включает в себя контент третьих сторон, который HenesiZ не контролирует, сохраняет или одобряет. Функционалом Приложения может также допускаться взаимодействие между приложением и веб-сайтами третьих лиц или сервисов, в том числе приложений, которые подключаются к приложению или профилю пользователя в Приложение через веб-сайта третьей стороны или сервисы. HenesiZ не управляет этими сторонними веб-сервисами или любым их контентом. Пользователь явно признает и соглашается с тем, что это HenesiZ ни в коем случае несет ответственность за любые такие сторонние услуг или сервисы. Переписка и бизнес-сделка Пользователя с третьими сторонами, произведенные через приложение, ведутся исключительно между Пользователем и третьей стороной.
Подключая сторонние приложения, Пользователь признает его / ее понимание того, что это может привести к доступу к его / ее персональной информации, которая может быть публично раскрыта и связана с личностью пользователя, даже если HenesiZ не сам предоставляет эту информацию, и что использование такого приложения третьего стороны он осуществляет на свой страх и риск, и пользователь обязуется не подвергать HenesiZ опасности, связанной со сторонними приложениями.
HenesiZ можете публиковать рекламу и продвижение в Приложение или в сочетании с контентом пользователя. Порядок, форма и объем такой рекламы и продвижения могут быть изменены без специального уведомления Пользователя.<br/>
Заверения и гарантии Пользователя<br/>
Пользователь заявляет и гарантирует, что:<br/>
- пользователь имеет законное право и способность принять это Пользовательское соглашение в рамках его / ее юрисдикции;<br/>
- информация, загруженная через приложение, в том числе персональные данные (указывается при регистрации или после их обновление) верна и подлинна,
- пользовательский контент, публикуемый через приложение или иным образом, обладает всеми правами и лицензиями, указанными в настоящем Пользовательском соглашении, что Контент не нарушает права третьих лиц и любые применимые правила (федеральные, государственные, местные, провинциальные или международные);
- размещение и использование Контента через приложение не нарушает или присваивает права третьих лиц, в том числе, без ограничения, права на конфиденциальность, гласность, авторские права, торговую марку и / или другую интеллектуальную собственность;
- пользователь заплатил или должен оплатить все гонорары, сборы и любые другие деньги в связи с какой-либо третьей стороной, которая обладает правами на Контент, размещенный на Сайте или через приложение;
- пользователь осознает, как третьи лица получают доступ к размещенному Контенту и имеют возможности взаимодействия с ним (например, комментируя);
- пользователь является единственным, имеющим доступ к его / ее аккаунту, и любые операции, проводимые через аккаунт считаются сделанными пользователем.<br/>
Изменение и прекращение обслуживания<br/>
HenesiZ оставляет за собой право, по своему собственному усмотрению, в одностороннем порядке изменять настоящее Пользовательское соглашение ("Обновление соглашения») время от времени. HenesiZ должны сообщить о таких изменениях по электронной почте и / или через аккаунт. HenesiZ может, хотя не обязан уведомить пользователя об изменении в условиях, включённых в Пользовательское соглашение путем ссылки. Если иное не установлено обновленным соглашением или уведомлением о внесении изменений в Пользовательское соглашение, обновленные Правила вступают в силу со дня, следующего за днем их принятия; Поправки, устанавливающие новые требования, вступают в силу в течение 3 (трех) календарных дней со дня их принятия. Если Пользователь не отказался от использования Сервиса в соответствии с настоящим разделом до даты вступления в силу обновленного соглашения, считается, что Пользователь полностью и безоговорочно согласился с обновленным соглашением.
HenesiZ может в одностороннем порядке отказаться от исполнения услуг, если Пользователь нарушил какой-либо из положений Пользовательского соглашения или иным создает риск или возможно нарушает правовую защищенность HenesiZ, или если его / ее действия противоречат установленным правилам использования приложения, которые не соответствуют общим правилам поведения в приложении или противоречит идее, концепции или «духу» Приложения. Соглашение будет считаться расторгнутым вне суда с момента прекращения доступа Пользователя к его / ее аккаунту и отправки уведомления о прекращении службы по электронной почте пользователя (если адрес электронной почты был предоставлен). При этом HenesiZ имеет право приостановить или заморозить аккаунт пользователя (в той степени, в какой она сочтет это целесообразным).
HenesiZ может в любое время в одностороннем порядке и без рассуждения полностью или частично прекратить предоставление услуг Сервиса и уведомить пользователя в течение 3 (трех) календарных дней через аккаунт в Приложении или по электронной почте (при условии, что соответствующий адрес электронной почты указан в аккаунте Пользователя).
Пользователь может в любой момент в одностороннем порядке полностью или частично прекратить пользоваться Сервисом, путем направления уведомления HenesiZ по электронной почте (при условии, что соответствующий адрес электронной почты указывается в приложении). Пользователь может также прекратить пользоваться Сервисом путем направления соответствующего запроса через его / ее аккаунт, если Приложение предусматривает такую техническую возможность.
Если иное не предусмотрено в настоящем документе или по соглашению между Пользователем и HenesiZ, предоставление доступа к Сервису прекращается в момент прекращения действия аккаунта Пользователя, но будет продолжаться в объеме, предусмотренном в настоящем документе (например, в отношении положений о защите данных) или быть доступным в приложении или в других местах  (например, разрешение на использование Контента Пользователя, предоставленного Пользователем в соответствии и в силу настоящего Пользовательского соглашения).
При расторжении отношений, HenesiZ, как правило должны удалить аккаунт пользователя и всю информацию о пользователе (в том числе его / ее анкету / страницы в приложении), но сохранить Контент, размещенный Пользователем (комментарии, сообщения, и т.д.). Если пользователь желает удалить этот Контент и такая возможность предоставлена в приложении в отношении соответствующего контента, он / она должен сделать это с помощью его / ее аккаунт до отправки запроса о прекращения предоставлений услуг Сервиса.
Если пользователь прекращает отношения с сервисом и заново регистрируется в течение 1 (одного) года после прекращения отношений в целях восстановления и исполнение обязательств Пользователя по настоящему Пользовательскому соглашению, считаются, что отношения не были прекращены; сроки, предусмотренные в настоящем Пользовательском соглашении не будет прерваны; права, предоставленные до прекращения продолжают иметь силу; любые другие положения Пользовательского соглашения, которые используются, чтобы связать или ограничить пользователя, так или иначе, не считаются расторгнутым.<br/>
Интеллектуальная Собственность<br/>
Приложение содержит контент, принадлежащий или лицензированный HenesiZ ("Контент HenesiZ"). Контент HenesiZ защищен авторским правом, торговой маркой, патентом, коммерческой тайной и другими законами, и в отношениях между Пользователем и HenesiZ, HenesiZ владеет и сохраняет все права на контент HenesiZ и его применение. Пользователь не может удалять, изменять или скрывать уведомления об авторских правах, товарных знаках, знаках обслуживания или другие права собственности, включенные в систему или сопровождающие Контент HenesiZ, и пользователь не может воспроизводить, изменять, адаптировать, создавать производные работы, основанные на нем, публиковать, отображать, публиковать, распространять, передавать, продавать, лицензировать или иным образом использовать Контент HenesiZ.
HenesiZ не предоставляет или передает Пользователям любые авторские права или смежных прав (на программное обеспечение, дизайн или какие-либо другие объекты, входящие в состав приложения, а также присутствующие в доменном имени HenesiZ); HenesiZ не передает какие-либо материальные носители или права на них, права на товарные знаки или другую идентификацию средств, а также HenesiZ не предоставляет каких-либо других прав на его интеллектуальную собственность.
Пользователь не получает какие-либо прав на материалы, созданные в ходе визитов в Приложение, использование услуг HenesiZ  и / или использования аккаунта (например, после публикации контента), поскольку такие материалы являются результатом публикации, генерируемой в итоге эксплуатации программного обеспечения, принадлежащего HenesiZ.
HenesiZ не может быть скопирован, дублирован или использовать в целом или по частям, без предварительного письменного разрешения HenesiZ. Кроме того, все заголовки страниц, графика, значки кнопок и скрипты являются копирайтом, товарными знаками и / или и интеллектуальной собственностью HenesiZ, и не может быть скопированы, дублированы или использованы в целом или по частям, без предварительного письменного разрешения от HenesiZ.<br/>
Защита данных<br/>
Пользователь понимает и соглашается с тем, что все личные данные, предоставленные HenesiZ через приложение, необходимы для функционирования приложений и надлежащего исполнения Пользовательского соглашения; Это положение и обработка (операции с персональными данными, включая сбор, систематизацию, накопление, хранение, обновление, изменение, распределение, предоставление, публикация для общественности и т.д.) персональных данных являются сущностью и целью Приложения. Без обработки персональных данных невозможно создать социальную сеть - сообщество и базу данных людей, авторов, пользователей, открытых для общения, получения и обмена информацией, опытом и т.д.<br/>
При этом часть этих данных обрабатывается HenesiZ, но не появляется в интернете для общественного доступа, в то время как часть подлежит гласности. Пользователь при заполнении данных увидит, к какой категории (скрытый или открытый) данные относятся. С помощью технической возможности, предоставляемой HenesiZ, Пользователь имеет право определять доступность персональных данных, предоставленных HenesiZ третьим лицам (посетителям и / или другим пользователям приложения).<br/>
Способы обработки персональных данных, как правило, включают в себя получение личных данных через формы, заполняемые пользователем внутри приложения, и запись полученных данных в базу данных HenesiZ. Такие данные могут быть собраны третьими сторонами в ходе размещения комментариев на страницах в Приложении.<br/>
Если HenesiZ имеет техническую возможность, пользователь должен быть в состоянии передать его / ее личные данные с помощью сторонних приложений (например, социальные сети).<br/>
HenesiZ имеет право собирать данные пользователя из открытых источников и / или получать от третьих лиц с целью проверки точности данных, предоставленных пользователем.
Пользователь понимает и соглашается с тем, что все личные данные, отмеченные HenesiZ в качестве обязательных, необходимы для выполнения Пользовательского соглашения HenesiZ. Любая дополнительная информация, размещенная Пользователем в приложении, должны быть опубликована самим Пользователем с целью сделать ее общедоступной в степени, определяемой Пользователем самим и в пределах, разрешенных функционалом приложений. Объем опубликованной информации определяется пользователем в пределах допустимых функционалом приложения (HenesiZ не должно использовать допустимых пределов распространения общественной информации).
Пользователь понимает и соглашается с тем, что, если он / она публикует его / ее личные данные в открытом доступе (например, путем размещения в интернете, в том числе через приложения, социальные сети и т.д.), это соответствует его выбору доступа к информации в приложении и соответствует всем нормам для общедоступных персональных данных (даже если более строгий режим для тех же данных устанавливается в Пользовательском соглашении). Пользователь понимает, что в этом случае HenesiZ имеет право использовать для обработки его / ее личные данные в не меньшей степени, чем это разрешено законом третьим лицам.
Пользователь понимает, что, когда он / она обеспечивает доступ в приложении третьим лицам для оказание услуг по сбору статистики о Приложении (интернет счетчикам), собирается техническая информация об устройстве пользователя, через которое осуществляется доступ в приложение, в том числе: IP-адрес, местоположения устройства, информацию о операционной системе, интернет-браузера, разрешение экрана. Эта информация может быть использована HenesiZ для целей идентификации Пользователя в процессе пользования Приложением согласно Пользовательскому соглашению, а также для целей развития приложений и оптимизации Приложения для пользователя.
HenesiZ обрабатывает персональные данные в соответствии с действующим законодательством и Пользовательским соглашением.
Для целей соблюдения Пользовательского соглашения личные данные пользователя будут обработаны HenesiZ в течение всего периода предоставления Сервиса и одного года после прекращения предоставления этих услуг (в случае, если Пользователь захочет восстанавливает его / ее аккаунт). Пользователь понимает, что HenesiZ может удалить его / ее аккаунт, но может не удалить Контент, размещенный пользователем, который может содержать его / ее личные данные (при отправке Пользователь понимает, что она размещена в общественном доступе). HenesiZ может по своему усмотрению прекратить обработку персональных данных Пользователя до указанного срока, уничтожив его аккаунт.
Пользователь может удалить некоторые из его / ее персональных данных через аккаунта. При этом, если благодаря представлению таких данных пользователю было предоставлены бонусы, преференции или дополнительные возможности, пользователь должен потерять права на них, и обязан возместить все убытки HenesiZ за понесенные расходы.
Пользователь понимает, что личные данные, предусмотренные в Пользовательском соглашении требуется для его соблюдением. Таким образом, в случае удаления Пользователем всех его / ее персональных данных или данных, обозначенных как обязательные (например, в виде анкеты в приложении), HenesiZ может отказаться от предоставления услуг Сервиса в одностороннем порядке в результате прекращения действия Аккаунта. Заявка на удаление персональных данных должны быть написана Пользователем в письменной форме в офисе HenesiZ или может быть направлены в адрес HenesiZ при условии нотариального удостоверения подписи. Удаление может также быть выполнено с помощью аккаунтом в Приложении в порядке, установленном в нем.
Пользователь позволяет HenesiZ использовать контактную информацию, представленную им, для целей продвижения товаров, работ и услуг на рынке путем прямых контактов с Пользователем, в том числе с целью информирования пользователя о внесении изменений в приложение, о, или через, или посредством конкурсов и мероприятий, организованных HenesiZ, и т.д. Это разрешение может быть отозвано пользователем через его / ее аккаунт в Приложении, в порядке, установленном в нем.
HenesiZ может использовать общедоступные персональные данные (в том числе данные, доступные третьим лицам через Приложения) в рекламных целях и в ходе других видов продвижения приложения и / или услуг HenesiZ.
HenesiZ обязуется принимать решения на основании чисто автоматизированной обработки данных, исключая данные личного характера, но включая данные, которые могут нести правовые последствия в отношении Пользователя или иначе затрагивающие его / ее права и интересы, когда речь идет о предоставлении дополнительных прав / возможностей Пользователю (например, скидки на услуги Сервиса, дополнительный функционал в Приложении, розыгрыш призов в виде товаров и услуг и т.д.).
HenesiZ может обрабатывать данные пользователя для статистических целей. В этом случае, однако, данные обезличены. Пользователь принимает и соглашается с тем, что HenesiZ может сделать его / ее данные публичными при их обезличивании (для статистических целей), а именно: без упоминания фамилии, имени и отчества и других данных Пользователя, которые могут послужить идентификацией личности.
HenesiZ не несет ответственности за использование личных данных Пользователя другими лицами (в том числе, например, когда он находится в открытом доступе).
Подробная политика защиты данных находится по адресу  http://henesiz.com/legal и может быть обновляться время от времени. Соглашаясь с этим документом пользователь соглашается с тем, что он понимает и будет исполнять политику защиты данных.
Пользователь не должен размещать персональных данных третьих сторон, если иное явно не разрешено законом. Как только производится любая операция по отношению к определенным персональным данным, которая больше не соответствует закону, Пользователь должен немедленно привести информацию, размещенную в Приложении, в соответствии с законом.
В случае внесения изменений в Пользовательское соглашение, относящихся к данным Пользователя, Пользователь должен привести его / ее данные в соответствие с новыми требованиями в течение 10 (десяти) рабочих дней, если не HenesiZ определит иной срок.
Неполадки и Конфиденциальность<br/>
Несмотря на намерение HenesiZ, чтобы приложение было доступно как можно дольше, будут случаи, когда услуги Сервиса может быть прерваны, в том числе, без ограничения, для планового обслуживания или модернизации, для аварийного ремонта, или из-за отказа телекоммуникационных связей и / или оборудования. Кроме того, HenesiZ оставляет за собой право удалить любой Контент по какой-либо причине, без предварительного уведомления. Контент удалены из приложения может продолжать храниться HenesiZ, в том числе, без ограничения, в целях соблюдения определенных правовых обязательств, но не может быть извлечена без действительного ордера суда. Следовательно, HenesiZ призывает Пользователя хранить его / ее собственный резервную копию его / ее контента. HenesiZ не несет ответственности перед Пользователем за любые изменения, приостановку или прекращение работы Сервиса, или потерю любого контента. Пользователь также признает, что Интернет может быть предметом нарушения безопасности и публичного обнародования контента или другой информации и не может быть безопасным.
Любой контент считается не конфиденциальным и не имущественным, HenesiZ не несет ответственности за любое использование или публикацию в общественном доступе контента. Отношения пользователя с HenesiZ не конфиденциальны, не является отношением с доверенным лицом, или другим типом особых отношений, и решение пользователя представить любой Контент HenesiZ, не отличается от позиции, занимаемой представителями широкой общественности, в том числе в связи с Контентом. Контент не будет подвергаться каким-либо проверкам или процедурам проверки со стороны HenesiZ, и HenesiZ не несет ответственности за любое использование или публикацию любого контента пользователем.
Авторское право и другие нарушения IP<br/>
Пользователю рекомендуется сообщать о любых нарушениях авторских прав или других нарушения IP в HenesiZ любым способом, который он / она находит подходящим, чтобы HenesiZ имел возможность принять незамедлительные меры.
Если Пользователь нарушает права третьих лиц на интеллектуальную собственность, HenesiZ имеет право удалить учетную запись пользователя по своему усмотрению.
Отказ от гарантийных обязательств<br/>
СЕРВИС, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, КОНТЕНТ HENESIZ, ПРЕДОСТАВЛЯЕТСЯ НА УСЛОВИЯХ "КАК ЕСТЬ", "КАК ДОСТУПНО" И "СО ВСЕМИ ОШИБКАМИ" И ПОЛЬЗОВАТЕЛЬ НЕ МОЖЕТ ТРЕБОВАТЬ ИЛИ ОЖИДАТЬ ОТ ПРИЛОЖЕНИЯ НИЧЕГО БОЛЕЕ СВЕРХ ДАННОЙ ОБЛАСТИ СЕРВИСА. HENESIZ НЕ ГАРАНТИРУЕТ СОВМЕСТИМОСТИ ПРИЛОЖЕНИЯ С ДРУГИМИ ПРИЛОЖЕНИЯМИ И ОКАЗАНИЯ ИЛИ ТРЕБОВАНИЙ ТЕХНИЧЕСКОЙ ПОДДЕРЖКИ ПО ОТНОШЕНИЮ К ПРИЛОЖЕНИЮ. В ПОЛНОЙ МЕРЕ, ДОПУСТИМОЙ ЗАКОНОМ, НИ HENESIZ, НИ МАТЕРИНСКАЯ КОМПАНИЯ, НИ СОТРУДНИКИ, РУКОВОДИТЕЛИ, ДОЛЖНОСТНЫЕ ЛИЦА ИЛИ АГЕНТЫ (СОВМЕСТНО ИМЕНУЕМЫЕ «СТОРОНЫ» HENESIZ) НЕ МОГУТ ДЕЛАТЬ НИКАКИХ ЗАЯВЛЕНИЙ, ИЛИ ГАРАНТИЙ, ИЛИ ПОДТВЕРЖДЕНИЯ ЛЮБОГО РОДА, ЯВНЫХ ИЛИ ПОДРАЗУМЕВАЕМЫХ, СВЯЗАННЫХ С: (A) СЕРВИСОМ; (Б) КОНТЕНТОМ HENESIZ; (С) ПОЛЬЗОВАТЕЛЬСКИМ КОНТЕНТОМ; ИЛИ (D), БЕЗОПАСНОСТЬЮ, СВЯЗАННУЮ С ПЕРЕДАЧЕЙ ИНФОРМАЦИИ ЧЕРЕЗ HENESIZ ИЛИ ЧЕРЕЗ ПРИЛОЖЕНИЕ. КРОМЕ ТОГО, СТОРОНЫ ОТКАЗЫВАЮТСЯ ОТ ВСЕХ ГАРАНТИЙ, ЯВНЫХ ИЛИ ПОДРАЗУМЕВАЕМЫХ, ВКЛЮЧАЯ, НО НЕ ОГРАНИЧИВАЯСЬ, ГАРАНТЯМИ ПРИГОДНОСТИ ДЛЯ КОНКРЕТНЫХ ЦЕЛЕЙ, ПРАВ СОБСТВЕННОСТИ, ОБЫЧАЕВ, БЕСПРЕПЯТСТВЕННОЙ ТОРГОВЛИ, СИСТЕМЫ ИНТЕГРАЦИИ И СВОБОДЫ ОТ КОМПЬЮТЕРНЫХ ВИРУСОВ.
СТОРОНА HENESIZ НЕ ГАРАНТИРУЕТ, ЧТО СЕРВИС БУДЕТ СУЩЕСТВОВАТЬ БЕЗ ОШИБОК ИЛИ СБОЕВ; ЧТО ДЕФЕКТЫ БУДУТ ИСПРАВЛЕНЫ; ИЛИ ЧТО СЕРВИС ИЛИ СЕРВЕР, КОТОРЫЙ ДЕЛАЕТ СЕРВИС ДОСТУПНЫМ СВОБОДЕН ОТ ЛЮБЫХ ВРЕДНЫХ КОМПОНЕНТОВ, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЯ, ВИРУСЫ. СТОРОНА HENESIZ НЕ ДЕЛАЕТ НИКАКИХ ЗАЯВЛЕНИЙ И ГАРАНТИЙ, ЧТО ИНФОРМАЦИЯ (ВКЛЮЧАЯ ЛЮБЫЕ ИНСТРУКЦИИ) В ПРИЛОЖЕНИИ БУДЕТ ТОЧНОЙ, ПОЛНОЙ ИЛИ ПОЛЕЗНОЙ. СТОРОНА HENESIZ НЕ ГАРАНТИРУЕТ, ЧТО ИСПОЛЬЗОВАНИЕ ПРИЛОЖЕНИЯ ЗАКОННО В КАКОЙ-ЛИБО ЮРИСДИКЦИИ, И СТОРОНА HENESIZ НАСТОЯЩИМ ОТКАЗЫВАЕТСЯ ОТ ТАКИХ ГАРАНТИЙ. НЕКОТОРЫЕ ЮРИСДИКЦИИ ОГРАНИЧИВАЮТ И НЕ ПОЗВОЛЯЮТ ОСУЩЕСТВИТЬ ЭТОТ ОТКАЗ ОТ ПОДРАЗУМЕВАЕМЫХ ИЛИ ДРУГИХ ГАРАНТИЙ, ВЫШЕОБОЗНАЧЕННЫЕ ОГРАНИЧЕНИЯ МОГУТ НЕ ПРИМЕНЯТЬСЯ К НЕКОТОРЫМ ПОЛЬЗОВАТЕЛЯМ, ЕСЛИ В ИХ ЮРИСДИКЦИИ ЭТОТ ЗАКОН НЕ ПРИМЕНИМ ДЛЯ ПОЛЬЗОВАТЕЛЯ И НАСТОЯЩЕГО ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ.
СТОРОНА HENESIZ НЕ ОТВЕЧАЕТ И НЕ ПОДДЕРЖИВАЕТ КОНТЕНТ И ОТКАЗЫВАЕТСЯ ОТ ЛЮБОЙ ОТВЕТСТВЕННОСТИ ПЕРЕД ЛЮБЫМ ЛИЦОМ ИЛИ ОРГАНИЗАЦИЕЙ ЗА ЛЮБОЙ УШЕРБ, ПОВРЕЖДЕНИЕ (КАК ФАКТИЧЕСКИХ, ТАК КОСВЕННЫЕ, ШТРАФНЫЕ ИЛИ ПРОЧИЕ), ТРАВМЫ, ПРЕТЕНЗИИ, ОБЯЗАТЕЛЬСТВА ИЛИ ДРУГИЕ ВИДЫ УЩЕРБА ЛЮБОГО ВИДА ИЛИ ХАРАКТЕРА, ОСНОВЫВАННЫЕ НА РЕЗУЛЬТАТЕ ПУБЛИКАЦИИ ЛЮБОГО КОНТЕНТА.
Ограничение ответственности<br/>
HenesiZ несет ответственность только за умышленные неправомерные действия, имеющие целью нарушение своих обязательств по настоящему Договору.
НИ ПРИ КАКИХ ОБСТОЯТЕЛЬСТВАХ СТОРОНЫ HENESIZ НЕ НЕСЕТ ОТВЕТСТВЕННОСТИ ЗА КАКОЙ-ЛИБО УЩЕРБ ИЛИ УБЫТКИ ЛЮБОГО РОДА (ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, ЗА ЛЮБЫЕ ПРЯМЫЕ, КОСВЕННЫЕ, ЭКОНОМИЧЕСКИЕ, ШТРАФНЫЕ, ОСОБЫЕ, ШТРАФНЫЕ, СЛУЧАЙНЫЕ ИЛИ КОСВЕННЫЕ УБЫТКИ ИЛИ УЩЕРБЫ), КОТОРЫЕ ПРЯМО ИЛИ КОСВЕННО СВЯЗАНЫ С: (A) СЕРВИСОМ; (Б) СЕРВИСОМ; (С) КОНТЕНТОМ HENESIZ; (D), ПОЛЬЗОВАТЕЛЬСКИМ КОНТЕНТОМ; (Е) ПРИЛОЖЕНИЕМ, НЕВОЗМОЖНОСТЬЮ ИСПОЛЬЗОВАНИЯ ИЛИ ВЫПОЛНЕНИЕ ОБСЛУЖИВАНИЯ ПРИЛОЖЕНИЯ; (F) ЛЮБЫМ ДЕЙСТВИЕ, ПРЕДПРИНЯТЫМ В СВЯЗИ С РАССЛЕДОВАНИЕ ДЕЙСТВИЙ СТОРОНЫ HENESIZ, ИЛИ ПРАВООХРАНИТЕЛЬНЫМИ ОРГАНАМИ В ОТНОШЕНИИ ИСПОЛЬЗОВАНИЯ ПРИЛОЖЕНИЯ / СЕРВИСА; (G), ЛЮБЫМ ДЕЙСТВИЕМ, ПРЕДПРИНЯТЫМ В СВЯЗИ С НАРУШЕНИЕМ АВТОРСКИХ ПРАВ ИЛИ ДРУГИХ ПРАВ ВЛАДЕЛЬЦЕВ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ; (Н) ЛЮБЫМИ ОШИБКАМИ ИЛИ УПУЩЕНИЯМИ В ОПЕРАЦИЯХ ПРИЛОЖЕНИЯ; ИЛИ (Я) ЛЮБЫМ ПОВРЕЖДЕНИЕМ ЛЮБОГО КОМПЬЮТЕРА ПОЛЬЗОВАТЕЛЯ, МОБИЛЬНОГО УСТРОЙСТВА ИЛИ ДРУГОГО ОБОРУДОВАНИЯ ИЛИ ТЕХНОЛОГИИ, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, УЩЕРБ ОТ ЛЮБОГО НАРУШЕНИЯ БЕЗОПАСНОСТИ ИЛИ ДЕЙСТВИЯ ЛЮБОГО ВИРУСА, ОШИБКИ, ПОДДЕЛКИ, МОШЕННИЧЕСТВА, УПУЩЕНИЯ, ПРЕРЫВАНИЯ, ДЕФЕКТА, ЗАДЕРЖКИ РАБОТА, СБОЯ КОМПЬЮТЕРНОЙ ЛИНИИ ИЛИ СБОЯ СЕТИ, ИЛИ ЛЮБОЙ ДРУГОГО ТЕХНИЧЕСКОГО СБОЯ, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, УЩЕРБ ОТ ПОТЕРИ ПРИБЫЛИ, ПОТЕРИ РЕПУТАЦИИ, ПОТЕРИ ДАННЫХ, ПРЕКРАЩЕНИЕ РАБОТЫ, ТОЧНОСТЬ РЕЗУЛЬТАТОВ, ИЛИ ОТКАЗ КОМПЬЮТЕРА ИЛИ ЕГО НЕИСПРАВНОСТЬ, ДАЖЕ ЕСЛИ ОНИ ПРЕДСКАЗУЕМЫ, ДАЖЕ ЕСЛИ СТОРОНЕ HENESIZ БЫЛО ИЗВЕСТНО ИЛИ ДОЛЖНО БЫЛО ИЗВЕСТНО О ВОЗМОЖНОСТИ ТАКОГО УЩЕРБА, НЕЗАВИСИМО ОТ ДЕЙСТВИЯ ДОГОВОРА, ХАЛАТНОСТИ, ПРЯМОЙ ОТВЕТСТВЕННОСТИ ИЛИ ПРАВОНАРУШЕНИЯ (ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, БУДЬ ТО ПО ПРИЧИНЕ ПОЛНОЙ ИЛИ ЧАСТИНОЙ НЕОСТОРОЖНОСТИ , СТИХИЙНЫХ БЕДСТВИЙ, ТЕЛЕКОММУНИКАЦИОННЫХ ПОМЕХ, ИЛИ КРАЖИ, ИЛИ УНИЧТОЖЕНИЯ СЕРВИСА). НИ В КОЕМ СЛУЧАЕ СТОРОНА HENESIZ НЕ БУДЕТ НЕСТИ ОТВЕТСТВЕННОСТИ ПЕРЕД КЕМ-ЛИБО ЗА ПОТЕРИ, УЩЕРБ ИЛИ ВРЕД, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЯ, СМЕРТЬ ИЛИ ТРАВМЫ. В СЛУЧАЕ В СООТВЕТСТВИИ С ЗАКОНОМ ЮРИСДИКЦИИ ПОЛЬЗОВАТЕЛЯ ИСКЛЮЧЕНИЕ ИЛИ ОГРАНИЧЕНИЯ СЛУЧАЙНОГО ИЛИ КОСВЕННГО УЩЕРБА НЕ ДОПУСКАЕТСЯ, НИ В КОЕМ СЛУЧАЕ ОБЩАЯ ОТВЕТСТВЕННОСТЬ СТОРОНЫ HENESIZ ЗА ЛЮБОЙ УЩЕРБ, УБЫТКИ, ПРИЧИНЫ ИЛИ ДЕЙСТВИЯ НЕ МОЖЕТ ПРЕВЫШАТЬ ДВУХ СОТ ДОЛЛАРОВ США ($ 200.00) ИЛИ ЭКВИВАЛЕНТА В ЛЮБОЙ ДРУГОЙ ВАЛЮТЕ.
ПОЛЬЗОВАТЕЛЬ СОГЛАШАЕТСЯ, ЧТО В СЛУЧАЕ ЕСЛИ ОН / ОНА НЕСЕТ КАКОЙ-ЛИБО УЩЕРБ, УБЫТКИ ИЛИ ПОВРЕЖДЕНИЯ, КОТОРЫЕ ВОЗНИКАЮТ ИЗ ДЕЙСТВИЯ ИЛИ БЕЗДЕЙСТВИЯ HENESIZ, УЩЕРБ, ЕСЛИ ТАКОВОЙ ИМЕЕТСЯ, НЕ НЕПОПРАВИМЫЙ ИЛИ ДОСТАТОЧНЫЙ, ЧТОБЫ ДАТЬ ПРАВО ПОЛЬЗОВАТЕЛЮ НА СУДЕБНЫЙ ЗАПРЕТ ВСЯКОЙ ЭКСПЛУАТАЦИИ ЛЮБОГО ВЕБ-САЙТА, ПРИЛОЖЕНИЯ, НЕДВИЖИМОСТИ, ТОВАРА ИЛИ ДРУГОГО КОНТЕНТА, ПРИНАДЛЕЖАШЕГО ИЛИ КОНТРОЛИРУЕМОГО СТОРОНОЙ HENESIZ, НЕ ДАЕТ ПРАВА ПРИОСТАНАЛИВАТЬ, МЕШАТЬ ИЛИ ЗАМОРАЖИВАТЬ ЭКСПЛУАТАЦИЮ, РАЗВИТИЕ, ПРОИЗВОДСТВО, РАСПРЕДЕЛЕНИЕ, РЕКЛАМУ, ВЫСТАВКУ ИЛИ РАБОТУ ЛЮБОГО ВЕБ-САЙТА, ПРИЛОЖЕНИЯ, НЕДВИЖИМОСТИ, ПРОДУКТА, СЕРВИСА, ИЛИ ДРУГОГО КОНТЕНТА В СОБСТВЕННОСТИ ИЛИ ПОД КОНТРОЛЕМ СТОРОНЫ HENESIZ.
ПОЛУЧАЯ ДОСТУП К ПРИЛОЖЕНИЯ, ПОЛЬЗОВАТЕЛЬ ПОНИМАЕТ, ЧТО ОН ОТКАЗЫВАЕТСЯ ОТ ПРАВ В ОТНОШЕНИИ ПРЕТЕНЗИЙ, О КОТОРЫХ ДО ЭТОГО ОН НЕ МОГ ЗНАТЬ.
HENESIZ НЕ НЕСЕТ ОТВЕТСТВЕННОСТИ ЗА ДЕЙСТВИЯ, КОНТЕНТ, ИНФОРМАЦИЮ ИЛИ ДАННЫЕ ОПУБЛИКОВАННЫЕ ТРЕТЬИМИ ЛИЦАМ И ПОЛЬЗОВАТЕЛЕМ, НАШИМИ ДИРЕКТОРАМИ, ДОЛЖНОСТНЫМИ ЛИЦАМИ, СОТРУДНИКАМИ И АГЕНТАМИ, НЕ НЕСЕТ ОТВЕТСВЕННОСТЬ ЗА ЛЮБЫЕ ПРЕТЕНЗИИ И УЩЕРБ, ИЗВЕСТНЫЙ И НЕИЗВЕСТНЫЙ, ВОЗНИКАЮЩИЙ В ПОСЛЕДСТВИИ ИСКА ПОЛЬЗОВАТЕЛЯ ПРОТИВ ЛЮБЫХ ТРЕТЬИХ ЛИЦ.
Компенсация<br/>
Пользователь соглашается предоставить защиту (по желанию HenesiZ) или возместить ущерб HenesiZ. Стороны отрицают любые претензии, ответственность, убытки и расходы, включая, без ограничения, разумные гонорары адвокатов и расходы, возникающие в связи с любым из следующих (в том числе в результате непосредственной деятельности Приложения или Пользователя) положений:<br/>
- его / ее контента или его / ее доступа или использования приложения;<br/>
- нарушение или предполагаемое нарушение настоящего Пользовательского соглашения;<br/>
- нарушение любого стороннего права, включая, без ограничения, либо права на интеллектуальную собственность, публичность, конфиденциальность, прав имущества или личную жизнь сторон;<br/>
- нарушение каких-либо законов, правил, нормативов, уставов, постановлений или распоряжений любых правительственных и квази-правительственных органов, в том числе, без ограничения, всех нормативных, административных и законодательных органов власти; или<br/>
- любое искажение или диффамацию, осуществленную Пользователем.<br/>
Пользователь будет сотрудничать в полной мере, которую потребует HenesiZ, для защите от любых претензий. HenesiZ оставляет за собой право брать на себя исключительную защиту и контроль любого вопроса, подлежащего возмещению Пользователя, и Пользователь в любом случае не может выносить какие-либо претензии без предварительного письменного согласия HenesiZ.<br/>
Арбитраж<br/>
Любой спор, разногласие или требование, возникающие из или в связи к настоящим Пользовательским соглашением, или нарушением, прекращением или его недействительностью, а также применением Приложения, и / или правом на частную жизнь и / или рекламу, разрешаются путем арбитража в соответствии с Арбитражным регламентом UNCITRAL.  Место или время проведения арбитража – города Ларнаки, Кипра. Арбитражное разбирательство должно проводиться и решение должно быть вынесено на английском языке. Решение суда является окончательным и обязательным для сторон и может быть исполнено в любой судебной юрисдикции. Несмотря на любое положение применимого законодательства, арбитраж не будет иметь права присуждать убытки, расходы за оказание услуг адвокатов или компенсации в следствии конфликта с этими Пользовательским соглашением.<br/>
Стороны настоящим прямо отказываются от суда с участием присяжных заседателей. Претензии могут быть предъявлены только от собственного имени. Ни Пользователь, ни HenesiZ не будет участвовать в других типах суда, кроме арбитража для устранения любых претензий, описанных в этом Пользовательском соглашении. Пользователь также соглашается не принимать участия в исках в с участием генерального прокурора или его представителя, или в консолидированной претензии, массовых исках, связанных с аккаунтом другого человека, если HenesiZ является участником разбирательства.<br/>
HenesiZ оставляет за собой право изменять положение разрешения споров, но любые такие изменения не будут применяться к спорам, возникшим до вступления в силу поправки.
Время подачи претензии<br/>
Любые претензии, вытекающие или связанные с отношениями пользователя и HenesiZ, должны быть поданы в течение одного года после возникновения такого иска; в противном случае, претензии считаются недействительными.<br/>
Управляющий закон<br/>
Это Пользовательское соглашение регулируется и толкуется в соответствии с законодательством Кипра, БЕЗ УЧЕТА КАКИХ-ЛИБО ПРИНЦИПОВ КОЛЛИЗИОННОГО ПРАВА, И НЕ БУДЕТ РЕГУЛИРОВАТЬСЯ КОНВЕНЦИЯМИ ОРГАНИЗАЦИИ ОБЪЕДИНЕННЫХ НАЦИЙ О ДОГОВОРАХ ПО МЕЖДУНАРОДНОЙ ТОРГОВЛЕ, ЕСЛИ ИНОЕ ПРИМЕНИМО.<br/>
Соглашение в целом. Передача и Распределение<br/>
Это Пользовательское соглашение представляют собой полное соглашение между Пользователем и HenesiZ и регулирует использование Приложения, заменяя собой любые предыдущие соглашения между Пользователем и HenesiZ. Пользователь не может получить никакие права сверх, обозначенных в Пользовательском соглашении, или делегировать какие-либо обязательства по настоящему Договору, в целом или частями, будь то добровольно или в силу закона, без предварительного письменного согласия HenesiZ. Любая передача или делегирование без соответствующего предварительного письменного согласия HenesiZ будет недействительной. HenesiZ может назначить это Пользовательское соглашение или любые правила Договором без согласия пользователя.<br/>
Если какое-либо положение настоящего Пользовательского соглашения будет признано незаконным, недействительным или по какой-либо причине не имеющей законной силы во время арбитража или суда компетентной юрисдикции, то такое положение будет считаться отделенным от настоящего Пользовательского соглашения и не влияет на действительность и силу остальных положений. Отказ HenesiZ обеспечить строгое выполнение любого положения настоящих Условий не будет толковаться как отказ от какого-либо положения или права. Отказ от любого из этих Условий не будет считаться дальнейшим или продолжающимся отказом от такого положения или условия, или любого другого условия или положения.<br/>
Территориальные ограничения<br/>
Информация, представленная в приложении не предназначена для распространения или использования любым физическим или юридическим лицом в любой юрисдикции или стране, где такое распространение или использование противоречило бы закону или нормативным актам или которые будут выдвигать в сторону HenesiZ любые требования о регистрации в такой юрисдикции или стране. Мы оставляем за собой право ограничить доступ в приложение или к любой части услуг любому лицу, географической области, или юрисдикции, в любое время и по нашему собственному усмотрению, а также ограничить доступ к любому количеству любого контента, программ, продуктов, услуг или прочего, которые обеспечивает HenesiZ.<br/>
Другое<br/>
Датой вступления в силу настоящего Пользовательского соглашения является 11 января 2016 года, изначально соглашение было написано на английском языке. Любой переведенный вариант настоящего Пользовательского соглашения не может конфликтовать с оригиналом и ссылается на него, английская версия является приоритетной и первичной.<br/>
Любые виды сообщений, отправленные через аккаунт в приложении (включая, но не ограничиваясь, уведомлениями об изменении реквизитов, прекращением действия аккаунта, запросы пользователя, и т.д.) должны быть действительными, юридически приемлемыми в качестве доказательства подлинности.<br/>
Любые виды коммуникации, отправленные по электронной почте в случаях, предусмотренных в настоящем документе должны быть действительны, юридически приемлемыми в качестве доказательства при отправке:<br/>
- если в адрес HenesiZ - адреса электронной почты HenesiZ, который указан в Приложении, в том числе тех адресов, которые доступны через аккаунты;<br/>
- если в адрес Пользователя -  адрес электронной почты, указанный в приложении и / или аккаунте.<br/>
Рабочие дни, указанные в настоящем документе должны считаться рабочими днями в городе Ларнака, Кипр.<br/>
Стороны обязуются обновлять свои данные регулярно.<br/>
Стороны признают, что они полностью осведомлены о природе договора формализованного настоящими Пользовательским соглашением. Пользователь ознакомился и понял Пользовательское соглашение и правовые последствия, связанные с ним (права и обязанности по настоящему Договору). Пользователь понимает, что принятие Пользовательского соглашения подтверждает, что пользователь изучил, понял и согласился с Пользовательским соглашением.<br/>